:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, section blockquote, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, section blockquote + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  section blockquote + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  section blockquote + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  section blockquote + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  section blockquote + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title, section .wide-title + blockquote {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title, section blockquote {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title, section blockquote {
    font-size: 36px; }
  blockquote.medium-title, section blockquote {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title, section blockquote {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title, section blockquote {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title, section blockquote {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

html {
  scroll-behavior: smooth;
  scroll-margin: 120px; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    scroll-margin: 120px; } }

a {
  text-decoration: none; }
  a:hover {
    color: #FFF;
    text-decoration: none; }

.btn, .btn-primary, .btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn, section.contact--main form input[type="submit"],
.btn-secondary, .btn-secondary--right, .primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn, nav.main-navigation ul li.btn-primary-child a, .btn-secondary--down, .hero--generic-hero .cta .btn, .btn-white, .btn-link, .btn-arrow {
  border-radius: 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.9px; }

.btn-primary, .btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn, section.contact--main form input[type="submit"],
.btn-secondary,
.btn-secondary--right,
.primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn,
nav.main-navigation ul li.btn-primary-child a,
.btn-secondary--down,
.hero--generic-hero .cta .btn {
  font-weight: 500;
  font-style: italic;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  display: inline-block;
  color: #FFF;
  background-color: #0C0130; }
  .btn-primary::before, .btn-primary--right::before, .white--bg .cta .btn::before, .white--bg .cta .btn-primary::before,
  .white--bg .cta .btn-secondary::before, .white--bg .cta .btn-secondary--right::before, .white--bg .cta nav.main-navigation ul li.btn-primary-child a::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta a::before, .white--bg .cta .btn-secondary--down::before, .white--bg .cta .btn-white::before, .white--bg .cta .btn-link::before, .white--bg .cta .btn-arrow::before,
  .white--bg .cta--text-block .btn::before, .white--bg .cta--text-block .btn-primary::before,
  .white--bg .cta--text-block .btn-secondary::before, .white--bg .cta--text-block .btn-secondary--right::before, .white--bg .cta--text-block nav.main-navigation ul li.btn-primary-child a::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta--text-block a::before, .white--bg .cta--text-block .btn-secondary--down::before, .white--bg .cta--text-block .btn-white::before, .white--bg .cta--text-block .btn-link::before, .white--bg .cta--text-block .btn-arrow::before, section.contact--main form input[type="submit"]::before,
  .btn-secondary::before,
  .btn-secondary--right::before,
  .primary-color--bg .cta .btn::before,
  .primary-color--bg .cta--text-block .btn::before,
  nav.main-navigation ul li.btn-primary-child a::before,
  .btn-secondary--down::before,
  .hero--generic-hero .cta .btn::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .btn-primary:hover, .btn-primary--right:hover, .white--bg .cta .btn:hover, .white--bg .cta .btn-primary:hover,
  .white--bg .cta .btn-secondary:hover, .white--bg .cta .btn-secondary--right:hover, .white--bg .cta nav.main-navigation ul li.btn-primary-child a:hover, nav.main-navigation ul li.btn-primary-child .white--bg .cta a:hover, .white--bg .cta .btn-secondary--down:hover, .white--bg .cta .btn-white:hover, .white--bg .cta .btn-link:hover, .white--bg .cta .btn-arrow:hover,
  .white--bg .cta--text-block .btn:hover, .white--bg .cta--text-block .btn-primary:hover,
  .white--bg .cta--text-block .btn-secondary:hover, .white--bg .cta--text-block .btn-secondary--right:hover, .white--bg .cta--text-block nav.main-navigation ul li.btn-primary-child a:hover, nav.main-navigation ul li.btn-primary-child .white--bg .cta--text-block a:hover, .white--bg .cta--text-block .btn-secondary--down:hover, .white--bg .cta--text-block .btn-white:hover, .white--bg .cta--text-block .btn-link:hover, .white--bg .cta--text-block .btn-arrow:hover, section.contact--main form input:hover[type="submit"],
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .primary-color--bg .cta .btn:hover,
  .primary-color--bg .cta--text-block .btn:hover,
  nav.main-navigation ul li.btn-primary-child a:hover,
  .btn-secondary--down:hover,
  .hero--generic-hero .cta .btn:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; }
    .btn-primary:hover::before, .btn-primary--right:hover::before, .white--bg .cta .btn:hover::before, .white--bg .cta .btn-primary:hover::before,
    .white--bg .cta .btn-secondary:hover::before, .white--bg .cta .btn-secondary--right:hover::before, .white--bg .cta nav.main-navigation ul li.btn-primary-child a:hover::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta a:hover::before, .white--bg .cta .btn-secondary--down:hover::before, .white--bg .cta .btn-white:hover::before, .white--bg .cta .btn-link:hover::before, .white--bg .cta .btn-arrow:hover::before,
    .white--bg .cta--text-block .btn:hover::before, .white--bg .cta--text-block .btn-primary:hover::before,
    .white--bg .cta--text-block .btn-secondary:hover::before, .white--bg .cta--text-block .btn-secondary--right:hover::before, .white--bg .cta--text-block nav.main-navigation ul li.btn-primary-child a:hover::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta--text-block a:hover::before, .white--bg .cta--text-block .btn-secondary--down:hover::before, .white--bg .cta--text-block .btn-white:hover::before, .white--bg .cta--text-block .btn-link:hover::before, .white--bg .cta--text-block .btn-arrow:hover::before, section.contact--main form input[type="submit"]:hover::before,
    .btn-secondary:hover::before,
    .btn-secondary--right:hover::before,
    .primary-color--bg .cta .btn:hover::before,
    .primary-color--bg .cta--text-block .btn:hover::before,
    nav.main-navigation ul li.btn-primary-child a:hover::before,
    .btn-secondary--down:hover::before,
    .hero--generic-hero .cta .btn:hover::before {
      opacity: 0; }

.btn-primary::before, .btn-primary--right::before, .white--bg .cta .btn::before, .white--bg .cta .btn-primary::before,
.white--bg .cta .btn-secondary::before, .white--bg .cta .btn-secondary--right::before, .white--bg .cta nav.main-navigation ul li.btn-primary-child a::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta a::before, .white--bg .cta .btn-secondary--down::before, .white--bg .cta .btn-white::before, .white--bg .cta .btn-link::before, .white--bg .cta .btn-arrow::before,
.white--bg .cta--text-block .btn::before, .white--bg .cta--text-block .btn-primary::before,
.white--bg .cta--text-block .btn-secondary::before, .white--bg .cta--text-block .btn-secondary--right::before, .white--bg .cta--text-block nav.main-navigation ul li.btn-primary-child a::before, nav.main-navigation ul li.btn-primary-child .white--bg .cta--text-block a::before, .white--bg .cta--text-block .btn-secondary--down::before, .white--bg .cta--text-block .btn-white::before, .white--bg .cta--text-block .btn-link::before, .white--bg .cta--text-block .btn-arrow::before, section.contact--main form input[type="submit"]::before {
  border: 1.2px solid #0C0130;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  opacity: 1;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s; }

.btn-primary:hover, .btn-primary--right:hover, .white--bg .cta .btn:hover, .white--bg .cta .btn-primary:hover,
.white--bg .cta .btn-secondary:hover, .white--bg .cta .btn-secondary--right:hover, .white--bg .cta nav.main-navigation ul li.btn-primary-child a:hover, nav.main-navigation ul li.btn-primary-child .white--bg .cta a:hover, .white--bg .cta .btn-secondary--down:hover, .white--bg .cta .btn-white:hover, .white--bg .cta .btn-link:hover, .white--bg .cta .btn-arrow:hover,
.white--bg .cta--text-block .btn:hover, .white--bg .cta--text-block .btn-primary:hover,
.white--bg .cta--text-block .btn-secondary:hover, .white--bg .cta--text-block .btn-secondary--right:hover, .white--bg .cta--text-block nav.main-navigation ul li.btn-primary-child a:hover, nav.main-navigation ul li.btn-primary-child .white--bg .cta--text-block a:hover, .white--bg .cta--text-block .btn-secondary--down:hover, .white--bg .cta--text-block .btn-white:hover, .white--bg .cta--text-block .btn-link:hover, .white--bg .cta--text-block .btn-arrow:hover, section.contact--main form input:hover[type="submit"] {
  background-color: #060017; }

.btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn {
  position: relative;
  padding-right: 50px !important; }
  .btn-primary--right::after, .white--bg .cta .btn-primary::after, .white--bg .cta .btn-primary--right::after, .white--bg .cta .btn::after, .white--bg .cta section.contact--main form input[type="submit"]::after, section.contact--main form .white--bg .cta input[type="submit"]::after,
  .white--bg .cta .btn-secondary::after, .white--bg .cta .btn-secondary--right::after, .white--bg .cta nav.main-navigation ul li.btn-primary-child a::after, nav.main-navigation ul li.btn-primary-child .white--bg .cta a::after, .white--bg .cta .btn-secondary--down::after, .white--bg .cta .btn-white::after, .white--bg .cta .btn-link::after, .white--bg .cta .btn-arrow::after,
  .white--bg .cta--text-block .btn::after {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }


.btn-secondary,
.btn-secondary--right,
.primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn,
nav.main-navigation ul li.btn-primary-child a,
.btn-secondary--down,
.hero--generic-hero .cta .btn {
  background-color: #A8392E; }
  
  .btn-secondary::before,
  .btn-secondary--right::before,
  .primary-color--bg .cta .btn::before,
  .primary-color--bg .cta--text-block .btn::before,
  nav.main-navigation ul li.btn-primary-child a::before,
  .btn-secondary--down::before,
  .hero--generic-hero .cta .btn::before {
    border-color: #A8392E; }
  
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .primary-color--bg .cta .btn:hover,
  .primary-color--bg .cta--text-block .btn:hover,
  nav.main-navigation ul li.btn-primary-child a:hover,
  .btn-secondary--down:hover,
  .hero--generic-hero .cta .btn:hover {
    background-color: #943229; }
  .btn-secondary--right, .primary-color--bg .cta .btn,
  .primary-color--bg .cta--text-block .btn, nav.main-navigation ul li.btn-primary-child a {
    position: relative;
    padding-right: 50px !important; }
    .btn-secondary--right::after, .primary-color--bg .cta .btn::after,
    .primary-color--bg .cta--text-block .btn::after, nav.main-navigation ul li.btn-primary-child a::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }
  .btn-secondary--down, .hero--generic-hero .cta .btn {
    position: relative;
    padding-left: 45px !important;
    padding-right: 20px !important; }
    .btn-secondary--down::after, .hero--generic-hero .cta .btn::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      left: 10px;
      right: auto;
      background-size: auto 22px;
      background-image: url("../../../../images/arrows/arrow-down--white.png"); }

.btn-white {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-white--right {
    padding-right: 50px !important; }
    .btn-white--right::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }

.btn-link {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-link.primary-color {
    color: #0C0130; }

.btn-arrow {
  display: block;
  height: 60px;
  width: 60px; }
  .btn-arrow--right {
    background: #FFF url("../../../../images/arrows/arrow-right--red.png") no-repeat center/22px auto; }
  .btn-arrow--left {
    background: #FFF url("../../../../images/arrows/arrow-left--red.png") no-repeat center/22px auto; }

.max-width-sm {
  max-width: 320px; }

.max-width-md, .element-quote {
  max-width: 540px; }

.max-width-lg {
  max-width: 720px; }
  @media screen and (max-width: 1199px) {
    .max-width-lg {
      max-width: 660px; } }

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block; }

ul.list-inline {
  padding: 0;
  margin: 0;
  display: block; }
  ul.list-inline li {
    display: inline-block;
    margin-right: 15px; }
    ul.list-inline li a {
      display: block; }
    @media screen and (max-width: 575px) {
      ul.list-inline li {
        display: block; } }

ul.list-item {
  padding: 0;
  display: block;
  list-style-position: inside; }
  ul.list-item li {
    display: list-item;
    padding: 3.5px 0; }

.img-fluid {
  display: block;
  max-width: 100%; }

.cta--text-block .title, .cta--text-block .wide-title, .cta--text-block .big-title, .cta--text-block .medium-title, .cta--text-block section blockquote, section .cta--text-block blockquote, .cta--text-block .small-title {
  position: relative; }
  .cta--text-block .title + p, .cta--text-block .wide-title + p, .cta--text-block .big-title + p, .cta--text-block .medium-title + p, .cta--text-block section blockquote + p, section .cta--text-block blockquote + p, .cta--text-block .small-title + p {
    margin-top: 35px; }
  .cta--text-block .title::before, .cta--text-block .wide-title::before, .cta--text-block .big-title::before, .cta--text-block .medium-title::before, .cta--text-block section blockquote::before, section .cta--text-block blockquote::before, .cta--text-block .small-title::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg); }

.cta--text-block p + a {
  margin-top: 25px; }

.cta--banner__wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 60px; }
  .cta--banner__wrapper .image-wrapper {
    position: relative;
    margin-top: 35px;
    margin-bottom: -120px; }

.cta--banner + .generic-banner {
  padding-top: 180px; }

.primary-color {
  color: #0C0130; }
  .primary-color--bg {
    background-color: #0C0130; }
    .primary-color--bg p, .primary-color--bg span, .primary-color--bg a, .primary-color--bg i,
    .primary-color--bg h1, .primary-color--bg h2, .primary-color--bg h3, .primary-color--bg h4, .primary-color--bg h5, .primary-color--bg ul, .primary-color--bg li {
      color: #FFF; }
    .primary-color--bg .cta,
    .primary-color--bg .cta--text-block {
      color: #FFF; }
    .primary-color--bg .title-lines.wide-title::after {
      background-color: #FFF; }
    .primary-color--bg .title-lines::before {
      background-color: rgba(255, 255, 255, 0.14); }
    .primary-color--bg .element-quote .big-title::before, .primary-color--bg .element-quote .big-title::after,
    .primary-color--bg .element-quote .title::before,
    .primary-color--bg .element-quote .wide-title::before,
    .primary-color--bg .element-quote .big-title::before,
    .primary-color--bg .element-quote .medium-title::before,
    .primary-color--bg .element-quote section blockquote::before,
    section .primary-color--bg .element-quote blockquote::before,
    .primary-color--bg .element-quote .small-title::before,
    .primary-color--bg .element-quote .title::after,
    .primary-color--bg .element-quote .wide-title::after,
    .primary-color--bg .element-quote .big-title::after,
    .primary-color--bg .element-quote .medium-title::after,
    .primary-color--bg .element-quote section blockquote::after,
    section .primary-color--bg .element-quote blockquote::after,
    .primary-color--bg .element-quote .small-title::after {
      background-color: rgba(255, 255, 255, 0.14); }

.secondary-color {
  color: #A8392E; }

.white {
  color: #FFF; }
  .white--bg h1, .white--bg h2, .white--bg h3, .white--bg h4, .white--bg h5 {
    color: #0C0130; }
  .white--bg p {
    color: #636363; }
  .white--bg .title-lines::before {
    background-color: #0C0130; }
  .white--bg .title-lines.wide-title::after {
    background-color: #0C0130; }

.generic-banner {
  padding-top: 120px;
  padding-bottom: 120px; }
  .generic-banner .container {
    position: relative;
    z-index: 2; }
  @media screen and (max-width: 991px) {
    .generic-banner {
      padding-top: 90px;
      padding-bottom: 90px; } }
  @media screen and (max-width: 575px) {
    .generic-banner {
      padding-top: 60px;
      padding-bottom: 60px; } }

.element-quote {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative; }
  .element-quote .title + span, .element-quote .wide-title + span, .element-quote .big-title + span, .element-quote .medium-title + span, .element-quote section blockquote + span, section .element-quote blockquote + span, .element-quote .small-title + span {
    display: block;
    padding-top: 20px; }
  .element-quote .title::before, .element-quote .wide-title::before, .element-quote .big-title::before, .element-quote .medium-title::before, .element-quote section blockquote::before, section .element-quote blockquote::before, .element-quote .small-title::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    right: 10%;
    left: auto;
    top: -30px;
    bottom: auto; }
  .element-quote .title::after, .element-quote .wide-title::after, .element-quote .big-title::after, .element-quote .medium-title::after, .element-quote section blockquote::after, section .element-quote blockquote::after, .element-quote .small-title::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    left: -60px; }
  @media screen and (max-width: 575px) {
    .element-quote .title, .element-quote .wide-title, .element-quote .big-title, .element-quote .medium-title, .element-quote section blockquote, section .element-quote blockquote, .element-quote .small-title {
      padding-top: 20px; }
      .element-quote .title::after, .element-quote .wide-title::after, .element-quote .big-title::after, .element-quote .medium-title::after, .element-quote section blockquote::after, section .element-quote blockquote::after, .element-quote .small-title::after {
        left: -25px;
        bottom: -10px; }
      .element-quote .title::before, .element-quote .wide-title::before, .element-quote .big-title::before, .element-quote .medium-title::before, .element-quote section blockquote::before, section .element-quote blockquote::before, .element-quote .small-title::before {
        right: -15px;
        top: -5px; } }
  .element-quote.secondary-color .title::before, .element-quote.secondary-color .wide-title::before, .element-quote.secondary-color .big-title::before, .element-quote.secondary-color .medium-title::before, .element-quote.secondary-color section blockquote::before, section .element-quote.secondary-color blockquote::before, .element-quote.secondary-color .small-title::before, .element-quote.secondary-color .title::after, .element-quote.secondary-color .wide-title::after, .element-quote.secondary-color .big-title::after, .element-quote.secondary-color .medium-title::after, .element-quote.secondary-color section blockquote::after, section .element-quote.secondary-color blockquote::after, .element-quote.secondary-color .small-title::after {
    opacity: 0.14;
    background-color: #A8392E; }

/* Hero banner */
.hero, .hero--home {
  background-color: #0C0130;
  padding-top: 200px;
  min-height: 90vh; }
  .hero .text-wrapper, .hero--home .text-wrapper {
    text-align: left;
    color: #FFF;
    animation: fadeInText 1.5s 1 forwards; }
  .hero.page-404, .page-404.hero--home {
    padding-top: 240px; }
  .hero--generic-hero {
    position: relative; }
    .hero--generic-hero .container {
      position: relative;
      z-index: 2; }
    .hero--generic-hero .cta {
      max-width: 510px;
      margin-right: auto;
      margin-left: 0;
      padding: 0 15px 60px; }
      .hero--generic-hero .cta .title-lines::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        right: 5%;
        left: auto;
        top: -30px;
        bottom: auto; }
      .hero--generic-hero .cta .title-lines::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        background-color: #FFF;
        opacity: 0.14;
        left: -60px; }
    .hero--generic-hero .image-wrapper {
      position: relative;
      margin-top: -60px; }
      .hero--generic-hero .image-wrapper .generic-vignette {
        opacity: 0;
        animation: fadein 2s 0.5s 1 forwards; }
    .hero--generic-hero + .generic-banner {
      margin-top: 60px; }
    .hero--generic-hero::before {
      position: absolute;
      display: block;
      content: '';
      height: 500px;
      width: 500px;
      top: 0;
      left: 0;
      background: radial-gradient(at top left, #120249 0, #0C0130 50%); }
      @media screen and (min-width: 1199px) {
        .hero--generic-hero::before {
          height: 700px;
          width: 700px; } }
      @media screen and (max-width: 991px) {
        .hero--generic-hero::before {
          display: none; } }
    .hero--generic-hero::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      right: 0;
      height: 400px;
      width: 400px;
      background: radial-gradient(at bottom right, #080121 0, #0C0130 50%); }
      @media screen and (min-width: 1199px) {
        .hero--generic-hero::after {
          height: 700px;
          width: 700px; } }
  .hero--small-hero {
    min-height: 200px;
    padding-bottom: 20px;
    padding-bottom: 60px;
    height: auto; }
    .hero--small-hero .text-wrapper {
      position: relative;
      text-align: center;
      margin: 0 auto;
      max-width: 740px; }
      .hero--small-hero .text-wrapper .title, .hero--small-hero .text-wrapper .wide-title, .hero--small-hero .text-wrapper .big-title, .hero--small-hero .text-wrapper .medium-title, .hero--small-hero .text-wrapper section blockquote, section .hero--small-hero .text-wrapper blockquote, .hero--small-hero .text-wrapper .small-title {
        margin: 0 auto; }
      .hero--small-hero .text-wrapper .intro {
        line-height: 24px; }
      .hero--small-hero .text-wrapper::before, .hero--small-hero .text-wrapper::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        position: static;
        opacity: 0.14;
        background: #FFF; }
      .hero--small-hero .text-wrapper::before {
        margin: 0 auto 30px;
        transform: translateX(85px) rotate(-45deg); }
      .hero--small-hero .text-wrapper::after {
        margin: 30px auto 0;
        transform: translateX(-85px) rotate(-45deg); }
  .hero--home .text-wrapper {
    text-align: center; }

@media screen and (min-width: 991px) {
  .sticky-top {
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 150px; }
  section.two-column-banner .text-wrapper.left-col .cta {
    padding-right: 45px; }
  section.two-column-banner .text-wrapper.right-col .cta {
    padding-left: 45px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero, .hero--home {
    height: 90vh;
    min-height: 450px;
    max-height: 600px; } }

@media screen and (min-width: 1199px) {
  .hero, .hero--home {
    min-height: 750px;
    height: 80vh; }
    .hero .cta, .hero--home .cta {
      padding: 80px 15px 15px; }
    .hero.hero--small-hero, .hero--small-hero.hero--home {
      height: auto;
      min-height: 200px;
      padding-top: 150px; } }

@media screen and (min-width: 1499px) {
  .hero, .hero--home {
    min-height: 780px; }
    .hero .cta, .hero--home .cta {
      padding: 120px 15px 15px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero--generic-hero .cta {
    padding-top: 60px; }
  .hero--generic-hero + .generic-banner {
    margin-top: 0; }
  .cta--banner + .generic-banner {
    padding-bottom: 60px; }
  .cta--banner__wrapper {
    padding: 60px 30px; } }

@media screen and (max-width: 991px) {
  section.hero--small-hero {
    padding-top: 120px; }
  section.hero--generic-hero {
    padding-top: 0; }
    section.hero--generic-hero .text-wrapper {
      margin-top: -60px;
      z-index: 2; }
      section.hero--generic-hero .text-wrapper .cta {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px 60px; }
    section.hero--generic-hero .container {
      width: 100%; }
    section.hero--generic-hero .image-wrapper {
      margin-top: 0;
      padding: 0;
      max-height: 60vh;
      overflow: hidden; }
      section.hero--generic-hero .image-wrapper::before {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        content: '';
        z-index: 2;
        background: linear-gradient(0deg, #07082F 0%, rgba(7, 8, 47, 0) 100%); }
      section.hero--generic-hero .image-wrapper .generic-vignette::before, section.hero--generic-hero .image-wrapper .generic-vignette::after {
        display: none; }
    section.hero--generic-hero + .generic-banner {
      margin-top: 0;
      padding-left: 20px;
      padding-right: 20px; }
  .cta--banner + .generic-banner {
    padding-top: 120px; }
  .cta--banner__wrapper {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px; }
    .cta--banner__wrapper .cta--text-block {
      padding-bottom: 30px; }
    .cta--banner__wrapper .col-left {
      padding: 0; } }

@media screen and (max-width: 575px) {
  section.hero--small-hero .text-wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  section.hero--generic-hero {
    padding-top: 0; }
    section.hero--generic-hero.page-404 {
      padding-top: 180px; }
    section.hero--generic-hero .text-wrapper {
      margin-top: -60px;
      z-index: 2; }
      section.hero--generic-hero .text-wrapper .cta {
        padding: 0 20px 60px; }
    section.hero--generic-hero .image-wrapper {
      max-height: 80vh; }
  section.two-column-banner .text-wrapper.left-col .cta {
    padding-right: 0; }
  .cta--banner {
    padding-bottom: 120px; }
    .cta--banner .container {
      padding-left: 0;
      padding-right: 0; }
    .cta--banner__wrapper {
      padding: 20px;
      max-width: 100%; }
      .cta--banner__wrapper .image-wrapper {
        margin-top: 10px; }
    .cta--banner + .generic-banner {
      padding-top: 60px; } }

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */ }
  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */ }

/* arrows */
.horizontal-slider-wrapper {
  position: relative; }
  .horizontal-slider-wrapper a.slider-next-btn, .horizontal-slider-wrapper a.slider-prev-btn, .horizontal-slider-wrapper span.slider-next-btn, .horizontal-slider-wrapper span.slider-prev-btn {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    position: absolute;
    cursor: pointer;
    width: 50px;
    z-index: 2; }
  .horizontal-slider-wrapper a.slider-next-btn, .horizontal-slider-wrapper span.slider-next-btn {
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }
  .horizontal-slider-wrapper a.slider-prev-btn, .horizontal-slider-wrapper span.slider-prev-btn {
    background-image: url("../../../../images/arrows/arrow-left--red.png"); }
  .horizontal-slider-wrapper a.passive, .horizontal-slider-wrapper span.passive {
    opacity: 0.5; }
  .horizontal-slider-wrapper span.slider-partenaire-btn.slider-next-btn {
    right: 15px;
    background-color: #FFF; }
  .horizontal-slider-wrapper span.slider-partenaire-btn.slider-prev-btn {
    left: 15px;
    right: auto;
    background-color: #FFF; }
  @media screen and (max-width: 991px) {
    .horizontal-slider-wrapper span.slider-partenaire-btn.slider-next-btn, .horizontal-slider-wrapper span.slider-partenaire-btn.slider-prev-btn {
      left: auto;
      right: auto;
      position: static;
      height: 35px;
      display: inline-block; } }

.insta .horizontal-slider-wrapper,
.home--projets .horizontal-slider-wrapper,
.atelier--team .horizontal-slider-wrapper,
.atelier--bureau .horizontal-slider-wrapper {
  padding-right: 0;
  padding-left: 0; }
  .insta .horizontal-slider-wrapper a.slider-next-btn, .insta .horizontal-slider-wrapper a.slider-prev-btn, .insta .horizontal-slider-wrapper span.slider-next-btn, .insta .horizontal-slider-wrapper span.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper a.slider-next-btn,
  .home--projets .horizontal-slider-wrapper a.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper span.slider-next-btn,
  .home--projets .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-next-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-next-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-next-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-next-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
    height: 50px;
    width: 50px;
    right: 0;
    top: auto;
    bottom: -12px;
    background-color: #FFF; }
  .insta .horizontal-slider-wrapper a.slider-prev-btn, .insta .horizontal-slider-wrapper span.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper a.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
    right: 50px; }

.atelier--team .horizontal-slider-wrapper {
  padding-top: 0; }
  .atelier--team .horizontal-slider-wrapper span.slider-next-btn {
    right: 15px;
    top: -50px;
    bottom: auto; }
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn {
    right: 65px;
    top: -50px;
    bottom: auto; }

.atelier--bureau .horizontal-slider article.slider-item {
  max-height: 60vh; }

.atelier--bureau .horizontal-slider-wrapper span.slider-next-btn, .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
  bottom: 4px; }

.home--projets .horizontal-slider-wrapper a.slider-next-btn, .home--projets .horizontal-slider-wrapper a.slider-prev-btn, .home--projets .horizontal-slider-wrapper span.slider-next-btn, .home--projets .horizontal-slider-wrapper span.slider-prev-btn {
  bottom: 4px; }

/* slider items */
.horizontal-slider {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-right: 0;
  width: 100%;
  scroll-behavior: smooth; }
  .horizontal-slider article {
    margin: 0 10px 0 0;
    display: inline-block; }
    .horizontal-slider article a {
      width: auto;
      height: 100%; }
    .horizontal-slider article.slider-item {
      height: 80vh;
      min-height: 460px;
      max-height: 670px;
      min-width: 300px;
      width: auto; }
      .horizontal-slider article.slider-item:first-child::before, .horizontal-slider article.slider-item:first-child::after {
        opacity: 1; }
      .horizontal-slider article.slider-item:first-child .label {
        bottom: 20px;
        opacity: 1; }
    .horizontal-slider article img {
      height: 100%;
      width: auto; }
  .horizontal-slider.references__slider {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    width: auto; }
    .horizontal-slider.references__slider .references__slider--item {
      display: inline-block;
      margin: 0;
      padding: 0 20px; }
      .horizontal-slider.references__slider .references__slider--item img {
        max-width: 200px; }
  .horizontal-slider.insta__slider {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: auto; }
    .horizontal-slider.insta__slider .insta__slider--item {
      display: inline-block;
      padding: 0 5px;
      height: 300px;
      width: 300px; }
      .horizontal-slider.insta__slider .insta__slider--item i {
        position: absolute;
        padding: 10px;
        color: #FFF;
        opacity: 0.6;
        bottom: 10px;
        left: 10px; }
      .horizontal-slider.insta__slider .insta__slider--item img {
        max-width: 300px;
        width: 100%; }
  .horizontal-slider.team-slider {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 0; }
    .horizontal-slider.team-slider .team-slider--item {
      display: inline-block;
      padding: 0 5px;
      height: auto;
      width: 350px; }
      .horizontal-slider.team-slider .team-slider--item img {
        width: 100%;
        max-width: 350px; }
      .horizontal-slider.team-slider .team-slider--item .image-wrapper {
        margin-bottom: 20px; }
      .horizontal-slider.team-slider .team-slider--item span {
        display: block; }
        .horizontal-slider.team-slider .team-slider--item span.title, .horizontal-slider.team-slider .team-slider--item span.wide-title, .horizontal-slider.team-slider .team-slider--item span.big-title, .horizontal-slider.team-slider .team-slider--item span.medium-title, .horizontal-slider.team-slider .team-slider--item span.small-title {
          font-weight: bold; }
      .horizontal-slider.team-slider .team-slider--item span.desc {
        color: #A8392E;
        padding-bottom: 10px;
        font-size: 18px;
        white-space: initial;
        height: 50px; }
      .horizontal-slider.team-slider .team-slider--item span.locate, .horizontal-slider.team-slider .team-slider--item span.mail {
        padding-bottom: 5px;
        color: #636363;
        font-size: 14px;
        overflow: hidden;
        line-height: 1.5em;
        text-overflow: ellipsis; }

@media screen and (max-width: 1199px) {
  .horizontal-slider.references__slider .references__slider--item img {
    max-width: 170px; } }

@media screen and (max-width: 991px) {
  .horizontal-slider article.slider-item {
    min-height: 380px;
    max-height: 550px; }
  .horizontal-slider.references__slider {
    margin: 0; }
    .horizontal-slider.references__slider .references__slider--item {
      width: 200px;
      text-align: center; }
      .horizontal-slider.references__slider .references__slider--item img {
        max-width: 150px; }
  .horizontal-slider.team-slider .team-slider--item {
    width: 300px; }
    .horizontal-slider.team-slider .team-slider--item span.desc {
      font-size: 16px; }
  .atelier--team .horizontal-slider-wrapper {
    padding-top: 0; }
    .atelier--team .horizontal-slider-wrapper span.slider-next-btn, .atelier--team .horizontal-slider-wrapper span.slider-prev-btn {
      top: -35px; }
  .atelier--bureau .horizontal-slider-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .atelier--bureau .horizontal-slider article.slider-item {
    max-height: 300px;
    min-width: 220px; } }

@media screen and (max-width: 575px) {
  .atelier--bureau .horizontal-slider-wrapper {
    padding-left: 0;
    padding-right: 0; }
  .atelier--bureau .horizontal-slider article.slider-item {
    max-height: 400px;
    min-height: 360px;
    min-width: 250px;
    width: auto;
    margin-right: 0; } }

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding: 40px 0 15px;
  opacity: 0;
  animation: fadeInText 2s 1.5s 1 forwards;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  header.site-header .logo-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center; }
    header.site-header .logo-wrapper a span {
      color: #FFF;
      font-size: 12px; }
  header.site-header .logo-wrapper img.logo {
    max-width: 60px;
    margin-right: 20px;
    float: left; }
    @media screen and (min-width: 1499px) {
      header.site-header .logo-wrapper img.logo {
        max-width: 80px; } }

header.is-active {
  background: #0C0130;
  padding: 15px 0; }

#navicon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1.2px solid #FFF; }
  #navicon::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    border-color: #FFF; }
  #navicon .lines {
    display: block;
    width: 25px;
    height: 1.2px;
    background-color: #FFF;
    margin: 0 auto;
    top: 24px;
    position: relative;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
    #navicon .lines::before {
      content: '';
      top: -8px;
      position: absolute;
      display: block;
      width: 25px;
      height: 1.2px;
      background-color: #FFF; }
    #navicon .lines::after {
      content: '';
      bottom: -8px;
      position: absolute;
      display: block;
      width: 25px;
      height: 1.2px;
      background-color: #FFF; }
  #navicon.active .lines {
    transform: rotate(45deg); }
    #navicon.active .lines::after {
      transform: rotate(-90deg);
      bottom: 0; }
    #navicon.active .lines::before {
      display: none; }
  #navicon.active::before {
    opacity: 0; }
  #navicon.passive::before {
    opacity: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px; }

nav.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  @media screen and (min-width: 1600px) {
    nav.main-navigation {
      padding-right: 120px; } }
  nav.main-navigation ul {
    padding: 0;
    margin: 0; }
    nav.main-navigation ul li {
      margin-left: 20px; }
      nav.main-navigation ul li a {
        display: block;
        position: relative;
        padding: 10px 0;
        color: #FFF;
        text-transform: none;
        letter-spacing: 0.9px; }
      nav.main-navigation ul li.btn-primary-child a {
        font-weight: 500;
        font-style: italic;
        padding: 10px 15px;
        background-color: #A8392E;
        color: #FFF;
        text-transform: uppercase; }
      nav.main-navigation ul li.btn-icon {
        margin-left: 10px;
        display: inline-block; }
        nav.main-navigation ul li.btn-icon a {
          display: block;
          width: 30px;
          text-align: center;
          position: relative; }
          nav.main-navigation ul li.btn-icon a::before {
            content: "\f09a";
            /* facebook */
            color: #FFF;
            font-family: FontAwesome;
            display: block;
            font-size: 21px;
            position: relative;
            top: 1.5px; }
        nav.main-navigation ul li.btn-icon.pinterest a::before {
          content: "\f0d2"; }
        nav.main-navigation ul li.btn-icon.instagram a::before {
          content: "\f16d"; }
        nav.main-navigation ul li.btn-icon.youtube a::before {
          content: "\f16a"; }
    nav.main-navigation ul.social-media {
      width: 140px;
      margin: 0 0 0 10px; }
      nav.main-navigation ul.social-media li {
        display: inline-block;
        margin: 0 auto; }
        nav.main-navigation ul.social-media li a {
          padding: 10px; }
          nav.main-navigation ul.social-media li a::after {
            display: none !important; }
          nav.main-navigation ul.social-media li a i {
            font-size: 22px;
            color: #A8392E; }
          @media screen and (min-width: 991px) {
            nav.main-navigation ul.social-media li a:hover i {
              color: #FFF; } }

/* nav on desktop */
@media screen and (min-width: 991px) {
  nav.main-navigation ul, nav.filters__nav ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    nav.main-navigation ul.sub-menu, nav.filters__nav ul.sub-menu {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 220px;
      flex-direction: column;
      left: 0;
      text-align: left;
      display: none;
      padding: 10px 15px;
      background-color: #0C0130; }
      nav.main-navigation ul.sub-menu li, nav.filters__nav ul.sub-menu li {
        margin-left: 0;
        width: 100%; }
    nav.main-navigation ul li, nav.filters__nav ul li {
      display: inline-block; }
      nav.main-navigation ul li.menu-item-has-children, nav.filters__nav ul li.menu-item-has-children {
        position: relative; }
        nav.main-navigation ul li.menu-item-has-children:hover ul.sub-menu, nav.filters__nav ul li.menu-item-has-children:hover ul.sub-menu {
          display: block;
          animation: fadeinMenu 0.7s 0s 1 forwards; }
      nav.main-navigation ul li:not(.btn-primary-child) a::after, nav.filters__nav ul li:not(.btn-primary-child) a::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3.6px;
        border-top: 1.2px solid #FFF;
        border-bottom: 1.2px solid #FFF;
        opacity: 0;
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s; }
      nav.main-navigation ul li:not(.btn-primary-child) a:hover::after, nav.filters__nav ul li:not(.btn-primary-child) a:hover::after {
        width: 100%;
        opacity: 1;
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s; }
      nav.main-navigation ul li:not(.btn-primary-child) a.active::after, nav.filters__nav ul li:not(.btn-primary-child) a.active::after {
        opacity: 1;
        width: 100%; } }

/* Mobile menu activation */
@media screen and (max-width: 991px) {
  #navicon {
    display: block; }
  header.site-header .logo-wrapper {
    padding-right: 12px; }
  nav.main-navigation {
    display: none;
    opacity: 0; }
    nav.main-navigation li.menu-item-has-children ul {
      padding: 15px 0; }
      nav.main-navigation li.menu-item-has-children ul::after, nav.main-navigation li.menu-item-has-children ul::before {
        width: 100px;
        height: 2px;
        display: block;
        position: absolute;
        content: '';
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 auto 15px;
        position: static; }
      nav.main-navigation li.menu-item-has-children ul::after {
        margin: 15px auto 0; }
      nav.main-navigation li.menu-item-has-children ul li a {
        color: rgba(255, 255, 255, 0.7); }
    nav.main-navigation.open {
      height: 100%;
      display: block;
      opacity: 1;
      transition: opacity 1s;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s; } }

@media screen and (min-width: 1499px) {
  header.site-header .container {
    width: 1340px; } }

@media screen and (max-width: 1199px) {
  header.site-header {
    padding-top: 25px; }
  nav.main-navigation ul li {
    margin-left: 10px; } }

@media screen and (max-width: 991px) {
  body.menu-open {
    overflow: hidden; }
    body.menu-open header.site-header {
      height: 100vh;
      width: 100%;
      padding-top: 150px;
      overflow: scroll;
      background-color: #0C0130; }
      body.menu-open header.site-header .logo-wrapper a {
        opacity: 1 !important;
        display: block;
        transition: all 0;
        -moz-transition: all 0;
        -webkit-transition: all 0;
        text-align: center; }
        body.menu-open header.site-header .logo-wrapper a img.logo {
          display: block;
          float: none;
          margin: 0 auto 20px; }
        body.menu-open header.site-header .logo-wrapper a span {
          font-size: 20px; }
  header.site-header {
    padding: 12.5px 0; }
    header.site-header .logo-wrapper img.logo {
      max-width: 55px; }
  #navicon {
    top: 15px; }
  nav.main-navigation ul {
    padding: 35px 0;
    max-width: 360px;
    margin: 0 auto;
    text-align: center; }
    nav.main-navigation ul li {
      display: block;
      margin: 0 auto 10px; }
      nav.main-navigation ul li a {
        font-size: 22px; }
      nav.main-navigation ul li.btn-primary-child {
        margin-top: 20px; }
        nav.main-navigation ul li.btn-primary-child a {
          font-size: 19px; }
    nav.main-navigation ul.social-media {
      width: 100%;
      padding: 0;
      margin: 0 auto 60px; } }

@media screen and (max-width: 575px) {
  #navicon {
    top: 10px; }
  header.site-header .logo-wrapper {
    padding-left: 12px; }
    header.site-header .logo-wrapper a {
      max-width: 275px; }
      header.site-header .logo-wrapper a span {
        font-size: 14px !important; }
    header.site-header .logo-wrapper img.logo {
      width: 50px;
      margin-right: 10px; }
  nav.main-navigation ul li a {
    font-size: 16px; }
  nav.main-navigation ul li.btn-primary-child a {
    font-size: 16px; }
  body.menu-open header.site-header {
    padding-top: 60px; }
    body.menu-open header.site-header .logo-wrapper a {
      margin-left: auto;
      margin-right: auto; } }

aside.references {
  padding-top: 60px;
  padding-bottom: 120px; }

aside.insta {
  padding-bottom: 60px;
  padding-top: 60px; }
  aside.insta .text-wrapper {
    position: relative;
    max-width: 410px;
    margin-right: 0;
    margin-left: auto; }
    aside.insta .text-wrapper .title::before, aside.insta .text-wrapper .wide-title::before, aside.insta .text-wrapper .big-title::before, aside.insta .text-wrapper .medium-title::before, aside.insta .text-wrapper section blockquote::before, section aside.insta .text-wrapper blockquote::before, aside.insta .text-wrapper .small-title::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      left: auto;
      bottom: auto;
      top: -25px;
      right: 60px;
      background-color: #A8392E;
      opacity: 0.14; }
    aside.insta .text-wrapper p {
      margin-top: 20px; }
    aside.insta .text-wrapper ul.btn-wrapper li i {
      font-size: 24px; }
  aside.insta .generic-vignette::before, aside.insta .generic-vignette::after {
    opacity: 0; }
  aside.insta .generic-vignette:first-child::before, aside.insta .generic-vignette:first-child::after {
    opacity: 1; }

.footer {
  padding-top: 120px;
  padding-bottom: 60px; }
  .footer__left {
    text-align: left; }
  .footer__right {
    text-align: right; }
  .footer--primary .title, .footer--primary .wide-title, .footer--primary .big-title, .footer--primary .medium-title, .footer--primary section blockquote, section .footer--primary blockquote, .footer--primary .small-title {
    padding-bottom: 20px; }
  .footer--primary span.footer-text {
    display: block; }
  .footer--primary .btn-wrapper {
    padding-top: 20px; }
  .footer--primary ul.btn-wrapper {
    margin: 0; }
  .footer--primary .btn-icon {
    font-size: 24px; }
  .footer--primary .logo-wrapper {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; }
    .footer--primary .logo-wrapper img.logo {
      display: block;
      margin: 0 auto;
      max-width: 260px; }
  .footer--mentions {
    padding-top: 60px; }
    .footer--mentions span {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px; }
    .footer--mentions a {
      color: rgba(255, 255, 255, 0.6);
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s; }
      .footer--mentions a:hover {
        color: #FFF; }

.logo-mobile {
  display: none; }

@media screen and (max-width: 1199px) {
  aside.references {
    padding-top: 30px;
    padding-bottom: 60px; }
  aside.insta {
    padding-bottom: 60px; }
    aside.insta .text-wrapper {
      padding-left: 60px; } }

@media screen and (max-width: 991px) {
  .logo-desktop {
    display: none; }
  .logo-mobile {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 20px; }
    .logo-mobile .logo-wrapper img.logo {
      height: 80px; }
  .footer {
    padding: 60px 5px; }
    .footer--primary span.footer-text {
      margin-bottom: 5px; }
    .footer--primary .footer__left,
    .footer--primary .footer__right {
      padding: 20px; }
    .footer ul.list-inline li {
      display: inline-block;
      margin: 0 10px; }
    .footer--mentions {
      padding-top: 35px; }
  aside.insta .text-wrapper {
    padding-left: 0;
    margin: 60px auto 0;
    padding-bottom: 60px; }
    aside.insta .text-wrapper p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
    aside.insta .text-wrapper .big-title::before {
      right: auto;
      left: 250px; } }

@media screen and (max-width: 991px) {
  aside.references {
    text-align: center; }
    aside.references .title, aside.references .wide-title, aside.references .big-title, aside.references .medium-title, aside.references section blockquote, section aside.references blockquote, aside.references .small-title {
      padding: 0 20px 10px; }
  aside.insta {
    padding-bottom: 60px; }
    aside.insta .text-wrapper {
      max-width: 540px;
      text-align: center; }
      aside.insta .text-wrapper p {
        max-width: 400px; }
  .footer__left {
    text-align: center; }
  .footer__right {
    text-align: center; } }

@media screen and (max-width: 575px) {
  aside.references {
    padding-bottom: 30px;
    padding-top: 60px; }
  aside.insta {
    padding-bottom: 0; }
    aside.insta .text-wrapper {
      padding: 20px 20px 60px; }
    aside.insta .btn-wrapper li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
  .logo-mobile .logo-wrapper img.logo {
    height: 60px; } }

.generic-vignette {
  position: relative;
  overflow: hidden;
  /*@include shadowed(60px); */ }
  .generic-vignette img {
    width: 100%;
    max-width: 100%;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s; }
  .generic-vignette a {
    display: block; }
    .generic-vignette a:hover img {
      transform: scale(1.05); }
  .generic-vignette::before, .generic-vignette::after {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .generic-vignette::before {
    top: 20px;
    right: 20px;
    border-right: 1.2px solid #FFF;
    border-top: 1.2px solid #FFF;
    opacity: 1; }
  .generic-vignette::after {
    left: 20px;
    bottom: 20px;
    border-left: 1.2px solid #FFF;
    border-bottom: 1.2px solid #FFF;
    opacity: 1; }
  @media screen and (max-width: 991px) {
    .generic-vignette::before, .generic-vignette::after {
      height: 30px;
      width: 30px; }
    .generic-vignette::before {
      right: 15px;
      top: 15px; }
    .generic-vignette::after {
      left: 15px;
      bottom: 15px; } }
  .generic-vignette .label {
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 20px;
    max-width: 80%;
    opacity: 0;
    text-align: right;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
    @media screen and (max-width: 991px) {
      .generic-vignette .label {
        opacity: 1;
        bottom: 15px;
        right: 15px; } }
  .generic-vignette:hover .label {
    opacity: 1;
    bottom: 20px; }

.vignette-projet {
  position: relative;
  overflow: hidden; }
  .vignette-projet a {
    display: block; }
  .vignette-projet img {
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    transform: scale(1.02); }
  .vignette-projet .label {
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 20px;
    opacity: 0;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .vignette-projet::before, .vignette-projet::after {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .vignette-projet::before {
    top: 20px;
    right: 20px;
    border-right: 1.2px solid #FFF;
    border-top: 1.2px solid #FFF; }
  .vignette-projet::after {
    left: 20px;
    bottom: 20px;
    border-left: 1.2px solid #FFF;
    border-bottom: 1.2px solid #FFF; }
  .vignette-projet:hover img {
    transform: scale(1); }
  .vignette-projet:hover .label {
    opacity: 1;
    bottom: 20px; }
  .vignette-projet:hover::before, .vignette-projet:hover::after {
    opacity: 1; }

section.hero--home {
  position: relative; }
  section.hero--home .logo {
    display: block;
    max-width: 320px;
    margin: 30px auto 50px; }
  section.hero--home .image-wrapper {
    width: 66%;
    min-width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    overflow: hidden; }
    section.hero--home .image-wrapper img {
      display: block;
      height: 100%;
      max-width: none;
      margin: 0 0 0 auto; }
    section.hero--home .image-wrapper::before {
      content: '';
      display: block;
      width: 300px;
      height: 100%;
      position: absolute;
      background: linear-gradient(90deg, #0C0130 0%, rgba(7, 8, 47, 0) 100%); }

section.home--projets {
  padding-bottom: 120px; }
  section.home--projets .cta {
    max-width: 445px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 30px;
    opacity: 0;
    animation: fadeInText 2.5s 1s 1 forwards; }
  section.home--projets .image-wrapper {
    position: relative;
    margin-top: -60px;
    opacity: 0;
    padding-right: 0;
    animation: fadeInImage 2.5s 0.5s 1 forwards; }

section.home--atelier {
  position: relative;
  padding-bottom: 0; }
  section.home--atelier .text-wrapper {
    padding-top: 60px; }
  section.home--atelier::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 40%;
    height: 240px;
    background-color: #0C0130; }

section.home--quote {
  margin-top: -60px; }
  section.home--quote .element-quote {
    margin-bottom: 35px;
    margin-top: 35px; }

@media screen and (min-width: 1199px) {
  section.hero--home .image-wrapper::before {
    width: 450px;
    background: linear-gradient(90deg, #07082F 30%, rgba(7, 8, 47, 0) 100%); } }

@media screen and (min-width: 1499px) {
  section.hero--home .image-wrapper::before {
    width: 600px; } }

@media screen and (max-width: 1199px) {
  section.home--quote {
    margin-top: 60px; } }

/* responsive */
@media screen and (max-width: 991px) {
  section.home--projets .image-wrapper {
    margin-top: 0;
    padding: 20px 0; } }

@media screen and (max-width: 991px) {
  section.hero--home {
    min-height: 70vh;
    padding-bottom: 60px; }
    section.hero--home .image-wrapper {
      width: 100%; }
      section.hero--home .image-wrapper::before {
        width: 100%;
        background: linear-gradient(5deg, rgba(12, 1, 48, 0.95) 20%, rgba(7, 8, 47, 0.2) 100%); }
  section.home--projets {
    padding-bottom: 120px; }
    section.home--projets .cta {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 0 60px; }
    section.home--projets .image-wrapper {
      padding: 0 0 0 60px; }
  section.home--atelier {
    padding-top: 0; }
    section.home--atelier .image-wrapper,
    section.home--atelier .text-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; }
    section.home--atelier .text-wrapper .cta {
      padding-bottom: 60px;
      padding-left: 15px;
      padding-right: 15px; }
  section.home--quote {
    margin-top: 0; }
  section.home--contact {
    padding-top: 60px; } }

@media screen and (max-width: 575px) {
  section.hero--home {
    height: auto;
    min-height: 200px;
    padding-top: 180px; }
    section.hero--home .logo {
      max-width: 220px;
      margin: 30px auto; }
    section.hero--home .image-wrapper {
      width: auto;
      height: 100%;
      top: 0; }
  section.home--projets {
    padding-bottom: 60px; }
    section.home--projets .cta {
      padding-right: 0;
      padding: 40px 20px; }
    section.home--projets .image-wrapper {
      padding-bottom: 50px;
      padding-left: 35px; }
  section.home--atelier .text-wrapper {
    margin: 0 auto;
    padding: 0 15px; }
    section.home--atelier .text-wrapper .cta {
      background-color: #FFF;
      padding: 40px 20px !important; }
  section.home--atelier .image-wrapper {
    margin: 0 20px 20px;
    box-shadow: none; }
  section.home--quote .image-wrapper {
    padding: 0 20px; }
  section.home--quote .element-quote {
    padding: 20px;
    margin: 35px auto 0; }
  section.home--contact .cta--banner__wrapper .text-wrapper {
    padding: 35px 15px; }
  section.home--contact .home-cta-image {
    padding: 0 15px; } }

section blockquote {
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  font-style: italic; }
  section blockquote::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    right: 10%;
    left: auto;
    top: -30px;
    bottom: auto; }
  section blockquote::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    left: -60px; }
  section blockquote.secondary-color::after, section blockquote.secondary-color::before {
    background-color: #A8392E;
    opacity: 0.14; }

section.white--bg blockquote::before, section.white--bg blockquote::after {
  background-color: #0C0130;
  opacity: 0.14; }

@media screen and (min-width: 1199px) {
  .page-atelier section.hero .cta, .page-atelier section.hero--home .cta {
    padding-top: 40px; } }

section.atelier--main .atelier__intro {
  padding-top: 35px; }

section.atelier--main .atelier__philosophie {
  padding-top: 0; }
  section.atelier--main .atelier__philosophie .element-quote {
    max-width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding-right: 60px; }
  section.atelier--main .atelier__philosophie blockquote::after {
    display: none; }

section.atelier--main#philosophie {
  padding-bottom: 60px; }

section.atelier--team {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px; }
  section.atelier--team article .text-wrapper {
    display: block; }

section.atelier--quote {
  padding-top: 0; }
  section.atelier--quote .quote-wrapper {
    padding-left: 35px; }

section.atelier--contact .cta--banner__wrapper {
  padding-left: 0;
  padding-right: 0; }
  section.atelier--contact .cta--banner__wrapper .cta--text-block {
    padding-left: 35px; }

section.atelier--contact .vignette-projet::before, section.atelier--contact .vignette-projet::after {
  opacity: 1; }

section.atelier--contact .vignette-projet .label {
  bottom: 20px;
  opacity: 1; }

section.atelier--bureau {
  padding-bottom: 40px; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    max-width: 540px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: 0; }

@media screen and (max-width: 1199px) {
  body.page-atelier aside .insta {
    padding-top: 60px; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    padding-left: 35px; } }

@media screen and (max-width: 991px) {
  body.page-atelier aside.insta {
    padding-top: 0; } }

@media screen and (max-width: 991px) {
  section.atelier--main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px; }
    section.atelier--main .big-title {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px; }
    section.atelier--main#philosophie {
      padding-top: 60px; }
    section.atelier--main .atelier__intro {
      margin-bottom: 30px;
      padding-top: 15px; }
      section.atelier--main .atelier__intro .text-wrapper {
        padding: 0;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto; }
        section.atelier--main .atelier__intro .text-wrapper span.wide-title {
          display: none; }
      section.atelier--main .atelier__intro .image-wrapper {
        margin-top: 60px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto; }
    section.atelier--main .atelier__philosophie {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      padding-bottom: 0; }
      section.atelier--main .atelier__philosophie .element-quote {
        padding: 0 0 60px; }
  section.atelier--contact {
    position: relative; }
    section.atelier--contact .cta--banner__wrapper {
      padding: 0;
      position: relative;
      z-index: 2; }
      section.atelier--contact .cta--banner__wrapper .col-left {
        padding: 0; }
      section.atelier--contact .cta--banner__wrapper .text-wrapper {
        padding-left: 0;
        padding-right: 0; }
      section.atelier--contact .cta--banner__wrapper .image-wrapper {
        margin: 0;
        max-height: 60vh;
        overflow: hidden; }
      section.atelier--contact .cta--banner__wrapper .cta--text-block {
        padding: 60px 0; }
    section.atelier--contact::after {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      height: 60px;
      background-color: #FFF;
      bottom: 0;
      left: 0;
      right: 0; }
  section.atelier--team {
    padding-bottom: 60px; }
  section.atelier--quote {
    padding-bottom: 60px; }
    section.atelier--quote .text-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    max-width: 540px;
    margin: 0 auto 60px;
    padding: 0; } }

@media screen and (max-width: 575px) {
  section.atelier--main.first {
    padding-bottom: 0; }
  section.atelier--main .big-title {
    padding-left: 0; }
  section.atelier--main .atelier__philosophie {
    padding-top: 30px;
    margin-top: 0; }
    section.atelier--main .atelier__philosophie .col-left,
    section.atelier--main .atelier__philosophie .col-right {
      padding-left: 0;
      padding-right: 0; }
  section.atelier--main .atelier__intro .text-wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  section.atelier--contact {
    padding: 0 35px; }
    section.atelier--contact .cta--banner__wrapper .cta--text-block {
      padding: 30px 0 60px; }
    section.atelier--contact .cta--banner__wrapper .col-left {
      padding: 0; }
    section.atelier--contact .cta--banner__wrapper .image-wrapper {
      max-height: 70vh; }
  section.atelier--quote {
    padding: 60px 20px; }
    section.atelier--quote .atelier__philosophie .quote-wrapper {
      padding: 0; }
      section.atelier--quote .atelier__philosophie .quote-wrapper blockquote {
        padding: 20px 0; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    padding: 0 20px; } }

section.contact--intro .btn-wrapper {
  display: none; }

section.contact--main {
  padding-top: 0;
  position: relative; }
  section.contact--main::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 40%;
    height: 240px;
    background-color: #0C0130; }
  section.contact--main .text-wrapper {
    padding-top: 120px;
    max-width: 570px;
    position: relative; }
    section.contact--main .text-wrapper::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      background-color: #0C0130;
      opacity: 0.14;
      left: -60px; }
    section.contact--main .text-wrapper ul.btn-wrapper {
      padding-top: 0; }
      section.contact--main .text-wrapper ul.btn-wrapper li {
        display: list-item;
        margin: 0 0 5px;
        list-style: none; }
        section.contact--main .text-wrapper ul.btn-wrapper li a {
          color: #0C0130;
          padding: 5px 0; }
          section.contact--main .text-wrapper ul.btn-wrapper li a span {
            color: #0C0130;
            font-weight: bold; }
        section.contact--main .text-wrapper ul.btn-wrapper li i {
          font-size: 18px;
          display: inline-block;
          margin-right: 10px; }
  section.contact--main .contact-form-wrapper {
    padding-top: 60px;
    max-width: 570px; }
  section.contact--main .image-wrapper {
    padding-top: 120px;
    overflow: visible; }
    section.contact--main .image-wrapper.sticky-top {
      top: 0; }
    section.contact--main .image-wrapper .generic-vignette {
      opacity: 0;
      animation: fadein 2s 0.5s 1 forwards; }
  section.contact--main form .second-part {
    padding-top: 35px; }
  section.contact--main form br {
    display: none; }
  section.contact--main form span.wpcf7-list-item {
    margin: 0; }
  section.contact--main form select {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    color: #0C0130;
    font-size: 16px;
    letter-spacing: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 2px solid #0C0130; }
  section.contact--main form input[type="radio"],
  section.contact--main form input[type="checkbox"] {
    display: none; }
    section.contact--main form input[type="radio"] + span,
    section.contact--main form input[type="checkbox"] + span {
      padding-right: 15px; }
  section.contact--main form span.label {
    display: block;
    opacity: 0.7;
    color: #0C0130;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.75px; }
  section.contact--main form input[type="radio"] + span::before,
  section.contact--main form input[type="checkbox"] + span::before {
    content: '';
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px;
    display: inline-block;
    border-radius: 0;
    margin: 0 10px 0 0;
    border: 3px solid #0C0130;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  section.contact--main form input[type="radio"]:checked + span::before,
  section.contact--main form input[type="checkbox"]:checked + span::before {
    background-color: #0C0130;
    border-radius: 100%; }
  section.contact--main form label {
    width: 100%;
    display: block;
    color: #0C0130; }
    section.contact--main form label input[type="text"],
    section.contact--main form label input[type='email'],
    section.contact--main form label input[type="phone"],
    section.contact--main form label input[type="date"],
    section.contact--main form label textarea {
      width: 100%;
      padding: 10px 0;
      letter-spacing: 1px;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0px !important;
      margin-top: 5px;
      font-size: 16px;
      background-color: #FFF;
      border-bottom: 2px solid #0C0130;
      color: #0C0130;
      caret-color: #A8392E;
      font-weight: 300;
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s; }
      section.contact--main form label input[type="text"]:focus,
      section.contact--main form label input[type='email']:focus,
      section.contact--main form label input[type="phone"]:focus,
      section.contact--main form label input[type="date"]:focus,
      section.contact--main form label textarea:focus {
        padding-left: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0); }
    section.contact--main form label textarea {
      height: 170px;
      border: none;
      padding: 15px;
      background: #f7f7f7;
      font-family: "Roboto", "arial", sans-serif;
      font-weight: 300; }
  section.contact--main form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px !important;
    border: none;
    font-size: 16px;
    margin-top: 20px; }
  section.contact--main form .wpcf7-response-output {
    background: #FFF;
    margin: 15px 0 0 0;
    padding: 20px;
    border: none; }
  section.contact--main form.invalid .wpcf7-response-output, section.contact--main form.aborted .wpcf7-response-output, section.contact--main form.spam .wpcf7-response-output, section.contact--main form.unaccepted .wpcf7-response-output {
    background: #fce5ab;
    color: #715204; }
  section.contact--main form.failed .wpcf7-response-output {
    background: #f7cfbb;
    color: #732f0d; }
  section.contact--main form.sent .wpcf7-response-output {
    background: #e1eabb;
    color: #4c581b; }

@media screen and (max-width: 1199px) {
  section.contact--main .image-wrapper {
    padding-top: 60px; }
  section.contact--main .contact-form-wrapper {
    padding-right: 35px; } }

@media screen and (max-width: 991px) {
  section.contact--intro .btn-wrapper {
    display: block;
    padding-top: 20px; }
    section.contact--intro .btn-wrapper a i {
      font-size: 21px; }
  section.contact--main .text-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    max-width: 540px; }
  section.contact--main .image-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px; }
  section.contact--main .contact-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    max-width: 540px; } }

@media screen and (max-width: 575px) {
  section.contact--intro .text-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
    section.contact--intro .text-wrapper ul.btn-wrapper li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
  section.contact--main {
    padding-bottom: 0; }
    section.contact--main .image-wrapper {
      padding: 30px 20px 0; }
    section.contact--main .text-wrapper {
      padding: 60px 20px 0; }
      section.contact--main .text-wrapper ul.btn-wrapper li {
        display: block; }
        section.contact--main .text-wrapper ul.btn-wrapper li a {
          overflow: hidden; }
        section.contact--main .text-wrapper ul.btn-wrapper li i {
          display: none; }
        section.contact--main .text-wrapper ul.btn-wrapper li span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis; }
    section.contact--main .contact-form-wrapper {
      padding: 60px 20px 0; }
    section.contact--main form span.wpcf7-list-item {
      padding: 5px 0; } }

section.single-projet::before {
  position: absolute;
  display: block;
  content: '';
  height: 300px;
  width: 300px;
  top: 0;
  left: 0;
  background: radial-gradient(at top left, #120249 0, #0C0130 50%); }
  @media screen and (min-width: 1199px) {
    section.single-projet::before {
      height: 500px;
      width: 500px; } }

section.single-projet.hero, section.single-projet.hero--home {
  min-height: 200px;
  padding-bottom: 20px;
  height: auto; }
  section.single-projet.hero .text-wrapper, section.single-projet.hero--home .text-wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 740px; }
    section.single-projet.hero .text-wrapper .title, section.single-projet.hero--home .text-wrapper .title, section.single-projet.hero .text-wrapper .wide-title, section.single-projet.hero--home .text-wrapper .wide-title, section.single-projet.hero .text-wrapper .big-title, section.single-projet.hero--home .text-wrapper .big-title, section.single-projet.hero .text-wrapper .medium-title, section.single-projet.hero--home .text-wrapper .medium-title, section.single-projet.hero .text-wrapper blockquote, section.single-projet.hero--home .text-wrapper blockquote, section.single-projet.hero .text-wrapper .small-title, section.single-projet.hero--home .text-wrapper .small-title {
      margin: 0 auto; }
    section.single-projet.hero .text-wrapper .sub-title, section.single-projet.hero--home .text-wrapper .sub-title {
      margin-top: 20px;
      margin: 15px auto 25px; }
    section.single-projet.hero .text-wrapper::before, section.single-projet.hero--home .text-wrapper::before, section.single-projet.hero .text-wrapper::after, section.single-projet.hero--home .text-wrapper::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      position: static;
      opacity: 0.14;
      background: #FFF; }
    section.single-projet.hero .text-wrapper::before, section.single-projet.hero--home .text-wrapper::before {
      margin: 0 auto 30px;
      transform: translateX(85px) rotate(-45deg); }
    section.single-projet.hero .text-wrapper::after, section.single-projet.hero--home .text-wrapper::after {
      margin: 30px auto 0;
      transform: translateX(-85px) rotate(-45deg); }

section.single-projet--main {
  padding-top: 60px; }
  section.single-projet--main .text-wrapper {
    max-width: 475px;
    opacity: 0;
    animation: fadein 2s 1.5s 1 forwards; }
    section.single-projet--main .text-wrapper .intro .title, section.single-projet--main .text-wrapper .intro .wide-title, section.single-projet--main .text-wrapper .intro .big-title, section.single-projet--main .text-wrapper .intro .medium-title, section.single-projet--main .text-wrapper .intro blockquote, section.single-projet--main .text-wrapper .intro .small-title {
      margin: 35px 0 10px; }
    section.single-projet--main .text-wrapper .intro p {
      margin: 0; }
    section.single-projet--main .text-wrapper .btn-link {
      padding: 10px 0;
      opacity: 0.4;
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s;
      font-weight: 300; }
      section.single-projet--main .text-wrapper .btn-link:hover {
        opacity: 1; }
    section.single-projet--main .text-wrapper ul.list-item {
      padding: 35px 0;
      opacity: 0.9; }
    section.single-projet--main .text-wrapper ul .btn-icon {
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer; }
      section.single-projet--main .text-wrapper ul .btn-icon i {
        font-size: 24px; }
  section.single-projet--main .image-wrapper {
    opacity: 0;
    animation: fadeInImage 2s 0.5s 1 forwards; }
    section.single-projet--main .image-wrapper img {
      width: 100%; }

section.single-projet--gallery {
  padding: 30px 0 0;
  background-color: #0C0130; }
  section.single-projet--gallery .generic-vignette {
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 35px; }
    section.single-projet--gallery .generic-vignette img {
      width: 100%;
      transform: scale(1.02); }
    section.single-projet--gallery .generic-vignette:hover img {
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s;
      transform: scale(1); }
  section.single-projet--gallery .full-size .generic-vignette {
    max-height: 800px; }
  section.single-projet--gallery .half-size .generic-vignette {
    max-height: 700px; }
    section.single-projet--gallery .half-size .generic-vignette img {
      display: block; }

section.single-projet--cta .text-wrapper {
  margin: 0 0 0 auto;
  padding-left: 60px; }
  section.single-projet--cta .text-wrapper .element-quote {
    margin-bottom: 60px; }
  section.single-projet--cta .text-wrapper .btn-icon {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; }
    section.single-projet--cta .text-wrapper .btn-icon i {
      font-size: 24px; }

section.single-projet--listing {
  margin-bottom: 0; }
  section.single-projet--listing .listing-intro {
    padding-top: 120px;
    padding-bottom: 60px; }
    section.single-projet--listing .listing-intro .listing--container {
      margin-top: 0; }
  section.single-projet--listing .projets-list::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 120px;
    background: #0C0130; }
  section.single-projet--listing .text-wrapper {
    text-align: left; }
    section.single-projet--listing .text-wrapper .title, section.single-projet--listing .text-wrapper .wide-title, section.single-projet--listing .text-wrapper .big-title, section.single-projet--listing .text-wrapper .medium-title, section.single-projet--listing .text-wrapper blockquote, section.single-projet--listing .text-wrapper .small-title {
      margin: 0; }
  section.single-projet--listing .link-wrapper {
    text-align: right; }

@media screen and (max-width: 1199px) {
  section.single-projet--cta .text-wrapper {
    padding-left: 30px; } }

@media screen and (max-width: 991px) {
  section.single-projet.hero, section.single-projet.hero--home {
    padding-top: 90px; }
    section.single-projet.hero .text-wrapper, section.single-projet.hero--home .text-wrapper {
      padding: 20px; }
      section.single-projet.hero .text-wrapper .title, section.single-projet.hero--home .text-wrapper .title, section.single-projet.hero .text-wrapper .wide-title, section.single-projet.hero--home .text-wrapper .wide-title, section.single-projet.hero .text-wrapper .big-title, section.single-projet.hero--home .text-wrapper .big-title, section.single-projet.hero .text-wrapper .medium-title, section.single-projet.hero--home .text-wrapper .medium-title, section.single-projet.hero .text-wrapper blockquote, section.single-projet.hero--home .text-wrapper blockquote, section.single-projet.hero .text-wrapper .small-title, section.single-projet.hero--home .text-wrapper .small-title {
        font-size: 34px; }
      section.single-projet.hero .text-wrapper .sub-title, section.single-projet.hero--home .text-wrapper .sub-title {
        font-size: 20px; }
  section.single-projet--main {
    padding-top: 30px; }
    section.single-projet--main .text-wrapper {
      padding: 35px 0;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto; }
      section.single-projet--main .text-wrapper ul.list-item {
        padding: 20px 0; }
    section.single-projet--main .image-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto; }
  section.single-projet--listing {
    margin-bottom: 0; }
    section.single-projet--listing .link-wrapper {
      text-align: left;
      padding-top: 20px; }
      section.single-projet--listing .link-wrapper .btn-link {
        padding-left: 0;
        padding-right: 0; }
    section.single-projet--listing .listing-intro .listing--container {
      max-width: 540px; }
    section.single-projet--listing .listing--container.projets-list {
      padding: 0 30px; }
    section.single-projet--listing .listing--container__item {
      padding-left: 10px !important;
      padding-right: 10px !important; }
      section.single-projet--listing .listing--container__item .text-wrapper .title, section.single-projet--listing .listing--container__item .text-wrapper .wide-title, section.single-projet--listing .listing--container__item .text-wrapper .big-title, section.single-projet--listing .listing--container__item .text-wrapper .medium-title, section.single-projet--listing .listing--container__item .text-wrapper blockquote, section.single-projet--listing .listing--container__item .text-wrapper .small-title {
        font-size: 24px; }
  section.single-projet--cta .text-wrapper {
    padding-left: 15px; }
    section.single-projet--cta .text-wrapper .element-quote {
      margin-bottom: 30px; }
      section.single-projet--cta .text-wrapper .element-quote .title, section.single-projet--cta .text-wrapper .element-quote .wide-title, section.single-projet--cta .text-wrapper .element-quote .big-title, section.single-projet--cta .text-wrapper .element-quote .medium-title, section.single-projet--cta .text-wrapper .element-quote blockquote, section.single-projet--cta .text-wrapper .element-quote .small-title {
        font-size: 34px; }
    section.single-projet--cta .text-wrapper ul li {
      margin: 0 0 10px; }
      section.single-projet--cta .text-wrapper ul li a {
        display: inline-block; } }

@media screen and (max-width: 575px) {
  .horizontal-slider article.slider-item {
    max-height: 470px;
    width: 85%; }
    .horizontal-slider article.slider-item:first-child .label {
      right: 0; }
  section.single-projet--main .col-image {
    padding: 0; }
    section.single-projet--main .col-image::before {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      z-index: 2;
      background: linear-gradient(0deg, #0c0130 0%, rgba(7, 8, 47, 0) 100%); }
  section.single-projet--main ul li {
    margin: 0 0 10px; }
    section.single-projet--main ul li a {
      display: inline-block; }
  section.single-projet--main ul.list-inline li {
    display: inline-block;
    margin-right: 5px; }
  section.single-projet--main .text-wrapper {
    padding: 20px; }
  section.single-projet--gallery .container {
    padding-left: 0;
    padding-right: 0; }
    section.single-projet--gallery .container .row {
      margin-left: 0;
      margin-right: 0; }
      section.single-projet--gallery .container .row .item {
        padding: 0; }
  section.single-projet--gallery .generic-vignette {
    margin-bottom: 0; }
  section.single-projet--cta {
    padding: 60px 20px 30px; }
    section.single-projet--cta .text-wrapper {
      padding: 30px 0 0; }
      section.single-projet--cta .text-wrapper .element-quote .big-title {
        padding-bottom: 20px; }
  section.single-projet--listing {
    margin-bottom: 0; }
    section.single-projet--listing .listing-intro {
      padding: 30px 20px; }
  section.single-projet.listing .listing--container__item {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  section.single-projet.listing .listing--container.projets-list {
    padding: 0 20px; }
    section.single-projet.listing .listing--container.projets-list .text-wrapper .title, section.single-projet.listing .listing--container.projets-list .text-wrapper .wide-title, section.single-projet.listing .listing--container.projets-list .text-wrapper .big-title, section.single-projet.listing .listing--container.projets-list .text-wrapper .medium-title, section.single-projet.listing .listing--container.projets-list .text-wrapper blockquote, section.single-projet.listing .listing--container.projets-list .text-wrapper .small-title {
      font-size: 30px; } }

section.listing--info {
  text-align: center;
  padding-top: 60px; }
  section.listing--info .text-wrapper {
    position: relative;
    padding: 0 20px; }
    section.listing--info .text-wrapper::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      top: -30px;
      bottom: auto;
      background-color: #0C0130;
      position: static;
      margin: 0 auto 40px;
      opacity: 0.14; }
  section.listing--info ul.list-inline {
    padding-top: 20px; }
    section.listing--info ul.list-inline li {
      margin-bottom: 10px; }
    @media screen and (max-width: 575px) {
      section.listing--info ul.list-inline li {
        margin-right: 0; } }

section.listing .listing--presse .filters {
  display: none; }

section.listing .filters {
  padding-bottom: 60px; }
  section.listing .filters nav ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    section.listing .filters nav ul li {
      display: inline-block;
      position: relative;
      margin-left: 20px; }
    section.listing .filters nav ul a.btn-filters {
      padding: 10px 0;
      display: block; }
      section.listing .filters nav ul a.btn-filters.all {
        color: #A8392E;
        font-weight: 500; }
        section.listing .filters nav ul a.btn-filters.all::after {
          border-color: #A8392E; }
      section.listing .filters nav ul a.btn-filters.cat {
        text-transform: uppercase;
        font-weight: 500;
        font-style: italic;
        color: #0C0130; }
        section.listing .filters nav ul a.btn-filters.cat::after {
          border-color: #0C0130; }

section.listing .pagination-custom {
  text-align: center;
  padding: 15px 0; }
  section.listing .pagination-custom span.current {
    display: inline-block;
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    background-color: #0C0130;
    color: #FFF;
    font-weight: bold; }
  section.listing .pagination-custom a.page-numbers {
    display: inline-block;
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    color: #0C0130;
    opacity: 0.6;
    padding: 0 5px; }
    section.listing .pagination-custom a.page-numbers:hover {
      opacity: 1; }

section.listing.listing--projets, section.listing.listing--presse {
  padding-bottom: 0; }
  section.listing.listing--projets.archives, section.listing.listing--presse.archives {
    padding-top: 120px; }

section.listing .listing--container {
  margin: 0 auto;
  display: block;
  max-width: 1040px; }
  @media screen and (min-width: 1199px) {
    section.listing .listing--container {
      max-width: 1340px;
      padding-left: 15px;
      padding-right: 15px; } }
  section.listing .listing--container.projets-list {
    margin-top: 0; }
  section.listing .listing--container__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px; }
    section.listing .listing--container__item.inactive {
      display: none; }
    section.listing .listing--container__item.active {
      animation: fadein 2s 1; }
    section.listing .listing--container__item .generic-vignette {
      overflow: hidden;
      box-shadow: none;
      max-height: 525px; }
      section.listing .listing--container__item .generic-vignette img {
        transform: scale(1.05);
        transition: all 0.8s;
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s; }
      section.listing .listing--container__item .generic-vignette .btn-arrow {
        position: absolute;
        bottom: 0;
        right: 0; }
      section.listing .listing--container__item .generic-vignette::before, section.listing .listing--container__item .generic-vignette::after {
        opacity: 0; }
      section.listing .listing--container__item .generic-vignette:hover::before, section.listing .listing--container__item .generic-vignette:hover::after {
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s;
        opacity: 1; }
      section.listing .listing--container__item .generic-vignette:hover img {
        transform: scale(1); }
      @media screen and (min-width: 1199px) {
        section.listing .listing--container__item .generic-vignette .btn-arrow {
          opacity: 0;
          bottom: -60px;
          transition: all 0.8s;
          -moz-transition: all 0.8s;
          -webkit-transition: all 0.8s; }
        section.listing .listing--container__item .generic-vignette:hover .btn-arrow {
          opacity: 1;
          bottom: 0; } }
    section.listing .listing--container__item .text-wrapper {
      padding: 20px 0; }
    section.listing .listing--container__item .title, section.listing .listing--container__item .wide-title, section.listing .listing--container__item .big-title, section.listing .listing--container__item .medium-title, section.listing .listing--container__item blockquote, section.listing .listing--container__item .small-title {
      margin-bottom: 0;
      display: block;
      font-weight: 500; }
    section.listing .listing--container__item .desc {
      display: block;
      color: #A8392E;
      font-size: 20px;
      padding-top: 2.5px; }

section.presse-intro.hero, section.presse-intro.hero--home {
  padding-bottom: 60px; }
  section.presse-intro.hero .intro, section.presse-intro.hero--home .intro {
    line-height: 24px; }

@media screen and (max-width: 1199px) {
  section.single-projet--listing {
    margin-bottom: 60px; }
  section.listing .listing--container {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px; }
  section.listing .filters {
    padding-bottom: 0;
    padding-top: 60px; }
    section.listing .filters nav {
      padding-top: 30px; }
      section.listing .filters nav ul {
        text-align: left; }
        section.listing .filters nav ul li {
          margin-left: 0;
          margin-right: 20px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  section.listing .listing-intro .listing--container {
    width: 90%; }
  section.listing .listing--container {
    padding-left: 30px;
    padding-right: 30px; }
    section.listing .listing--container.projets-list {
      width: 90%; }
    section.listing .listing--container__item .title, section.listing .listing--container__item .wide-title, section.listing .listing--container__item .big-title, section.listing .listing--container__item .medium-title, section.listing .listing--container__item blockquote, section.listing .listing--container__item .small-title {
      font-size: 26px; } }

@media screen and (max-width: 991px) {
  section.listing .filters nav {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  section.listing .filters .filters__title {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; }
  section.listing--contact {
    padding-top: 60px; }
  section.listing .listing--container__item .desc {
    font-size: 16px; } }

@media screen and (max-width: 575px) {
  section.listing.listing--presse .filters .filters__title {
    padding-left: 30px; }
  section.listing.listing--presse .filters nav {
    padding: 15px 0 0 15px; }
  section.listing .filters {
    padding-top: 0; }
    section.listing .filters .filters__title {
      padding-left: 15px; }
  section.listing .listing--container {
    margin: 30px auto 0; }
    section.listing .listing--container__item {
      padding-left: 15px;
      padding-right: 15px; }
  section.listing--contact .cta--banner__wrapper {
    padding-top: 60px; }
    section.listing--contact .cta--banner__wrapper .image-wrapper {
      margin-top: 30px; } }

ul.collab-list {
  padding-top: 35px; }

.collab--text p.intro {
  margin-top: 35px !important; }

.collab--outro {
  padding: 60px 20px;
  background-color: #0C0130; }
  @media screen and (min-width: 991px) {
    .collab--outro {
      padding: 60px 0 120px; } }
  .collab--outro__wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    .collab--outro__wrapper .btn-wrapper {
      padding-top: 20px;
      text-align: center; }

.collab--other {
  padding: 60px 20px 0; }
  @media screen and (min-width: 991px) {
    .collab--other {
      padding: 120px 0 0; } }
  .collab--other__wrapper {
    max-width: 800px;
    margin: 0 auto; }
  .collab--other__list {
    padding: 0;
    margin: 35px 0; }
    .collab--other__list__item {
      border-bottom: 1.2px solid rgba(12, 1, 48, 0.1);
      list-style: none; }
      .collab--other__list__item a {
        padding: 20px 30px 20px 0;
        font-weight: bold;
        display: block;
        color: #0C0130;
        background: url("../../../../images/arrows/arrow-right--red.png") no-repeat center right/22px auto;
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s; }
        @media screen and (min-width: 991px) {
          .collab--other__list__item a {
            font-size: 20px; }
            .collab--other__list__item a:hover {
              color: #A8392E; } }
