:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

section.listing--info {
  text-align: center;
  padding-top: 60px; }
  section.listing--info .text-wrapper {
    position: relative;
    padding: 0 20px; }
    section.listing--info .text-wrapper::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      top: -30px;
      bottom: auto;
      background-color: #0C0130;
      position: static;
      margin: 0 auto 40px;
      opacity: 0.14; }
  section.listing--info ul.list-inline {
    padding-top: 20px; }
    section.listing--info ul.list-inline li {
      margin-bottom: 10px; }
    @media screen and (max-width: 575px) {
      section.listing--info ul.list-inline li {
        margin-right: 0; } }

section.listing .listing--presse .filters {
  display: none; }

section.listing .filters {
  padding-bottom: 60px; }
  section.listing .filters nav ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    section.listing .filters nav ul li {
      display: inline-block;
      position: relative;
      margin-left: 20px; }
    section.listing .filters nav ul a.btn-filters {
      padding: 10px 0;
      display: block; }
      section.listing .filters nav ul a.btn-filters.all {
        color: #A8392E;
        font-weight: 500; }
        section.listing .filters nav ul a.btn-filters.all::after {
          border-color: #A8392E; }
      section.listing .filters nav ul a.btn-filters.cat {
        text-transform: uppercase;
        font-weight: 500;
        font-style: italic;
        color: #0C0130; }
        section.listing .filters nav ul a.btn-filters.cat::after {
          border-color: #0C0130; }

section.listing .pagination-custom {
  text-align: center;
  padding: 15px 0; }
  section.listing .pagination-custom span.current {
    display: inline-block;
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    background-color: #0C0130;
    color: #FFF;
    font-weight: bold; }
  section.listing .pagination-custom a.page-numbers {
    display: inline-block;
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    color: #0C0130;
    opacity: 0.6;
    padding: 0 5px; }
    section.listing .pagination-custom a.page-numbers:hover {
      opacity: 1; }

section.listing.listing--projets, section.listing.listing--presse {
  padding-bottom: 0; }
  section.listing.listing--projets.archives, section.listing.listing--presse.archives {
    padding-top: 120px; }

section.listing .listing--container {
  margin: 0 auto;
  display: block;
  max-width: 1040px; }
  @media screen and (min-width: 1199px) {
    section.listing .listing--container {
      max-width: 1340px;
      padding-left: 15px;
      padding-right: 15px; } }
  section.listing .listing--container.projets-list {
    margin-top: 0; }
  section.listing .listing--container__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px; }
    section.listing .listing--container__item.inactive {
      display: none; }
    section.listing .listing--container__item.active {
      animation: fadein 2s 1; }
    section.listing .listing--container__item .generic-vignette {
      overflow: hidden;
      box-shadow: none;
      max-height: 525px; }
      section.listing .listing--container__item .generic-vignette img {
        transform: scale(1.05);
        transition: all 0.8s;
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s; }
      section.listing .listing--container__item .generic-vignette .btn-arrow {
        position: absolute;
        bottom: 0;
        right: 0; }
      section.listing .listing--container__item .generic-vignette::before, section.listing .listing--container__item .generic-vignette::after {
        opacity: 0; }
      section.listing .listing--container__item .generic-vignette:hover::before, section.listing .listing--container__item .generic-vignette:hover::after {
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s;
        opacity: 1; }
      section.listing .listing--container__item .generic-vignette:hover img {
        transform: scale(1); }
      @media screen and (min-width: 1199px) {
        section.listing .listing--container__item .generic-vignette .btn-arrow {
          opacity: 0;
          bottom: -60px;
          transition: all 0.8s;
          -moz-transition: all 0.8s;
          -webkit-transition: all 0.8s; }
        section.listing .listing--container__item .generic-vignette:hover .btn-arrow {
          opacity: 1;
          bottom: 0; } }
    section.listing .listing--container__item .text-wrapper {
      padding: 20px 0; }
    section.listing .listing--container__item .title, section.listing .listing--container__item .wide-title, section.listing .listing--container__item .big-title, section.listing .listing--container__item .medium-title, section.listing .listing--container__item .small-title {
      margin-bottom: 0;
      display: block;
      font-weight: 500; }
    section.listing .listing--container__item .desc {
      display: block;
      color: #A8392E;
      font-size: 20px;
      padding-top: 2.5px; }

section.presse-intro.hero {
  padding-bottom: 60px; }
  section.presse-intro.hero .intro {
    line-height: 24px; }

@media screen and (max-width: 1199px) {
  section.single-projet--listing {
    margin-bottom: 60px; }
  section.listing .listing--container {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px; }
  section.listing .filters {
    padding-bottom: 0;
    padding-top: 60px; }
    section.listing .filters nav {
      padding-top: 30px; }
      section.listing .filters nav ul {
        text-align: left; }
        section.listing .filters nav ul li {
          margin-left: 0;
          margin-right: 20px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  section.listing .listing-intro .listing--container {
    width: 90%; }
  section.listing .listing--container {
    padding-left: 30px;
    padding-right: 30px; }
    section.listing .listing--container.projets-list {
      width: 90%; }
    section.listing .listing--container__item .title, section.listing .listing--container__item .wide-title, section.listing .listing--container__item .big-title, section.listing .listing--container__item .medium-title, section.listing .listing--container__item .small-title {
      font-size: 26px; } }

@media screen and (max-width: 991px) {
  section.listing .filters nav {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  section.listing .filters .filters__title {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; }
  section.listing--contact {
    padding-top: 60px; }
  section.listing .listing--container__item .desc {
    font-size: 16px; } }

@media screen and (max-width: 575px) {
  section.listing.listing--presse .filters .filters__title {
    padding-left: 30px; }
  section.listing.listing--presse .filters nav {
    padding: 15px 0 0 15px; }
  section.listing .filters {
    padding-top: 0; }
    section.listing .filters .filters__title {
      padding-left: 15px; }
  section.listing .listing--container {
    margin: 30px auto 0; }
    section.listing .listing--container__item {
      padding-left: 15px;
      padding-right: 15px; }
  section.listing--contact .cta--banner__wrapper {
    padding-top: 60px; }
    section.listing--contact .cta--banner__wrapper .image-wrapper {
      margin-top: 30px; } }
