:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, section blockquote, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, section blockquote + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  section blockquote + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  section blockquote + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  section blockquote + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  section blockquote + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title, section .wide-title + blockquote {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title, section blockquote {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title, section blockquote {
    font-size: 36px; }
  blockquote.medium-title, section blockquote {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title, section blockquote {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title, section blockquote {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title, section blockquote {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

section blockquote {
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  font-style: italic; }
  section blockquote::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    right: 10%;
    left: auto;
    top: -30px;
    bottom: auto; }
  section blockquote::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    left: -60px; }
  section blockquote.secondary-color::after, section blockquote.secondary-color::before {
    background-color: #A8392E;
    opacity: 0.14; }

section.white--bg blockquote::before, section.white--bg blockquote::after {
  background-color: #0C0130;
  opacity: 0.14; }

@media screen and (min-width: 1199px) {
  .page-atelier section.hero .cta {
    padding-top: 40px; } }

section.atelier--main .atelier__intro {
  padding-top: 35px; }

section.atelier--main .atelier__philosophie {
  padding-top: 0; }
  section.atelier--main .atelier__philosophie .element-quote {
    max-width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding-right: 60px; }
  section.atelier--main .atelier__philosophie blockquote::after {
    display: none; }

section.atelier--main#philosophie {
  padding-bottom: 60px; }

section.atelier--team {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px; }
  section.atelier--team article .text-wrapper {
    display: block; }

section.atelier--quote {
  padding-top: 0; }
  section.atelier--quote .quote-wrapper {
    padding-left: 35px; }

section.atelier--contact .cta--banner__wrapper {
  padding-left: 0;
  padding-right: 0; }
  section.atelier--contact .cta--banner__wrapper .cta--text-block {
    padding-left: 35px; }

section.atelier--contact .vignette-projet::before, section.atelier--contact .vignette-projet::after {
  opacity: 1; }

section.atelier--contact .vignette-projet .label {
  bottom: 20px;
  opacity: 1; }

section.atelier--bureau {
  padding-bottom: 40px; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    max-width: 540px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: 0; }

@media screen and (max-width: 1199px) {
  body.page-atelier aside .insta {
    padding-top: 60px; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    padding-left: 35px; } }

@media screen and (max-width: 991px) {
  body.page-atelier aside.insta {
    padding-top: 0; } }

@media screen and (max-width: 991px) {
  section.atelier--main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px; }
    section.atelier--main .big-title {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px; }
    section.atelier--main#philosophie {
      padding-top: 60px; }
    section.atelier--main .atelier__intro {
      margin-bottom: 30px;
      padding-top: 15px; }
      section.atelier--main .atelier__intro .text-wrapper {
        padding: 0;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto; }
        section.atelier--main .atelier__intro .text-wrapper span.wide-title {
          display: none; }
      section.atelier--main .atelier__intro .image-wrapper {
        margin-top: 60px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto; }
    section.atelier--main .atelier__philosophie {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      padding-bottom: 0; }
      section.atelier--main .atelier__philosophie .element-quote {
        padding: 0 0 60px; }
  section.atelier--contact {
    position: relative; }
    section.atelier--contact .cta--banner__wrapper {
      padding: 0;
      position: relative;
      z-index: 2; }
      section.atelier--contact .cta--banner__wrapper .col-left {
        padding: 0; }
      section.atelier--contact .cta--banner__wrapper .text-wrapper {
        padding-left: 0;
        padding-right: 0; }
      section.atelier--contact .cta--banner__wrapper .image-wrapper {
        margin: 0;
        max-height: 60vh;
        overflow: hidden; }
      section.atelier--contact .cta--banner__wrapper .cta--text-block {
        padding: 60px 0; }
    section.atelier--contact::after {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      height: 60px;
      background-color: #FFF;
      bottom: 0;
      left: 0;
      right: 0; }
  section.atelier--team {
    padding-bottom: 60px; }
  section.atelier--quote {
    padding-bottom: 60px; }
    section.atelier--quote .text-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    max-width: 540px;
    margin: 0 auto 60px;
    padding: 0; } }

@media screen and (max-width: 575px) {
  section.atelier--main.first {
    padding-bottom: 0; }
  section.atelier--main .big-title {
    padding-left: 0; }
  section.atelier--main .atelier__philosophie {
    padding-top: 30px;
    margin-top: 0; }
    section.atelier--main .atelier__philosophie .col-left,
    section.atelier--main .atelier__philosophie .col-right {
      padding-left: 0;
      padding-right: 0; }
  section.atelier--main .atelier__intro .text-wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  section.atelier--contact {
    padding: 0 35px; }
    section.atelier--contact .cta--banner__wrapper .cta--text-block {
      padding: 30px 0 60px; }
    section.atelier--contact .cta--banner__wrapper .col-left {
      padding: 0; }
    section.atelier--contact .cta--banner__wrapper .image-wrapper {
      max-height: 70vh; }
  section.atelier--quote {
    padding: 60px 20px; }
    section.atelier--quote .atelier__philosophie .quote-wrapper {
      padding: 0; }
      section.atelier--quote .atelier__philosophie .quote-wrapper blockquote {
        padding: 20px 0; }
  section.atelier--bureau .text-wrapper .cta--text-block {
    padding: 0 20px; } }
