:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

html {
  scroll-behavior: smooth;
  scroll-margin: 120px; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    scroll-margin: 120px; } }

a {
  text-decoration: none; }
  a:hover {
    color: #FFF;
    text-decoration: none; }

.btn, .btn-primary, .btn-primary--right, section.contact--main form input[type="submit"],
.btn-secondary, .btn-secondary--right, .btn-secondary--down, .btn-white, .btn-link, .btn-arrow {
  border-radius: 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.9px; }

.btn-primary, .btn-primary--right, section.contact--main form input[type="submit"],
.btn-secondary,
.btn-secondary--right,
.btn-secondary--down {
  font-weight: 500;
  font-style: italic;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  display: inline-block;
  color: #FFF;
  background-color: #0C0130; }
  .btn-primary::before, .btn-primary--right::before, section.contact--main form input[type="submit"]::before,
  .btn-secondary::before,
  .btn-secondary--right::before,
  .btn-secondary--down::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .btn-primary:hover, .btn-primary--right:hover, section.contact--main form input:hover[type="submit"],
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .btn-secondary--down:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; }
    .btn-primary:hover::before, .btn-primary--right:hover::before, section.contact--main form input[type="submit"]:hover::before,
    .btn-secondary:hover::before,
    .btn-secondary--right:hover::before,
    .btn-secondary--down:hover::before {
      opacity: 0; }

.btn-primary::before, .btn-primary--right::before, section.contact--main form input[type="submit"]::before {
  border: 1.2px solid #0C0130;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  opacity: 1;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s; }

.btn-primary:hover, .btn-primary--right:hover, section.contact--main form input:hover[type="submit"] {
  background-color: #060017; }

.btn-primary--right {
  position: relative;
  padding-right: 50px !important; }
  .btn-primary--right::after {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }


.btn-secondary,
.btn-secondary--right,
.btn-secondary--down {
  background-color: #A8392E; }
  
  .btn-secondary::before,
  .btn-secondary--right::before,
  .btn-secondary--down::before {
    border-color: #A8392E; }
  
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .btn-secondary--down:hover {
    background-color: #943229; }
  .btn-secondary--right {
    position: relative;
    padding-right: 50px !important; }
    .btn-secondary--right::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }
  .btn-secondary--down {
    position: relative;
    padding-left: 45px !important;
    padding-right: 20px !important; }
    .btn-secondary--down::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      left: 10px;
      right: auto;
      background-size: auto 22px;
      background-image: url("../../../../images/arrows/arrow-down--white.png"); }

.btn-white {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-white--right {
    padding-right: 50px !important; }
    .btn-white--right::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }

.btn-link {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-link.primary-color {
    color: #0C0130; }

.btn-arrow {
  display: block;
  height: 60px;
  width: 60px; }
  .btn-arrow--right {
    background: #FFF url("../../../../images/arrows/arrow-right--red.png") no-repeat center/22px auto; }
  .btn-arrow--left {
    background: #FFF url("../../../../images/arrows/arrow-left--red.png") no-repeat center/22px auto; }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

section.contact--intro .btn-wrapper {
  display: none; }

section.contact--main {
  padding-top: 0;
  position: relative; }
  section.contact--main::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 40%;
    height: 240px;
    background-color: #0C0130; }
  section.contact--main .text-wrapper {
    padding-top: 120px;
    max-width: 570px;
    position: relative; }
    section.contact--main .text-wrapper::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      background-color: #0C0130;
      opacity: 0.14;
      left: -60px; }
    section.contact--main .text-wrapper ul.btn-wrapper {
      padding-top: 0; }
      section.contact--main .text-wrapper ul.btn-wrapper li {
        display: list-item;
        margin: 0 0 5px;
        list-style: none; }
        section.contact--main .text-wrapper ul.btn-wrapper li a {
          color: #0C0130;
          padding: 5px 0; }
          section.contact--main .text-wrapper ul.btn-wrapper li a span {
            color: #0C0130;
            font-weight: bold; }
        section.contact--main .text-wrapper ul.btn-wrapper li i {
          font-size: 18px;
          display: inline-block;
          margin-right: 10px; }
  section.contact--main .contact-form-wrapper {
    padding-top: 60px;
    max-width: 570px; }
  section.contact--main .image-wrapper {
    padding-top: 120px;
    overflow: visible; }
    section.contact--main .image-wrapper.sticky-top {
      top: 0; }
    section.contact--main .image-wrapper .generic-vignette {
      opacity: 0;
      animation: fadein 2s 0.5s 1 forwards; }
  section.contact--main form .second-part {
    padding-top: 35px; }
  section.contact--main form br {
    display: none; }
  section.contact--main form span.wpcf7-list-item {
    margin: 0; }
  section.contact--main form select {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    color: #0C0130;
    font-size: 16px;
    letter-spacing: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 2px solid #0C0130; }
  section.contact--main form input[type="radio"],
  section.contact--main form input[type="checkbox"] {
    display: none; }
    section.contact--main form input[type="radio"] + span,
    section.contact--main form input[type="checkbox"] + span {
      padding-right: 15px; }
  section.contact--main form span.label {
    display: block;
    opacity: 0.7;
    color: #0C0130;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.75px; }
  section.contact--main form input[type="radio"] + span::before,
  section.contact--main form input[type="checkbox"] + span::before {
    content: '';
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px;
    display: inline-block;
    border-radius: 0;
    margin: 0 10px 0 0;
    border: 3px solid #0C0130;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  section.contact--main form input[type="radio"]:checked + span::before,
  section.contact--main form input[type="checkbox"]:checked + span::before {
    background-color: #0C0130;
    border-radius: 100%; }
  section.contact--main form label {
    width: 100%;
    display: block;
    color: #0C0130; }
    section.contact--main form label input[type="text"],
    section.contact--main form label input[type='email'],
    section.contact--main form label input[type="phone"],
    section.contact--main form label input[type="date"],
    section.contact--main form label textarea {
      width: 100%;
      padding: 10px 0;
      letter-spacing: 1px;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0px !important;
      margin-top: 5px;
      font-size: 16px;
      background-color: #FFF;
      border-bottom: 2px solid #0C0130;
      color: #0C0130;
      caret-color: #A8392E;
      font-weight: 300;
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s; }
      section.contact--main form label input[type="text"]:focus,
      section.contact--main form label input[type='email']:focus,
      section.contact--main form label input[type="phone"]:focus,
      section.contact--main form label input[type="date"]:focus,
      section.contact--main form label textarea:focus {
        padding-left: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0); }
    section.contact--main form label textarea {
      height: 170px;
      border: none;
      padding: 15px;
      background: #f7f7f7;
      font-family: "Roboto", "arial", sans-serif;
      font-weight: 300; }
  section.contact--main form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px !important;
    border: none;
    font-size: 16px;
    margin-top: 20px; }
  section.contact--main form .wpcf7-response-output {
    background: #FFF;
    margin: 15px 0 0 0;
    padding: 20px;
    border: none; }
  section.contact--main form.invalid .wpcf7-response-output, section.contact--main form.aborted .wpcf7-response-output, section.contact--main form.spam .wpcf7-response-output, section.contact--main form.unaccepted .wpcf7-response-output {
    background: #fce5ab;
    color: #715204; }
  section.contact--main form.failed .wpcf7-response-output {
    background: #f7cfbb;
    color: #732f0d; }
  section.contact--main form.sent .wpcf7-response-output {
    background: #e1eabb;
    color: #4c581b; }

@media screen and (max-width: 1199px) {
  section.contact--main .image-wrapper {
    padding-top: 60px; }
  section.contact--main .contact-form-wrapper {
    padding-right: 35px; } }

@media screen and (max-width: 991px) {
  section.contact--intro .btn-wrapper {
    display: block;
    padding-top: 20px; }
    section.contact--intro .btn-wrapper a i {
      font-size: 21px; }
  section.contact--main .text-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    max-width: 540px; }
  section.contact--main .image-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px; }
  section.contact--main .contact-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    max-width: 540px; } }

@media screen and (max-width: 575px) {
  section.contact--intro .text-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
    section.contact--intro .text-wrapper ul.btn-wrapper li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
  section.contact--main {
    padding-bottom: 0; }
    section.contact--main .image-wrapper {
      padding: 30px 20px 0; }
    section.contact--main .text-wrapper {
      padding: 60px 20px 0; }
      section.contact--main .text-wrapper ul.btn-wrapper li {
        display: block; }
        section.contact--main .text-wrapper ul.btn-wrapper li a {
          overflow: hidden; }
        section.contact--main .text-wrapper ul.btn-wrapper li i {
          display: none; }
        section.contact--main .text-wrapper ul.btn-wrapper li span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis; }
    section.contact--main .contact-form-wrapper {
      padding: 60px 20px 0; }
    section.contact--main form span.wpcf7-list-item {
      padding: 5px 0; } }
