:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

body.page-homepage header.site-header .logo-wrapper a {
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }

body.page-homepage header.site-header.is-active .logo-wrapper a {
  opacity: 1; }

section.hero--home {
  position: relative; }
  section.hero--home .logo {
    display: block;
    max-width: 320px;
    margin: 30px auto 50px; }
  section.hero--home .image-wrapper {
    width: 66%;
    min-width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    overflow: hidden; }
    section.hero--home .image-wrapper img {
      display: block;
      height: 100%;
      max-width: none;
      margin: 0 0 0 auto; }
    section.hero--home .image-wrapper::before {
      content: '';
      display: block;
      width: 300px;
      height: 100%;
      position: absolute;
      background: linear-gradient(90deg, #0C0130 0%, rgba(7, 8, 47, 0) 100%); }

section.home--projets {
  padding-bottom: 120px; }
  section.home--projets .cta {
    max-width: 445px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 30px;
    opacity: 0;
    animation: fadeInText 2.5s 1s 1 forwards; }
  section.home--projets .image-wrapper {
    position: relative;
    margin-top: -60px;
    opacity: 0;
    padding-right: 0;
    animation: fadeInImage 2.5s 0.5s 1 forwards; }

section.home--atelier {
  position: relative;
  padding-bottom: 0; }
  section.home--atelier .text-wrapper {
    padding-top: 60px; }
  section.home--atelier::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 40%;
    height: 240px;
    background-color: #0C0130; }

section.home--quote {
  margin-top: -60px; }
  section.home--quote .element-quote {
    margin-bottom: 35px;
    margin-top: 35px; }

@media screen and (min-width: 1199px) {
  section.hero--home .image-wrapper::before {
    width: 450px;
    background: linear-gradient(90deg, #07082F 30%, rgba(7, 8, 47, 0) 100%); } }

@media screen and (min-width: 1499px) {
  section.hero--home .image-wrapper::before {
    width: 600px; } }

@media screen and (max-width: 1199px) {
  section.home--quote {
    margin-top: 60px; } }

/* responsive */
@media screen and (max-width: 991px) {
  section.home--projets .image-wrapper {
    margin-top: 0;
    padding: 20px 0; } }

@media screen and (max-width: 991px) {
  section.hero--home {
    min-height: 70vh;
    padding-bottom: 60px; }
    section.hero--home .image-wrapper {
      width: 100%; }
      section.hero--home .image-wrapper::before {
        width: 100%;
        background: linear-gradient(5deg, rgba(12, 1, 48, 0.95) 20%, rgba(7, 8, 47, 0.2) 100%); }
  section.home--projets {
    padding-bottom: 120px; }
    section.home--projets .cta {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 0 60px; }
    section.home--projets .image-wrapper {
      padding: 0 0 0 60px; }
  section.home--atelier {
    padding-top: 0; }
    section.home--atelier .image-wrapper,
    section.home--atelier .text-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; }
    section.home--atelier .text-wrapper .cta {
      padding-bottom: 60px;
      padding-left: 15px;
      padding-right: 15px; }
  section.home--quote {
    margin-top: 0; }
  section.home--contact {
    padding-top: 60px; } }

@media screen and (max-width: 575px) {
  section.hero--home {
    height: auto;
    min-height: 200px;
    padding-top: 180px; }
    section.hero--home .logo {
      max-width: 220px;
      margin: 30px auto; }
    section.hero--home .image-wrapper {
      width: auto;
      height: 100%;
      top: 0; }
  section.home--projets {
    padding-bottom: 60px; }
    section.home--projets .cta {
      padding-right: 0;
      padding: 40px 20px; }
    section.home--projets .image-wrapper {
      padding-bottom: 50px;
      padding-left: 35px; }
  section.home--atelier .text-wrapper {
    margin: 0 auto;
    padding: 0 15px; }
    section.home--atelier .text-wrapper .cta {
      background-color: #FFF;
      padding: 40px 20px !important; }
  section.home--atelier .image-wrapper {
    margin: 0 20px 20px;
    box-shadow: none; }
  section.home--quote .image-wrapper {
    padding: 0 20px; }
  section.home--quote .element-quote {
    padding: 20px;
    margin: 35px auto 0; }
  section.home--contact .cta--banner__wrapper .text-wrapper {
    padding: 35px 15px; }
  section.home--contact .home-cta-image {
    padding: 0 15px; } }
