:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

section.single-projet::before {
  position: absolute;
  display: block;
  content: '';
  height: 300px;
  width: 300px;
  top: 0;
  left: 0;
  background: radial-gradient(at top left, #120249 0, #0C0130 50%); }
  @media screen and (min-width: 1199px) {
    section.single-projet::before {
      height: 500px;
      width: 500px; } }

section.single-projet.hero {
  min-height: 200px;
  padding-bottom: 20px;
  height: auto; }
  section.single-projet.hero .text-wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 740px; }
    section.single-projet.hero .text-wrapper .title, section.single-projet.hero .text-wrapper .wide-title, section.single-projet.hero .text-wrapper .big-title, section.single-projet.hero .text-wrapper .medium-title, section.single-projet.hero .text-wrapper .small-title {
      margin: 0 auto; }
    section.single-projet.hero .text-wrapper .sub-title {
      margin-top: 20px;
      margin: 15px auto 25px; }
    section.single-projet.hero .text-wrapper::before, section.single-projet.hero .text-wrapper::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      position: static;
      opacity: 0.14;
      background: #FFF; }
    section.single-projet.hero .text-wrapper::before {
      margin: 0 auto 30px;
      transform: translateX(85px) rotate(-45deg); }
    section.single-projet.hero .text-wrapper::after {
      margin: 30px auto 0;
      transform: translateX(-85px) rotate(-45deg); }

section.single-projet--main {
  padding-top: 60px; }
  section.single-projet--main .text-wrapper {
    max-width: 475px;
    opacity: 0;
    animation: fadein 2s 1.5s 1 forwards; }
    section.single-projet--main .text-wrapper .intro .title, section.single-projet--main .text-wrapper .intro .wide-title, section.single-projet--main .text-wrapper .intro .big-title, section.single-projet--main .text-wrapper .intro .medium-title, section.single-projet--main .text-wrapper .intro .small-title {
      margin: 35px 0 10px; }
    section.single-projet--main .text-wrapper .intro p {
      margin: 0; }
    section.single-projet--main .text-wrapper .btn-link {
      padding: 10px 0;
      opacity: 0.4;
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s;
      font-weight: 300; }
      section.single-projet--main .text-wrapper .btn-link:hover {
        opacity: 1; }
    section.single-projet--main .text-wrapper ul.list-item {
      padding: 35px 0;
      opacity: 0.9; }
    section.single-projet--main .text-wrapper ul .btn-icon {
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer; }
      section.single-projet--main .text-wrapper ul .btn-icon i {
        font-size: 24px; }
  section.single-projet--main .image-wrapper {
    opacity: 0;
    animation: fadeInImage 2s 0.5s 1 forwards; }
    section.single-projet--main .image-wrapper img {
      width: 100%; }

section.single-projet--gallery {
  padding: 30px 0 0;
  background-color: #0C0130; }
  section.single-projet--gallery .generic-vignette {
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 35px; }
    section.single-projet--gallery .generic-vignette img {
      width: 100%;
      transform: scale(1.02); }
    section.single-projet--gallery .generic-vignette:hover img {
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s;
      transform: scale(1); }
  section.single-projet--gallery .full-size .generic-vignette {
    max-height: 800px; }
  section.single-projet--gallery .half-size .generic-vignette {
    max-height: 700px; }
    section.single-projet--gallery .half-size .generic-vignette img {
      display: block; }

section.single-projet--cta .text-wrapper {
  margin: 0 0 0 auto;
  padding-left: 60px; }
  section.single-projet--cta .text-wrapper .element-quote {
    margin-bottom: 60px; }
  section.single-projet--cta .text-wrapper .btn-icon {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; }
    section.single-projet--cta .text-wrapper .btn-icon i {
      font-size: 24px; }

section.single-projet--listing {
  margin-bottom: 0; }
  section.single-projet--listing .listing-intro {
    padding-top: 120px;
    padding-bottom: 60px; }
    section.single-projet--listing .listing-intro .listing--container {
      margin-top: 0; }
  section.single-projet--listing .projets-list::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 120px;
    background: #0C0130; }
  section.single-projet--listing .text-wrapper {
    text-align: left; }
    section.single-projet--listing .text-wrapper .title, section.single-projet--listing .text-wrapper .wide-title, section.single-projet--listing .text-wrapper .big-title, section.single-projet--listing .text-wrapper .medium-title, section.single-projet--listing .text-wrapper .small-title {
      margin: 0; }
  section.single-projet--listing .link-wrapper {
    text-align: right; }

@media screen and (max-width: 1199px) {
  section.single-projet--cta .text-wrapper {
    padding-left: 30px; } }

@media screen and (max-width: 991px) {
  section.single-projet.hero {
    padding-top: 90px; }
    section.single-projet.hero .text-wrapper {
      padding: 20px; }
      section.single-projet.hero .text-wrapper .title, section.single-projet.hero .text-wrapper .wide-title, section.single-projet.hero .text-wrapper .big-title, section.single-projet.hero .text-wrapper .medium-title, section.single-projet.hero .text-wrapper .small-title {
        font-size: 34px; }
      section.single-projet.hero .text-wrapper .sub-title {
        font-size: 20px; }
  section.single-projet--main {
    padding-top: 30px; }
    section.single-projet--main .text-wrapper {
      padding: 35px 0;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto; }
      section.single-projet--main .text-wrapper ul.list-item {
        padding: 20px 0; }
    section.single-projet--main .image-wrapper {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto; }
  section.single-projet--listing {
    margin-bottom: 0; }
    section.single-projet--listing .link-wrapper {
      text-align: left;
      padding-top: 20px; }
      section.single-projet--listing .link-wrapper .btn-link {
        padding-left: 0;
        padding-right: 0; }
    section.single-projet--listing .listing-intro .listing--container {
      max-width: 540px; }
    section.single-projet--listing .listing--container.projets-list {
      padding: 0 30px; }
    section.single-projet--listing .listing--container__item {
      padding-left: 10px !important;
      padding-right: 10px !important; }
      section.single-projet--listing .listing--container__item .text-wrapper .title, section.single-projet--listing .listing--container__item .text-wrapper .wide-title, section.single-projet--listing .listing--container__item .text-wrapper .big-title, section.single-projet--listing .listing--container__item .text-wrapper .medium-title, section.single-projet--listing .listing--container__item .text-wrapper .small-title {
        font-size: 24px; }
  section.single-projet--cta .text-wrapper {
    padding-left: 15px; }
    section.single-projet--cta .text-wrapper .element-quote {
      margin-bottom: 30px; }
      section.single-projet--cta .text-wrapper .element-quote .title, section.single-projet--cta .text-wrapper .element-quote .wide-title, section.single-projet--cta .text-wrapper .element-quote .big-title, section.single-projet--cta .text-wrapper .element-quote .medium-title, section.single-projet--cta .text-wrapper .element-quote .small-title {
        font-size: 34px; }
    section.single-projet--cta .text-wrapper ul li {
      margin: 0 0 10px; }
      section.single-projet--cta .text-wrapper ul li a {
        display: inline-block; } }

@media screen and (max-width: 575px) {
  .horizontal-slider article.slider-item {
    max-height: 470px;
    width: 85%; }
    .horizontal-slider article.slider-item:first-child .label {
      right: 0; }
  section.single-projet--main .col-image {
    padding: 0; }
    section.single-projet--main .col-image::before {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      z-index: 2;
      background: linear-gradient(0deg, #0c0130 0%, rgba(7, 8, 47, 0) 100%); }
  section.single-projet--main ul li {
    margin: 0 0 10px; }
    section.single-projet--main ul li a {
      display: inline-block; }
  section.single-projet--main ul.list-inline li {
    display: inline-block;
    margin-right: 5px; }
  section.single-projet--main .text-wrapper {
    padding: 20px; }
  section.single-projet--gallery .container {
    padding-left: 0;
    padding-right: 0; }
    section.single-projet--gallery .container .row {
      margin-left: 0;
      margin-right: 0; }
      section.single-projet--gallery .container .row .item {
        padding: 0; }
  section.single-projet--gallery .generic-vignette {
    margin-bottom: 0; }
  section.single-projet--cta {
    padding: 60px 20px 30px; }
    section.single-projet--cta .text-wrapper {
      padding: 30px 0 0; }
      section.single-projet--cta .text-wrapper .element-quote .big-title {
        padding-bottom: 20px; }
  section.single-projet--listing {
    margin-bottom: 0; }
    section.single-projet--listing .listing-intro {
      padding: 30px 20px; }
  section.single-projet.listing .listing--container__item {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  section.single-projet.listing .listing--container.projets-list {
    padding: 0 20px; }
    section.single-projet.listing .listing--container.projets-list .text-wrapper .title, section.single-projet.listing .listing--container.projets-list .text-wrapper .wide-title, section.single-projet.listing .listing--container.projets-list .text-wrapper .big-title, section.single-projet.listing .listing--container.projets-list .text-wrapper .medium-title, section.single-projet.listing .listing--container.projets-list .text-wrapper .small-title {
      font-size: 30px; } }
