section {
	&.listing--info {
		text-align: center;
		padding-top: $nav-height / 2;
		.text-wrapper {
			position: relative;
			padding: 0 $main-padding;
			&::before {
				@include line-oblique;
				top: -30px;
				bottom: auto;
				background-color: $primary-color;
				position: static;
				margin: 0 auto 40px;
				opacity: 0.14;
			}
		}
		ul {
			&.list-inline {
				padding-top: $main-padding;
				li {
					margin-bottom: 10px;
				}
				@media screen and (max-width: $iphone) {
					li {
						margin-right: 0;
					}
				}
			}
		}
	}
	&.listing {
		.listing--presse {
			.filters {
				display: none;
			}
		}
		.filters {
			padding-bottom: ($nav-height / 2);
			nav {
				ul {
					padding: 0;
					margin: 0;
					text-align: right;
					li {
						display: inline-block;
						position: relative;
						margin-left: 20px;
					}
					a {
						&.btn-filters {
							padding: 10px 0;
							display: block;
							&.all {
								color: $secondary-color;
								@include medium;
								&::after {
									border-color: $secondary-color;
								}
							}
							&.cat {
								text-transform: uppercase;
								@include medium-italic;
								color: $primary-color;
								&::after {
									border-color: $primary-color;
								}
							}
						}
					}
				}
			}	
		}
		.pagination-custom {
			text-align: center;
			padding: 15px 0;
			@mixin pagination {
				display: inline-block;
				height: 30px;
				width: auto;
				min-width: 30px;
				padding: 0 15px;
				line-height: 30px;
				text-align: center;
			}
			span {
				&.current {
					@include pagination;
					background-color: $primary-color;
					color: $white;
					font-weight: bold;
				}
			}
			a {
				&.page-numbers {
					@include pagination;
					@include transition;
					color: $primary-color;
					opacity: 0.6;
					padding: 0 5px;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		&.listing--projets, 
		&.listing--presse {
			padding-bottom: 0;
			&.archives {
				padding-top: $nav-height;
			}
		}
		.listing--container {
			margin: 0 auto;
			display: block;
			max-width: 1040px;
			@media screen and (min-width: $laptop) {
				max-width: $container-size + 200;
				padding-left: 15px;
				padding-right: 15px;
			}
			&.projets-list {
				margin-top: 0;
			}
			&__item {
				padding-left: $main-padding;
				padding-right: $main-padding;
				margin-bottom: $nav-height / 4;
				&.inactive {
					display: none;
				}
				&.active {
					animation: fadein 2s 1;
				}
				.generic-vignette {
					overflow: hidden;
					box-shadow: none;
					max-height: 525px;
					img {
						transform: scale(1.05);
						@include transition(0.8s);
					}
					.btn-arrow {
						position: absolute;
						bottom: 0;
						right: 0;
					}
					&::before,
					&::after {
						opacity: 0;
					}
					&:hover {
						&::before, 
						&::after {
							@include transition;
							opacity: 1;
						}
						img {
							transform: scale(1);
						}
						.btn-arrow {

						}
					}
					@media screen and (min-width: $laptop) {
						.btn-arrow {
							opacity: 0;
							bottom: -60px;
							@include transition(0.8s);
						}
						&:hover {
							.btn-arrow {
								opacity: 1;
								bottom: 0;
							}
						}
					}
				}
				.text-wrapper {
					padding: $main-padding 0;
				}
				.title {
					margin-bottom: 0;
					display: block;
					@include medium;
				}
				.desc {
					display: block;
					color: $secondary-color;
					font-size: $p-size + 4;
					padding-top: 2.5px;
				}
			}
		}
	}
	&.presse-intro {
		&.hero {
			padding-bottom: $nav-height / 2;
			.intro{
				line-height: 24px;
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	section {
		&.single-projet {
			&--listing {
				margin-bottom: $nav-height / 2;
			}
		}
		&.listing {
			.listing--container {
				margin-top: $nav-height / 2;
				padding-left: 15px;
				padding-right: 15px;
			}
			.filters {
				padding-bottom: 0;
				padding-top: ($nav-height / 2);
				nav {
					padding-top: $nav-height / 4;
					ul {
						text-align: left;
						li {
							margin-left: 0;
							margin-right: $main-padding;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $ipad-land) and (max-width: $laptop) {
	section {
		&.listing {
			.listing-intro {
				.listing--container {
					width: 90%;
				}
			}
			.listing--container {
				padding-left: 30px;
				padding-right: 30px;
				&.projets-list {
					width: 90%;
				}
				&__item {
					.title {
						font-size: $p-size + 10;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	section {
		&.listing {
			.filters {
				nav {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
				}
				.filters__title {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
					padding-left: 0;
				}
			}
			&--contact {
				padding-top: $nav-height / 2;
			}
			.listing--container {
				&__item {
					.desc {
						font-size: $p-size;
					}
				}
			}
		}
	}
}


@media screen and (max-width: $iphone) {
	section {
		&.listing {
			&.listing--presse {
				.filters {
					.filters__title {
						padding-left: 30px;
					}
					nav {
						padding: 15px 0 0 15px;
					}
				}
			}
			.filters {

				padding-top: 0;
				.filters__title {
					padding-left: 15px;
				}
			}
			.listing--container {
				margin: $nav-height / 4 auto 0;
				&__item {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			&--contact {
				.cta--banner__wrapper {
					padding-top: $nav-height / 2;
					.image-wrapper {
						margin-top: $nav-height / 4;
					}
				}
			}
		}
	}
}