section {
	blockquote {
		margin-left: 0;
		margin-right: 0;
		@extend .medium-title; 
		@include medium-italic;
		&::before {
			@include line-oblique;
			right: 10%;
			left: auto;
			top: -30px;
			bottom: auto;
		}
		&::after {
			@include line-oblique;
			left: -60px;
		}
		&.secondary-color {
			&::after, 
			&::before {
				background-color: $secondary-color;
				opacity: 0.14;
			}
		}
	}
	&.white--bg {
		blockquote {
			&::before, 
			&::after {
				background-color: $primary-color;
				opacity: 0.14;
			}
		}
	}
}
@media screen and (min-width: $laptop) {
	.page-atelier {
		section {
			&.hero {
				.cta {
					padding-top: 40px;
				}
			}
		}
	}
}

section {
	&.atelier {
		&--main {
			.atelier__intro {
				padding-top: $cta-margin;
			}
			.atelier__philosophie {
				padding-top: 0;
				.element-quote {
					max-width: 100%;
					margin-left: 0;
					margin-right: auto;
					padding-right: $nav-height / 2;
				}
				blockquote {
					&::after {
						display: none;
					}
				}
			}
			&#philosophie {
				padding-bottom: $nav-height / 2;
			}
		}
		&--team {
			max-width: 1340px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: $nav-height;
			article {
				.text-wrapper {
					display: block;
				}
			}
		}
		&--quote {
			padding-top: 0;
			.quote-wrapper {
				padding-left: $cta-margin;
			}
		}
		&--contact {
			.cta--banner__wrapper {
				padding-left: 0;
				padding-right: 0;
				.cta--text-block {
					padding-left: $main-margin;
				}
			}
			.vignette-projet {
				&::before,
				&::after {
					opacity: 1;
				}
				.label {
					bottom: $main-padding;
					opacity: 1;
				}
			}
		}
		&--bureau {
			padding-bottom: $nav-height / 3;
			.text-wrapper {
				.cta--text-block {
					max-width: ($container-size / 2) - 30;
					padding-right: $cta-margin;
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	body.page-atelier {
		aside {
			.insta {
				padding-top: $nav-height / 2;
			}
		}
	}
	section {
		&.atelier {
			&--bureau {
				.text-wrapper {
					.cta--text-block {
						padding-left: $main-margin;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $ipad-land) {
	body {
		&.page-atelier {
			aside {
				&.insta {
					padding-top: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	section {
		&.atelier {
			&--main {
				padding-top: $nav-height / 2;
				padding-left: $main-padding;
				padding-right: $main-padding;
				.big-title {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
					padding-left: 15px;
				}
				&#philosophie {
					padding-top: $nav-height / 2;
				}
				.atelier__intro {
					margin-bottom: $nav-height / 4;
					padding-top: 15px;
					.text-wrapper {
						padding: 0;
						max-width: $container-size / 2 - 30;
						margin-left: auto;
						margin-right: auto;
						span {
							&.wide-title {
								display: none;
							}
						}
					}
					.image-wrapper {
						margin-top: $nav-height / 2;
						max-width: $container-size / 2 - 30;
						margin-left: auto;
						margin-right: auto;
					}
				}
				.atelier__philosophie {
					max-width: $container-size / 2;
					margin-left: auto;
					margin-right: auto;
					margin-top: $nav-height / 2;
					padding-bottom: 0;
					.element-quote {
						padding: 0 0 60px;
					}
				}
			}
			&--contact {
				position: relative;
				.cta--banner__wrapper {
					padding: 0;
					position: relative;
					z-index: 2;
					.col-left {
						padding: 0;
					}
					.text-wrapper {
						padding-left: 0;
						padding-right: 0;
					}
					.image-wrapper {
						margin: 0;
						max-height: 60vh;
						overflow: hidden;
					}
					.cta--text-block {
						padding: $nav-height / 2 0;
					}
				}
				&::after {
					@include set-before;
					height: $nav-height / 2;
					background-color: $white;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			&--team {
				padding-bottom: $nav-height / 2;
			}
			&--quote {
				padding-bottom: $nav-height / 2;
				.text-wrapper {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
					padding-left: 0;
				}
			}
			&--bureau {
				.text-wrapper {
					.cta--text-block {
						max-width: $container-size / 2 - 30;
						margin: 0 auto $nav-height / 2;
						padding: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	section {
		&.atelier {
			&--main {
				&.first {
					padding-bottom: 0;
				}
				.big-title {
					padding-left: 0;
				}
				.atelier__philosophie {
					padding-top: $nav-height / 4;
					margin-top: 0;
					.col-left, 
					.col-right {
						padding-left: 0;
						padding-right: 0;
					}
				}
				.atelier__intro {
					.text-wrapper {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
			&--contact {
				padding: 0 $main-margin;
				.cta--banner__wrapper {
					.cta--text-block {
						padding: $nav-height / 4 0 $nav-height / 2;
					}
					.col-left {
						padding: 0;
					}
					.image-wrapper {
						max-height: 70vh;
					}
				}
			}
			&--quote {
				padding: $nav-height / 2 $main-padding;
				.atelier__philosophie {
					.quote-wrapper {
						padding: 0;
						blockquote {
							padding: $main-padding 0;
						}
					}
				}
			}
			&--bureau {
				.text-wrapper {
					.cta--text-block {
						padding: 0 $main-padding;
					}
				}
			}
		}
	}
}