ul {
	&.collab-list {
		padding-top: $main-margin;
	}
}

$max-width : 800px;

.collab {
	&--text {
		p {
			&.intro {
				margin-top: $main-margin!important;
			}
		}
	}
	&--outro {
		padding: ($nav-height / 2) ($main-padding);
		background-color: $primary-color;
		@media screen and (min-width: $ipad) {
			padding: ($nav-height / 2) 0 $nav-height;
		}
		&__wrapper {
			max-width: $max-width;
			margin: 0 auto;
			text-align: center;
			.btn-wrapper {
				padding-top: $main-padding;
				text-align: center;
			}
		}
	}
	&--other {
		padding: ($nav-height / 2) $main-padding 0;
		@media screen and (min-width: $ipad) {
			padding: $nav-height 0 0;
		}
		&__wrapper {
			max-width: $max-width;
			margin: 0 auto;
		}
		&__list {
			padding: 0;
			margin: $main-margin 0;
			&__item {
				border-bottom: $border solid rgba($primary-color, 0.1);
				list-style: none;
				a {
					padding: $main-padding 30px $main-padding 0;
					font-weight: bold;
					display: block;
					color: $primary-color;
					background: url("../../../../images/arrows/arrow-right--red.png") no-repeat center right / 22px auto;
					@include transition;
					@media screen and (min-width: $ipad) {
						font-size: $p-size + 4;
						&:hover {
							color: $secondary-color;
						}
					}
				}
			}
		}
	}
}