section {
	&.contact {
		&--intro {
			.btn-wrapper {
				display: none;
			}
		}
		&--main {
			padding-top: 0;
			position: relative;
			&::before {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0; 
				z-index: -1;
				width: 40%;
				height: $nav-height * 2;
				background-color: $primary-color;
			}
			.text-wrapper {
				padding-top: $nav-height;
				max-width: $container-size / 2;
				position: relative;
				&::after {
					@include line-oblique;
					background-color: $primary-color;
					opacity: 0.14;
					left: -60px;
				}
				ul.btn-wrapper {
					padding-top: 0;
					li {
						display: list-item;
						margin: 0 0 5px;
						list-style: none;
						a {
							color: $primary-color;
							padding: 5px 0;
							span {
								color: $primary-color;
								font-weight: bold;
							}
						}
						i {
							font-size: 18px;
							display: inline-block;
							margin-right: 10px;
						}
					}
				}
			}
			.contact-form-wrapper {
				padding-top: $nav-height / 2;
				max-width: $container-size / 2;
			}
			.image-wrapper {
				padding-top: $nav-height;
				overflow: visible;
				&.sticky-top {
					top: 0;
				}
				.generic-vignette {
					opacity: 0;
					animation: fadein 2s 0.5s 1 forwards;
				}
			}
			form {
				.second-part {
					padding-top: $main-margin;
				}
				br {
					display: none;
				}
			    span.wpcf7-list-item {
			        margin: 0;
			    }
			    select {
			        width: 100%;
			        padding: 10px 15px;
			        margin-top: 5px;
			        color: $primary-color;
			        font-size: 16px;
			        letter-spacing: 1px;
			        -moz-appearance: none;
			        -webkit-appearance:none;
			        border: none;
			        border: 2px solid $primary-color;
			    }
			    input[type="radio"],
			    input[type="checkbox"] {
			        display: none;
			        & + span {
			        	padding-right: 15px;
			        }
			    }
			    span.label {
			    	display: block;
			    	opacity: 0.7;
			    	color: $primary-color;
			        font-size: 14px;
			        margin-bottom: 5px;
			        letter-spacing: 0.75px;
			    }
			    input[type="radio"],
			    input[type="checkbox"] {
			        & + span {
			            &::before {
			                content: '';
			                height: 15px;
			                width: 15px;
			                position: relative;
			                top: 2px;
			                display: inline-block;
			                border-radius: 0;
			                margin: 0 10px 0 0;
			                border: 3px solid $primary-color;
			                @include transition;
			            }
			        }
			        &:checked {
			            & + span {
			                &::before {
			                    background-color: $primary-color;
			                    border-radius: 100%;
			                }
			            }
			        }
			    }
			    label {
			        width: 100%;
			        display: block;
			        color: $primary-color;
			        input[type="text"],
			        input[type='email'],
			        input[type="phone"],
			        input[type="date"],
			        textarea {
			            width: 100%;
			            padding: 10px 0;
			            letter-spacing: 1px;
			            border: none;
			            -webkit-appearance: none;
			            -moz-appearance: none;
			            appearance: none;
			            border-radius: 0px!important;
			            margin-top: 5px;
			            font-size: 16px;
			            background-color: $white;
			            border-bottom: 2px solid $primary-color;
			            color: $primary-color;
			            caret-color: $secondary-color;
			            @include regular;
			            @include transition;
			            &:focus {
			            	padding-left: 15px;
			            	border-bottom: 2px solid rgba(0,0,0,0);
			            }
			        }
			        textarea {
			            height: 170px;
			            border: none;
			            padding: 15px;
			            background: lighten($primary-text-color, 58%);
			            font-family: $myfont;
						@include regular;
			        }
			    }
			    input[type="submit"] {
		            -webkit-appearance: none;
		            -moz-appearance: none;
		            appearance: none;
		            border-radius: 0px!important;
			        @extend .btn-primary;
			        border: none;
			        font-size: 16px;
			        margin-top: $main-padding;
			    }

			    $invalid : #fce5ab;
			    $success : #e1eabb;
			    $danger : #f7cfbb;

			    .wpcf7-response-output {
			    	background: $white;
			    	margin: 15px 0 0 0;
			    	padding: $main-padding;
			    	border: none;
			    }
			    &.invalid, &.aborted, &.spam, &.unaccepted {
			    	.wpcf7-response-output {
			    		background: $invalid;
			    		color: darken($invalid, 60%);
			    	}
			    }
			    &.failed {
			    	.wpcf7-response-output {
			    		background: $danger;
			    		color: darken($danger, 60%);
			    	}
			    }
			    &.sent {
			    	.wpcf7-response-output {
			    		background: $success;
			    		color: darken($success, 60%);
			    	}
			    }
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	section {
		&.contact {
			&--main {
				.image-wrapper {
					padding-top: $nav-height / 2;
				}
				.contact-form-wrapper {
					padding-right: $main-margin;
				}
			}
		}
	}
}

@media screen and (max-width: $ipad-land) {
	section {
		&.contact {
			&--intro {
				.btn-wrapper {
					display: block;
					padding-top: $main-padding;
					a {
						i {
							font-size: 21px;
						}
					}
				}
			}
			&--main {
				.text-wrapper {
					margin-left: auto;
					margin-right: auto;
					padding-top: $nav-height / 2;
					max-width: $container-size / 2 - 30;
				}
				.image-wrapper {
					margin-left: auto;
					margin-right: auto;
					max-width: $container-size / 2 - 30;
				}
				.contact-form-wrapper {
					margin-left: auto;
					margin-right: auto;
					padding-right: 0;
					max-width: $container-size / 2 - 30;
				}
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	section {
		&.contact {
			&--intro {
				.text-wrapper {
					padding-left: $main-padding;
					padding-right: $main-padding;

					ul.btn-wrapper {
						li {
							display: inline-block;
							margin-left: 5px;
							margin-right: 5px;
						}
					}
				}
			}
			&--main {
				padding-bottom: 0;
				.image-wrapper {
					padding: $nav-height / 4 $main-padding 0;
				}
				.text-wrapper {
					padding: $nav-height / 2 $main-padding 0;
					ul.btn-wrapper {
						li {
							display: block;
							a {
								overflow: hidden;
							}
							i {
								display: none;
							}
							span {
								display: block;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}
				.contact-form-wrapper {
					padding: $nav-height / 2 $main-padding 0;
				}
				form {
					span {
						&.wpcf7-list-item {
							padding: 5px 0;
						}
					}
				}
			}
		}
	}
}