
section {
	&.hero--home {
		position: relative;
		.text-wrapper {

		}
		.logo {
			display: block;
			max-width: 320px;
			margin: 30px auto 50px;
		}
		.image-wrapper {
			width: 66%;
			min-width: 250px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			bottom: 0;
			overflow: hidden;
			img {
				display: block;
				height: 100%;
				max-width: none;
				margin: 0 0 0 auto;
			}
			&::before {
				content: '';
				display: block;
				width: 300px;
				height: 100%;
				position: absolute;
				background: linear-gradient(90deg, #0C0130 0%, rgba(7,8,47,0) 100%);
			}
		}
	}
	&.home {
		&--projets {
			padding-bottom: $nav-height;
			.cta {
				$size : $container-size / 12 * 5 - 30;
				max-width: $size;
				margin-right: 0;
				margin-left: auto;
				padding-right: 30px;
				opacity: 0;
				animation: fadeInText 2.5s 1s 1 forwards;
			}
			.image-wrapper {
				position: relative;
				margin-top: - $nav-height / 2;
				opacity: 0;
				padding-right: 0;
				animation: fadeInImage 2.5s 0.5s 1 forwards;
			}
		}
		&--atelier {
			position: relative;
			padding-bottom: 0;
			.text-wrapper {
				padding-top: $nav-height / 2;
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0; 
				z-index: -1;
				width: 40%;
				height: $nav-height * 2;
				background-color: $primary-color;
			}
		}
		&--quote {
			margin-top: - $nav-height / 2;
			.element-quote {
				margin-bottom: $cta-margin;
				margin-top: $cta-margin;
			}
		}
	}
}

@media screen and (min-width: $laptop) {
	section {
		&.hero--home {
			.image-wrapper {
				&::before {
					width: 450px;
					background: linear-gradient(90deg, #07082F 30%, rgba(7,8,47,0) 100%);
				}
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	section {
		&.hero--home {
			.image-wrapper {
				&::before {
					width: 600px;
				}
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	section {
		&.home {
			&--quote {
				margin-top: 60px;
			}
		}
	}
}

/* responsive */
@media screen and (max-width: $ipad-land ) {
	section {
		&.home {
			&--projets {
				.image-wrapper {
					margin-top: 0;
					padding: $main-padding 0;
				}
			}
		}
	}
}

$max-width-tablet : $container-size / 2 - 30;

@media screen and (max-width: $ipad) {
	section {
		&.hero--home {
			min-height: 70vh;
			padding-bottom: 60px;
			.image-wrapper {
				width: 100%;
				&::before {
					width: 100%;
					background: linear-gradient(5deg, rgba(12, 1, 48, 0.95) 20%, rgba(7, 8, 47, 0.2) 100%);
				}
			}
		}
		&.home {
			&--projets {
				padding-bottom: $nav-height;
				.cta {
					max-width: $max-width-tablet;
					margin-left: auto;
					margin-right: auto;
					padding: $nav-height / 4 0 $nav-height / 2;
				}
				.image-wrapper {
					padding: 0 0 0 $nav-height / 2;
				}
			}
			&--atelier {
				padding-top: 0;
				.image-wrapper, 
				.text-wrapper {
					max-width: $max-width-tablet;
					margin-left: auto;
					margin-right: auto;
					padding-left: 0;
					padding-right: 0;
				}
				.text-wrapper {
					.cta {
						padding-bottom: $nav-height / 2;
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
			&--quote {
				margin-top: 0;
			}
			&--contact {
				padding-top: $nav-height / 2;
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	section {
		&.hero--home {
			height: auto;
			min-height: 200px;
			padding-top: 180px;
			.logo {
				max-width: 220px;
				margin: 30px auto;
			}
			.image-wrapper {
				width: auto;
				height: 100%;
				top: 0;
			}
		}
		&.home {
			&--projets {
				padding-bottom: $nav-height / 2;
				.cta {
					padding-right: 0;
					padding: $main-padding * 2 $main-padding ;
				}
				.image-wrapper {
					padding-bottom: 50px;
					padding-left: 35px;
				}
			}

			&--atelier {
				.text-wrapper {
					margin: 0 auto;
					padding: 0 15px;
					.cta {
						background-color: $white;
						padding: $main-padding * 2 $main-padding!important;
					}
				}
				.image-wrapper {
					margin: 0 $main-padding $main-padding;
					box-shadow: none;
				}
			}
			&--quote {
				.image-wrapper {
					padding: 0 $main-padding;
				}
				.element-quote {
					padding: $main-padding;
					margin: $main-margin auto 0;
				}
			}
			&--contact {
				.cta--banner__wrapper {
					.text-wrapper {
						padding: $main-margin 15px;
					}
				}
				.home-cta-image {
					padding: 0 15px;
				}
			}
		}
	}
}