section {
	&.single-projet {
		$gradient-size : 500px;
		&::before {
			position: absolute;
			display: block;
			content: '';
			height: $gradient-size - 200;
			width: $gradient-size - 200;
			top: 0;
			left: 0;
			background: radial-gradient(at top left, lighten($primary-color, 5%) 0, $primary-color 50%); 
			@media screen and (min-width: $laptop) {
				height: $gradient-size;
				width: $gradient-size;
			}
		}
		&.hero {
			min-height: 200px;
			padding-bottom: $main-padding;
			height: auto;
			.text-wrapper {
				position: relative;
				text-align: center;
				margin: 0 auto;
				max-width: $container-size - 400;
				.title {
					margin: 0 auto;
				}
				.sub-title {
					margin-top: 20px;
					margin: 15px auto 25px;
				}
				&::before, 
				&::after {
					@include line-oblique;
					position: static;
					opacity: 0.14;
					background: $white; 
				}
				&::before {
					margin: 0 auto 30px;
					transform: translateX(85px) rotate(-45deg);
				}
				&::after {
					margin: 30px auto 0;
					transform: translateX(-85px) rotate(-45deg);
				}
			}
		}
		&--main {
			padding-top: $nav-height / 2;
			.text-wrapper {
				max-width: $container-size / 12 * 5;
				opacity: 0;
				animation: fadein 2s 1.5s 1 forwards;
				.intro {
					.title {
						margin: $main-margin 0 10px;
					}
					p {
						margin: 0;
					}
				}
				.btn-link {
					padding: 10px 0;
					opacity: 0.4;
					@include transition;
					@include regular;
					&:hover {
						opacity: 1;
					}
				}
				ul {
					&.list-item {
						padding: $main-margin 0;
						opacity: 0.9;
					}
					.btn-icon {
						font-weight: bold;
						padding-left: 5px;
						padding-right: 5px;
						cursor: pointer;
						i {
							font-size: 24px;
						}
					}
				}
			}
			.image-wrapper {
				opacity: 0;
				animation: fadeInImage 2s 0.5s 1 forwards;
				img {
					width: 100%;
				}
			}
		}
		&--gallery {
			padding: $nav-height / 4 0 0;
			background-color: $primary-color;
			.generic-vignette {
				overflow: hidden;
				box-shadow: none;
				margin-bottom: $main-margin;
				img {
					width: 100%;
					transform: scale(1.02);
				}
				&:hover {
					img {
						@include transition;
						transform: scale(1);
					}
				}
			}
			.full-size {
				.generic-vignette {
					max-height: 800px;
				}
			}
			.half-size {
				.generic-vignette {
					max-height: 700px;
					img {
						display: block;
					}
				}
			}
		}
		&--cta {
			.text-wrapper {
				margin: 0 0 0 auto;
				padding-left: 60px;
				.element-quote {
					margin-bottom: $nav-height / 2;
				}
				.btn-icon {
					font-weight: bold;
					padding-left: 5px;
					padding-right: 5px;
					cursor: pointer;
					i {
						font-size: 24px;
					}
				}
			}
		}
		&--listing {
			margin-bottom: 0;
			.listing-intro {
				padding-top: $nav-height;
				padding-bottom: $nav-height / 2;
				.listing--container {
					margin-top: 0;
				}
			}
			.projets-list {
				&::before {
					position: absolute;
					content: '';
					display: block;
					width: 100%;
					left: 0;
					right: 0;
					height: $nav-height;
					background: $primary-color;
				}
			}
			.text-wrapper {
				text-align: left;
				.title {
					margin: 0;
				}
			}
			.link-wrapper {
				text-align: right;
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	section {
		&.single-projet {
			&--cta {
				.text-wrapper {
					padding-left: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	section {
		&.single-projet {
			&.hero {
				padding-top: $nav-height - 30;
				.text-wrapper {
					padding: $main-padding;
					.title {
						font-size: $p-size + 18;
					}
					.sub-title {
						font-size: $p-size + 4;
					}
				}
			}
			&--main {
				padding-top: 30px;
				.text-wrapper {
					padding: $main-margin 0;
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
					ul {
						&.list-item {
							padding: $main-padding 0;
						}
					}
				}
				.image-wrapper {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&--listing {
				margin-bottom: 0;
				.link-wrapper {
					text-align: left;
					padding-top: $main-padding;
					.btn-link {
						padding-left: 0;
						padding-right: 0;
					}
				}
				.listing-intro {
					.listing--container {
						max-width: $container-size / 2 - 30;
					}
				}
				.listing--container {
					&.projets-list {
						padding: 0 30px;
					}
					&__item {
						padding-left: 10px!important;
						padding-right: 10px!important;
						.text-wrapper {
							.title {
								font-size: $p-size + 8;
							}
						}
					}
				}
			}
			&--cta {
				.text-wrapper {
					padding-left: 15px;
					.element-quote {
						margin-bottom: $nav-height / 4;
						.title {
							font-size: $p-size + 18;
						}
					}
					ul {
						li {
							margin: 0 0 10px;
							a {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: $iphone) {
	.horizontal-slider {
		article {
			&.slider-item {
				max-height: 470px;
				width: 85%;
				&:first-child {
					.label {
						right: 0;
					}
				}
			}
		}
	}
	section {
		&.single-projet {
			&--main {
				.col-image {
					padding: 0;
					&::before {
						@include set-before;
						z-index: 2;
						background: linear-gradient(0deg, #0c0130 0%, rgba(7,8,47,0) 100%);
					}
				}
				ul {
					li {
						margin: 0 0 10px;
						a {
							display: inline-block;
						}
					}
					&.list-inline {
						li {
							display: inline-block;
							margin-right: 5px;
						}
					}
				}
				.text-wrapper {
					padding: $main-padding;
				}
			}
			&--gallery {
				.container {
					padding-left: 0;
					padding-right: 0;
					.row {
						margin-left: 0;
						margin-right: 0;
						.item {
							padding: 0;
						}
					}
				}
				.generic-vignette {
					margin-bottom: 0;
				}
			}
			&--cta {
				padding: $nav-height / 2 $main-padding $nav-height / 4;
				.text-wrapper {
					padding: $nav-height / 4 0 0;
					.element-quote {
						.big-title {
							padding-bottom: $main-padding;
						}
					}
				}
			}
			&--listing {
				margin-bottom: 0;
				.listing-intro {
					padding: $nav-height / 4 $main-padding;
				}
			}
			
			&.listing {
				.listing--container {
					&__item {
						padding-left: 30px!important;
						padding-right: 30px!important;
					}
					&.projets-list {
						padding: 0 20px;
						.text-wrapper {
							.title {
								font-size: $p-size + 14;
							}
						}
					}
				}
			}
		}
	}
}