html {
  scroll-behavior: smooth;
  scroll-margin: $nav-height;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    scroll-margin: $nav-height;
  }
}

a {
	text-decoration: none;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}

.btn {
	border-radius: 0;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: $letterspacing;
}

.btn-primary, 
.btn-secondary {
	@extend .btn;
	@include medium-italic;
	@include transition;
	display: inline-block;
	color: $white;
	background-color: $primary-color;
	&::before {
		@include btn-before;
		@include transition;
	}
	&:hover {
		@include shadowed;
		&::before {
			opacity: 0;
		}
	}
}

.btn-primary {
	&::before {
		@include btn-before;
		@include transition;
	}
	&:hover {
		background-color: darken($primary-color, 5%);
	}
	&--right {
		@extend .btn-primary;
		position: relative;
		padding-right: 50px!important;
		&::after {
			@include btn-arrow;
			background-image: url('../../../../images/arrows/arrow-right--red.png');
		}
	}
}

.btn-secondary {
	background-color: $secondary-color;
	&::before {
		border-color: $secondary-color;
	}
	&:hover {
		background-color: darken($secondary-color, 5%);
	}
	&--right {
		@extend .btn-secondary;
		position: relative;
		padding-right: 50px!important;
		&::after {
			@include btn-arrow;
			background-image: url('../../../../images/arrows/arrow-right--white.png');
		}
	}
	&--down {
		@extend .btn-secondary;
		position: relative;
		padding-left: 45px!important;
		padding-right: 20px!important;
		&::after {
			@include btn-arrow;
			left: 10px;
			right: auto;
			background-size: auto 22px;
			background-image: url('../../../../images/arrows/arrow-down--white.png');
		}
	}
}

.btn-white {
	@extend .btn;
	color: $white;
	@include medium-italic;
	display: inline-block;
	&--right {
		padding-right: 50px!important;
		&::after {
			@include btn-arrow;
			background-image: url('../../../../images/arrows/arrow-right--white.png');
		}
	}
}

.btn-link {
	@extend .btn;
	color: $white;
	@include medium-italic;
	display: inline-block;
	&.primary-color {
		color: $primary-color;
	}
}


.btn-arrow {
	@extend .btn;
	display: block;
	height: 60px;
	width: 60px;
	&--right {
		background: $white url('../../../../images/arrows/arrow-right--red.png') no-repeat center / 22px auto;
	}
	&--left {
		background: $white url('../../../../images/arrows/arrow-left--red.png') no-repeat center / 22px auto;
	}
}