$sm-size : 320px;
.max-width-sm {
	max-width: $sm-size;
}

.max-width-md {
	max-width: $sm-size + 220px;
}

.max-width-lg {
	max-width: $sm-size + 400px;
	@media screen and (max-width: $laptop) {
		max-width: 660px;
	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

ul {
	&.list-inline {
		padding: 0;
		margin: 0;
		display: block;
		li {
			display: inline-block;
			margin-right: 15px;
			a {
				display: block;
			}
			@media screen and (max-width: $iphone) {
				display: block;
			}
		}
	}
	&.list-item {
		padding: 0;
		display: block;
		list-style-position: inside;
		li {
			display: list-item;
			padding: 3.5px 0;
		}
	}
}

.img-fluid {
	display: block;
	max-width: 100%;
}

.cta {
	&--text-block {
		.title {
			position: relative;
			& + p {
				margin-top: $cta-margin;
			}
			&::before {
				@include line-oblique; 
			}
		}
		p + a {
			margin-top: $cta-margin - 10;
		}
	}
	&--banner {
		&__wrapper {
			margin-left: 0;
			margin-right: 0;
			padding: $nav-height / 2;
			.image-wrapper {
				position: relative;
				margin-top: $cta-margin;
				margin-bottom: - $nav-height;
			}
		}
		& + .generic-banner {
			padding-top: $nav-height + 60;
		}
	}
}

.primary-color {
	color: $primary-color;
	&--bg {
		background-color: $primary-color;
		p, span, a, i, 
		h1, h2, h3, h4, h5, ul, li {
			color: $white;
		}
		.cta, 
		.cta--text-block {
			color: $white;
			.btn {
				@extend .btn-secondary;
				@extend .btn-secondary--right;
			}
		}
		.title-lines {
			&.wide-title {
				&::after {
					background-color: $white;
				}
			}
			&::before {
				background-color: rgba(255,255,255,0.14);
			}
		}
		.element-quote {
			.big-title, 
			.title {
				&::before, 
				&::after {
					background-color: rgba(255,255,255,0.14);
				}
			}
		}
	}
}

.secondary-color {
	color: $secondary-color;
}

.white {
	color: $white;
	&--bg {
		h1, h2, h3, h4, h5 {
			color: $primary-color;
		}
		p {
			color: $primary-text-color;
		}
		.cta, 
		.cta--text-block {
			.btn {
				@extend .btn-primary;
				@extend .btn-primary--right;
			}
		}
		.title-lines {
			&::before {
				background-color: $primary-color;
			}
			&.wide-title {
				&::after {
					background-color: $primary-color;
				}
			}
		}
	}
}

.generic-banner {
	padding-top: $nav-height;
	padding-bottom: $nav-height;
	.container {
		position: relative;
		z-index: 2;
	}
	@media screen and (max-width: $ipad) {
		padding-top: $nav-height - 30;
		padding-bottom: $nav-height - 30;
	}
	@media screen and (max-width: $iphone) {
		padding-top: $nav-height / 2;
		padding-bottom: $nav-height / 2;
	}
}

.element-quote {
	@extend .max-width-md; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	.title {
		& + span {
			display: block;
			padding-top: $main-padding;
		}
		&::before {
			@include line-oblique;
			right: 10%;
			left: auto;
			top: -30px;
			bottom: auto;
		}
		&::after {
			@include line-oblique;
			left: -60px;
		}
		@media screen and (max-width: $iphone) {
			padding-top: 20px;
			&::after {
				left: -25px;
				bottom: -10px;
			}
			&::before {
				right: -15px;
				top: -5px;
			}
		}
	}
	&.secondary-color {
		.title {
			&::before, 
			&::after {
				opacity: 0.14;
				background-color: $secondary-color;
			}
		}
	}
}

/* Hero banner */
.hero {
	background-color: $primary-color;
	padding-top: $nav-height + 80px;
	min-height: 90vh;
	.text-wrapper {
		text-align: left;
		color: $white;
		animation: fadeInText 1.5s 1 forwards;
	}
	&.page-404 {
		padding-top: $nav-height * 2;
	}
	&--generic-hero {
		position: relative;
		.container {
			position: relative;
			z-index: 2;
		}
		.cta {
			$size : $container-size / 12 * 6 - 60;
			max-width: $size;
			margin-right: auto;
			margin-left: 0;
			padding: 0 15px 60px;
			.title-lines {
				&::before {
					@include line-oblique;
					right: 5%;
					left: auto;
					top: -30px;
					bottom: auto;
				}
				&::after {
					@include line-oblique;
					background-color: $white;
					opacity: 0.14;
					left: -60px;
				}
			}
			.btn {
				@extend .btn-secondary--down;
			}
		}
		.image-wrapper {
			position: relative;
			margin-top: - $nav-height / 2;
			.generic-vignette {
				opacity: 0;
				animation: fadein 2s 0.5s 1 forwards;
			}
		}
		& + .generic-banner {
			margin-top: 60px;
		}
		$gradient-size : 700px;
		&::before {
			position: absolute;
			display: block;
			content: '';
			height: $gradient-size - 200;
			width: $gradient-size - 200;
			top: 0;
			left: 0;
			background: radial-gradient(at top left, lighten($primary-color, 5%) 0, $primary-color 50%); 
			@media screen and (min-width: $laptop) {
				height: $gradient-size;
				width: $gradient-size;
			}
			@media screen and (max-width: $ipad-land) {
				display: none;
			}
		}
		&::after {
			position: absolute;
			display: block;
			content: '';
			bottom: 0;
			right: 0;
			height: $gradient-size - 300;
			width: $gradient-size - 300;
			background: radial-gradient(at bottom right, darken($primary-color, 3%) 0, $primary-color 50%); 
			@media screen and (min-width: $laptop) {
				height: $gradient-size;
				width: $gradient-size;
			}
		}
	}
	&--small-hero {
		min-height: 200px;
		padding-bottom: $main-padding;
		padding-bottom: $nav-height / 2;
		height: auto;
		.text-wrapper {
			position: relative;
			text-align: center;
			margin: 0 auto;
			max-width: $container-size - 400;
			.title {
				margin: 0 auto;
			}
			.intro {
				line-height: 24px;
			}
			&::before, 
			&::after {
				@include line-oblique;
				position: static;
				opacity: 0.14;
				background: $white; 
			}
			&::before {
				margin: 0 auto 30px;
				transform: translateX(85px) rotate(-45deg);
			}
			&::after {
				margin: 30px auto 0;
				transform: translateX(-85px) rotate(-45deg);
			}
		}
	}
	&--home {
		@extend .hero;
		.text-wrapper {
			text-align: center;
		}
	}
}

@media screen and (min-width: $ipad-land) {
	.sticky-top {
		position: -moz-sticky;
		position: -webkit-sticky;
		position: sticky;
		top: $nav-height + 30;
	}
	section {
		&.two-column-banner {
			.text-wrapper {
				&.left-col {
					.cta {
						padding-right: 45px;
					}
				}
				&.right-col {
					.cta {
						padding-left: 45px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $ipad) and (max-width: $laptop ) {
	.hero {
		height: 90vh;
		min-height: 450px;
		max-height: 600px;
	}
}

@media screen and (min-width: $laptop) {
	.hero {
		min-height: 750px;
		height: 80vh;
		.cta {
			padding: 80px 15px 15px;
		}
		&.hero--small-hero {
			height: auto;
			min-height: 200px;
			padding-top: $nav-height + 30;
		}
	}
}

@media screen and (min-width: $desktop) {
	.hero {
		min-height: 780px;
		.cta {
			padding: 120px 15px 15px;
		}
	}
}

@media screen and (min-width: $ipad) and (max-width: $laptop) {
	.hero {
		&--generic-hero {
			.cta {
				padding-top: $nav-height / 2;
			}
			& + .generic-banner {
				margin-top: 0;
			}
		}
	}	
	.cta {
		&--banner {
			& + .generic-banner {
				padding-bottom: $nav-height / 2;
			}
			&__wrapper {
				padding: $nav-height / 2 $nav-height / 4;
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	section {
		&.hero--small-hero {
			padding-top: $nav-height;
		}
		&.hero--generic-hero {
			padding-top: 0;
			.text-wrapper {
				margin-top: -60px;
				z-index: 2;
				.cta {
					max-width: $container-size / 2 - 30;
					margin-left: auto;
					margin-right: auto;
					padding: 0 $main-padding $nav-height / 2;
				}
			}
			.container {
				width: 100%;
			}
			.image-wrapper {
				margin-top: 0;
				padding: 0;
				max-height: 60vh;
				overflow: hidden;
				&::before {
					@include set-before;
					z-index: 2;
					background: linear-gradient(0deg, #07082F 0%, rgba(7,8,47,0) 100%);
				}
				.generic-vignette {
					&::before,
					&::after {
						display: none;
					}
				}
			}
			& + .generic-banner {
				margin-top: 0;
				padding-left: $main-padding;
				padding-right: $main-padding;
			}
		}
	}
	.cta {
		&--banner {
			& + .generic-banner {
				padding-top: $nav-height;
			}
			&__wrapper {
				max-width: $container-size / 2 - 30;
				margin-left: auto;
				margin-right: auto;
				padding: $nav-height / 2 $main-padding;
				.cta--text-block {
					padding-bottom: $nav-height / 4;
				}

				.col-left {
					padding: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	section {
		&.hero {
			&--small-hero {
				.text-wrapper {
					padding-left: $main-padding / 2;
					padding-right: $main-padding / 2;
				}
			}
		}
		&.hero--generic-hero {
			padding-top: 0;
			&.page-404 {
				padding-top: $nav-height * 1.5;
			}
			.text-wrapper {
				margin-top: -60px;
				z-index: 2;
				.cta {
					padding: 0 $main-padding $nav-height / 2;
				}
			}
			.image-wrapper {
				max-height: 80vh;
			}
		}
		&.two-column-banner {
			.text-wrapper {
				&.left-col {
					.cta {
						padding-right: 0;
					}
				}
			}
		}
	}
	.cta {
		&--banner {
			padding-bottom: $nav-height;
			.container {
				padding-left: 0;
				padding-right: 0;
			}
			&__wrapper {
				padding: $main-padding;
				max-width: 100%;
				.image-wrapper {
					margin-top: $main-padding / 2;
				}
			}
			& + .generic-banner {
				padding-top: $nav-height / 2;
			}
		}
	}
}