@mixin regular {
	font-weight: 300;
}

@mixin medium {
	font-weight: 500;
}

@mixin medium-italic {
	font-weight: 500;
	font-style: italic;
}

@mixin bold {
	font-weight: 700;
}

@mixin bold-italic {
	font-weight: 700;
	font-style: italic;
}

@mixin xbold {
	font-weight: 700;
}

@mixin xbold-italic {
	font-weight: 700;
	font-style: italic;
}

:root {
	font-family: $myfont;
	@include regular;
	color: $primary-color;
}

body {
	font-family: $myfont;
	@include regular;
	letter-spacing: $letterspacing;
}

main {
	p {
		color: $primary-text-color;
		line-height: 24px;
		font-size: $p-size;
	}
}

.title {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	& + a,
	& + ul,
	& + ol,
	& + .text-wrapper,
	& + p {
		margin-top: $cta-margin; 
	}
}

/* typography */
.wide-title {
	@extend .title;
	@include xbold-italic;
	font-size: $p-size + 32;
	opacity: 0.1;
	& + .medium-title {
		margin-top: 5px;
	}
}

.big-title {
	@extend .title;
	@include xbold-italic;
	font-size: $p-size + 32;
}

.medium-title {
	@extend .title;
	@include medium-italic;
	font-size: $p-size + 14;
}

.small-title {
	@extend .title;
	font-size: $p-size + 5;
	@include regular;
}

.title-lines {
	&::before {
		@include line-oblique;
	}
	&.wide-title {
		&::before {
			display: none;
		}
		&::after {
			@include line-oblique;
			display: inline-block;
			position: static;
			transform: translateY(-60px) rotate(-45deg);
		}
	}
}

@media screen and (max-width: $laptop) {
	.wide-title {
		font-size: $p-size + 28;
	}
	.big-title {
		font-size: $p-size + 28;
	}
	.medium-title {
		font-size: $p-size + 20;
	}
	blockquote {
		&.medium-title {
			font-size: $p-size + 14;
		}
	}
	.small-title {
		font-size: $p-size + 10;
	}
}

@media screen and (max-width: $ipad) {
	.medium-title {
		font-size: $p-size + 16;
	}
	.small-title {
		font-size: $p-size + 8;
	}
	blockquote {
		&.medium-title {
			font-size: $p-size + 8;
		}
	}
}

@media screen and (max-width: $iphone) {
	.wide-title {
		font-size: $p-size + 18;
	}
	.big-title {
		font-size: $p-size + 18;
	}
	.medium-title {
		font-size: $p-size + 10;
	}
	.small-title {
		font-size: $p-size + 5;
	}
}