aside {
	&.references {
		padding-top: $nav-height / 2;
		padding-bottom: $nav-height;
	}
	&.insta {
		padding-bottom: $nav-height / 2;
		padding-top: $nav-height / 2;
		.text-wrapper {
			position: relative;
			max-width: $container-size / 12 * 4 + 30;
			margin-right: 0;
			margin-left: auto;
			.title {
				&::before {
					@include line-oblique;
					left: auto;
					bottom: auto;
					top: -25px;
					right: 60px;
					background-color: $secondary-color;
					opacity: 0.14;
				}
			}
			p {
				margin-top: $main-padding;
			}
			ul {
				&.btn-wrapper {
					li {
						i {
							font-size: 24px;
						}
					}
				}
			}
		}
		.generic-vignette {
			&::before, 
			&::after {
				opacity: 0;
			}
			&:first-child() {
				&::before,
				&::after {
					opacity: 1;
				}
			}
		}
	}
}

.footer {
	padding-top: $nav-height;
	padding-bottom: $nav-height / 2;
	&__left {
		text-align: left;
	}
	&__right {
		text-align: right;
	}
	&--primary {
		.title {
			padding-bottom: $main-padding;
		}
		span {
			&.footer-text {
				display: block;
			}
		}
		.btn-wrapper {
			padding-top: $main-padding;
		}
		ul {
			&.btn-wrapper {
				margin: 0;
			}
		}
		.btn-icon {
			font-size: $icon-size;
		}
		.logo-wrapper {
			display: block;
			margin-top: $main-padding;
			margin-bottom: $main-padding;
			img {
				&.logo {
					display: block;
					margin: 0 auto;
					max-width: 260px;
				}
			}
		}
	}
	&--mentions {
		padding-top: $nav-height / 2;
		span {
			color: rgba(255,255,255,0.6);
			font-size: $p-size - 4;
		}
		a { 
			color: rgba(255,255,255,0.6);
			@include transition;
			&:hover {
				color: $white;
			}
		}
	}
}

.logo-mobile {
	display: none;
}


@media screen and (max-width: $laptop) {
	aside {
		&.references {
			padding-top: $nav-height / 4;
			padding-bottom: $nav-height / 2;
		}
		&.insta {
			padding-bottom: $nav-height / 2;
			.text-wrapper {
				padding-left: $nav-height / 2;
			}
		}
	}
}

@media screen and (max-width: $ipad-land) {
	.logo-desktop {
		display: none;
	}
	.logo-mobile {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0 0 $main-padding;
		.logo-wrapper {
			img {
				&.logo {
					height: 80px;
				}
			}
		}
	}
	.footer {
		padding: $nav-height / 2 5px;
		&--primary {
			span {
				&.footer-text {
					margin-bottom: 5px;
				}
			}
			.footer__left, 
			.footer__right {
				padding: $main-padding;
			}
		}
		ul {
			&.list-inline {
				li {
					display: inline-block;
					margin: 0 10px;
				}
			}
		}
		&--mentions {
			padding-top: $main-margin;
		}
	}
	aside {
		&.insta {
			.text-wrapper {
				padding-left: 0;
				margin: $nav-height / 2 auto 0;
				padding-bottom: $nav-height / 2;
				p {
					max-width: 600px;
					margin-left: auto;
					margin-right: auto;
				}
				.big-title {
					&::before {
						right: auto;
						left: 250px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	aside {
		&.references {
			text-align: center;
			.title {
				padding: 0 $main-padding $main-padding / 2;
			}
		}
		&.insta {
			padding-bottom: $nav-height / 2;
			.text-wrapper {
				max-width: $container-size / 2 - 30;
				text-align: center;
				p {
					max-width: 400px;
				}
			}
		}
	}
	.footer {
		&__left {
			text-align: center;
		}
		&__right {
			text-align: center;
		}
	}
}

@media screen and (max-width: $iphone) {
	aside {
		&.references {
			padding-bottom: $nav-height / 4;
			padding-top: $nav-height / 2;
		}
		&.insta {
			padding-bottom: 0;
			.text-wrapper {
				padding: $main-padding $main-padding $nav-height / 2;
			}
			.btn-wrapper {
				li {
					display: inline-block;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}
	.logo-mobile {
		.logo-wrapper {
			img {
				&.logo {
					height: 60px;
				}
			}
		}
	}
}