@mixin transition( $duration: 0.65s ) {
	transition: all $duration;
	-moz-transition: all $duration;
	-webkit-transition: all $duration;
}

@mixin btn-before {
	border: $border solid $primary-color;
	content: "";
	position: absolute;
	top: $border-gap;
	left: $border-gap;
	right: $border-gap;
	bottom: $border-gap;
	opacity: 1;
}

@mixin set-before($width : 100%, $height: 100%) {
	width: $width;
	height: $height;
	display: block;
	position: absolute;
	content: '';
}

@mixin btn-arrow {
	content: '';
	display: block;
	position: absolute;
	background-size: 22px auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 30px;
	top: 0;
	right: 10px;
}

@mixin line-oblique {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	height: $border;
	width: 60px;
	left: -70px;
	bottom: -25px;
	transform: rotate(-45deg);
}

@mixin shadowed($width : 30px) {
	box-shadow: 0 0 $width rgba(0,0,0,0.2);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


/* animation fade in */
@mixin fadein_start {
	display: block;
	opacity: 0;
	transform: translateY(15px);
}

@mixin fadein_end {
	opacity: 1;
	top: 0;
	transform: translateY(0px);
}

@keyframes fadein {
	0% {
		@include fadein_start;
	}
	100% {
		@include fadein_end;
	}
}

@-moz-keyframes fadein {
	0% {
		@include fadein_start;
	}
	100% {
		@include fadein_end;
	}
}

@-webkit-keyframes fadein {
	0% {
		@include fadein_start;
	}
	100% {
		@include fadein_end;
	}
}

@keyframes fadeinMenu {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		display: block;
		opacity: 1;
		transform: translateY(0px);
	}
}

@-moz-keyframes fadeinMenu {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		display: block;
		opacity: 1;
		transform: translateY(0px);
	}
}

@-webkit-keyframes fadeinMenu {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		display: block;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fadeInText {
	0% {
		display: block;
		opacity: 0;
		transform: translateX(-5px) skew(-5deg);
	}
	100% {
		display: block;
		opacity: 1;
		transform: translateX(0) skew(0);
	}
}

@keyframes fadeInImage {
	0% {
		display: block;
		opacity: 0;
		transform: scale(1.05) translateY(20px);
	}
	100% {
		display: block;
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
