@mixin lines {
	$width : 25px;
	$height : $border;
	display: block;
	width: $width;
	height: $height;
	background-color: $white;
}

header {
	&.site-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 99;
		padding: 40px 0 15px;
		opacity: 0;
		animation: fadeInText 2s 1.5s 1 forwards;
		@include transition(0.5s);
		.logo-wrapper {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				span {
					color: $white;
					font-size: 12px;
				}
			}
			img.logo {
				max-width: 60px;
				margin-right: 20px;
				float: left;
				@media screen and (min-width: $desktop) {
					max-width: 80px;
				}
			}
		}
	}
	&.is-active {
		background: $primary-color;
		padding: 15px 0;
	}
}

#navicon {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border: $border solid $white;
	&::before {
		@include btn-before;
		@include transition;
		border-color: $white;
	}
	.lines {
		@include lines; 
		margin: 0 auto;
		top: 24px;
		position: relative;
		@include transition;
		&::before {
			content: '';
			top: -8px;
			position: absolute;
			@include lines; 
		}
		&::after {
			content: '';
			bottom: -8px;
			position: absolute;
			@include lines; 
		}
	}
	&.active {
		.lines {
			transform: rotate(45deg);
			&::after {
				transform: rotate(-90deg);
				bottom: 0;
			}
			&::before {
				display: none;
			}
		}
		&::before {
			opacity: 0;
		}
	}
	&.passive {
		&::before {
			opacity: 1;
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;
		}
	}
}


$mycolor: $white;

nav {
	&.main-navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@media screen and (min-width: 1600px) {
			padding-right: 120px;
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				margin-left: 20px;
				a {	
					display: block;
					position: relative;
					padding: 10px 0;
					color: $mycolor;
					text-transform: none;
					letter-spacing: $letterspacing;
				}
				&.btn-primary-child {
					a {
						@include medium-italic;
						@extend .btn-secondary--right; 
						padding: 10px 15px;
						background-color: $secondary-color;
						color: $mycolor;
						text-transform: uppercase;
					}
				}
				&.btn-icon {
					margin-left: 10px;
					display: inline-block;
					a {
						display: block;
						width: 30px;
						text-align: center;
						position: relative;
						&::before {
							content:"\f09a"; /* facebook */
							color: $white;
							font-family: FontAwesome;
							display: block;
							font-size: 21px;
							position: relative;
							top: 1.5px;
						}
					}
					&.pinterest {
						a {
							&::before {
								content:"\f0d2";
							}
						}
					}
					&.instagram {
						a {
							&::before {
								content:"\f16d";
							}
						}
					}
					&.youtube {
						a {
							&::before {
								content: "\f16a";
							}
						}
					}
				}
			}
			&.social-media {
				width: 140px;
				margin: 0 0 0 10px;
				li {
					display: inline-block;
					margin: 0 auto;
					a {
						padding: 10px;
						&::after {
							display: none!important;
						}
						i {
							font-size: 22px;
							color: $secondary-color;
						}
						@media screen and (min-width: $ipad-land) {
							&:hover {
								i {
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* nav on desktop */
@media screen and (min-width: $ipad-land ) {
	nav {
		&.main-navigation,
		&.filters__nav {
			ul {
				padding: 0;
				margin: 0;
				text-align: right;
				&.sub-menu {
					position: absolute;
					display: flex;
					flex-wrap: wrap;
					width: 220px;
					flex-direction: column;
					left: 0;
					text-align: left;
					display: none;	
					padding: 10px 15px;
					background-color: $primary-color;
					li {
						margin-left: 0;
						width: 100%;
					}
				}
				li {
					display: inline-block;
					&.menu-item-has-children {
						position: relative;
						&:hover {
							ul.sub-menu {
								display: block;
								animation: fadeinMenu 0.7s 0s 1 forwards;
							}
						}
					}
					&:not(.btn-primary-child) {
						a {
							&::after {
								content: '';
								position: absolute;
								display: block;
								left: 0;
								bottom: 0;
								width: 0;
								height: $border * 3;
								border-top: $border solid $mycolor;
								border-bottom: $border solid $mycolor;
								opacity: 0;
								@include transition;
							}
							&:hover {
								&::after {
									width: 100%;
									opacity: 1;
									@include transition;
								}
							}
							&.active {
								&::after {
									opacity: 1;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Mobile menu activation */
@media screen and (max-width: $ipad-land ) {
	#navicon {
		display: block;
	}
	header {
		&.site-header {
			.logo-wrapper {
				padding-right: 12px;
			}
		}
	}
	nav {
		&.main-navigation {
			display: none;
			opacity: 0;
			li {
				&.menu-item-has-children {

					ul {
						padding: 15px 0;
						&::after, 
						&::before {
							@include set-before(100px, 2px);
							background-color: rgba($white, 0.2);
							margin: 0 auto 15px;
							position: static;
						}
						&::after {
							margin: 15px auto 0;
						}
						li {  
							a {
								color: rgba($white, 0.7);
							}
						}
					}
				}
			}
			&.open {
				height: 100%;
				display: block;
				opacity: 1;
				transition: opacity 1s;
				-moz-transition: opacity 1s;
				-webkit-transition: opacity 1s;
			}
		}
	}
}

@media screen and (min-width: $desktop ) {
	header {
		&.site-header {
			.container {
				width: 1340px;
			}
		}
	}
}


@media screen and (max-width: $laptop) {
	header {
		&.site-header {
			padding-top: 25px;
		}
	}
	nav {
		&.main-navigation {
			ul {
				li {
					margin-left: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	body {
		&.menu-open {
			overflow: hidden;
			header {
				&.site-header {
					height: 100vh;
					width: 100%;
					padding-top: 150px;
					overflow: scroll;
					background-color: $primary-color;
					.logo-wrapper a {
						opacity: 1!important;
						display: block;
						@include transition(0);
						text-align: center;
						img.logo {
							display: block;
							float: none;
							margin: 0 auto $main-padding;
						}
						span {
							font-size: $p-size + 4;
						}
					}
				}
			}
		}
	}
	header {
		&.site-header {
			padding: 12.5px 0;
			.logo-wrapper {
				img.logo {
					max-width: 55px;
				}
			}
		}
	}
	#navicon {
		top: 15px;
	}
	nav {
		&.main-navigation {
			ul {
				padding: $main-margin 0;
				max-width: 360px;
				margin: 0 auto;
				text-align: center;
				li {
					display: block;
					margin: 0 auto 10px;
					a {
						font-size: $p-size + 6;
					}
					&.btn-primary-child {
						margin-top: 20px;
						a {
							font-size: $p-size + 3;
						}
					}
				}
				&.social-media {
					width: 100%;
					padding: 0;
					margin: 0 auto 60px;
				}
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	#navicon {
		top: 10px;
	}
	header {
		&.site-header {
			.logo-wrapper {
				padding-left: 12px;
				a {
					max-width: 275px;
					span {
						font-size: 14px!important;
					}
				}
				img {
					&.logo {
						width: 50px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	nav {
		&.main-navigation {
			ul {
				li {
					a {
						font-size: $p-size;
					}
					&.btn-primary-child {
						a {
							font-size: $p-size;
						}
					}
				}
			}
		}
	}
	body {
		&.menu-open {
			header {
				&.site-header {
					padding-top: $nav-height / 2;
					.logo-wrapper {
						a {
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}
	}
}