.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

/* arrows */ 
.horizontal-slider-wrapper {
	position: relative;
	a, span {
		&.slider-next-btn, 
		&.slider-prev-btn {
			@include btn-arrow;
			position: absolute;
			cursor: pointer;
			width: 50px;
			z-index: 2;
		}
		&.slider-next-btn {
			background-image: url('../../../../images/arrows/arrow-right--red.png');
		}
		&.slider-prev-btn {
			background-image: url('../../../../images/arrows/arrow-left--red.png');
		}
		&.passive {
			opacity: 0.5;
		}
	}
	span.slider-partenaire-btn {
		&.slider-next-btn {
			right: 15px;
			background-color: #FFF;
		}
		&.slider-prev-btn {
			left: 15px;
			right: auto;
			background-color: #FFF;
		}
		@media screen and (max-width: $ipad) {
			&.slider-next-btn, 
			&.slider-prev-btn {
				left: auto;
				right: auto;
				position: static;
				height: 35px;
				display: inline-block;
			}
		}
	}
}

.insta,
.home--projets,
.atelier--team,
.atelier--bureau {
	.horizontal-slider-wrapper {
		padding-right: 0;
		padding-left: 0;
		a, span {
			&.slider-next-btn, 
			&.slider-prev-btn {
				height: 50px;
				width: 50px;
				right: 0;
				top: auto;
				bottom: -12px;
				background-color: $white;
			}
			&.slider-prev-btn {
				right: 50px;
			}
		}
	}
}

.atelier--team {
	.horizontal-slider-wrapper {
		padding-top: 0;
		span {
			&.slider-next-btn {
				right: 15px;
				top: -50px;
				bottom: auto;
			}
			&.slider-prev-btn {
				right: 65px;
				top: -50px;
				bottom: auto;
			}
		}
	}
}

.atelier--bureau {
	.horizontal-slider {
		article {
			&.slider-item {
				max-height: 60vh;
			}
		}
	}
	.horizontal-slider-wrapper {
		span {
			&.slider-next-btn,
			&.slider-prev-btn {
				bottom: 4px;
			}
		}
	}
}

.home--projets {
	.horizontal-slider-wrapper {
		a, span {
			&.slider-next-btn, 
			&.slider-prev-btn {
				bottom: 4px;
			}
		}
	}
}

/* slider items */
.horizontal-slider {
	overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
	padding-right: 0;
	width: 100%;
	scroll-behavior: smooth;
	article {
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			width: auto;
			height: 100%;
		}
		&.slider-item {
			height: 80vh;
			min-height: 460px;
			max-height: 670px;
			min-width: 300px;
			width: auto;
			&:first-child {
				&::before,
				&::after {
					opacity: 1;
				}
				.label {
					bottom: $main-padding;
					opacity: 1;
				}
			}
		}
		img {
			height: 100%;
			width: auto;
		}
	}
	&.references__slider {
		margin-left: 50px;
		margin-right: 50px;
		position: relative;
		width: auto;
		.references__slider--item {
			display: inline-block;
			margin: 0;
			padding: 0 20px;
			img {
				max-width: 200px;
			}
		}
	}

	&.insta__slider {
		margin-left: 0;
		margin-right: 0;
		position: relative;
		width: auto;
		.insta__slider--item {
			display: inline-block;
			padding: 0 5px;
			height: 300px;
			width: 300px;
			i {
				position: absolute;
				padding: 10px;
				color: $white;
				opacity: 0.6;
				bottom: 10px;
				left: 10px;
			}
			img {
				max-width: 300px;
				width: 100%;
			}
		}
	}

	&.team-slider {
		padding-top: $nav-height / 4;
		padding-left: 15px;
		padding-right: 0;
		.team-slider--item {
			display: inline-block;
			padding: 0 5px;
			height: auto;
			width: 350px;
			img {
				width: 100%;
				max-width: 350px;
			}
			.image-wrapper {
				margin-bottom: $main-padding;
			}
			span {
				display: block;
				&.title {
					font-weight: bold;
				}
			}
			span {
				&.desc {
					color: $secondary-color;
					padding-bottom: 10px;
					font-size: $p-size + 2;
					white-space: initial;
					height: 50px;
				}
				&.locate, 
				&.mail {
					padding-bottom: 5px;
					color: $primary-text-color;
					font-size: $p-size - 2;
					overflow: hidden;
					line-height: 1.5em;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	.horizontal-slider {
		&.references__slider {
			.references__slider--item {
				img {
					max-width: 170px;
				}
			}
		}
	}
}

@media screen and (max-width: $ipad) {
	.horizontal-slider {
		article {
			&.slider-item {
				min-height: 380px;
				max-height: 550px;
			}
		}
		&.references__slider {
			margin: 0;
			.references__slider--item {
				width: 200px;
				text-align: center;
				img {
					max-width: 150px;
				}
			}
		}
		&.team-slider {
			.team-slider--item {
				width: 300px;
				span {
					&.desc {
						font-size: $p-size;
					}
				}
			}
		}
	}
	.atelier--team {
		.horizontal-slider-wrapper {
			padding-top: 0;
			span {
				&.slider-next-btn, 
				&.slider-prev-btn {
					top: -35px;
				}
			}
		}
	}
	.atelier--bureau {
		.horizontal-slider {
			&-wrapper {
				padding-left: $main-padding;
				padding-right: $main-padding;
			}
			article {
				&.slider-item {
					max-height: 300px;
					min-width: 220px;
				}
			}
		}
	}
}

@media screen and (max-width: $iphone) {
	.atelier--bureau {
		.horizontal-slider {
			&-wrapper {
				padding-left: 0;
				padding-right: 0;
			}
			article {
				&.slider-item {
					max-height: 400px;
					min-height: 360px;
					min-width: 250px;
					width: auto;
					margin-right: 0;
				}
			}
		}
	}
}