:root {
	--wp-admin-theme-color : $primary-color;
}

body {
	margin: 0;
}

$primary-color : #0C0130;
$secondary-color : #A8392E;
$primary-text-color : #636363; 
$white : #FFF;
$linear-transparent: linear-gradient(90deg, $primary-color 0%, rgba(7,8,47,0) 100%);

/* elements */
$border : 1.2px;
$border-gap: -4px;

$nav-height: 120px;
$main-padding: 20px;
$cta-margin: 35px;
$main-margin: $cta-margin;

$myfont: 'Roboto', 'arial', sans-serif;
$letterspacing : 0.9px;
$p-size: 16px;
$icon-size: 24px;

/* Breakpoints */
$iphone : 575px;
$ipad : 991px;
$ipad-land : 991px;
$laptop : 1199px;
$desktop : 1499px;

/* Container */
$container-size: 1140px;