@mixin square-element {
	content: '';
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	opacity: 0;
	z-index: 2;
	@include transition;
}

.generic-vignette {
	position: relative;
	overflow: hidden;
	/*@include shadowed(60px); */
	img {
		width: 100%;
		max-width: 100%;
		@include transition(1s);
	}
	a {
		display: block;
		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}
	&::before,
	&::after {
		@include square-element;
	}
	&::before {
		top: $main-padding;
		right: $main-padding;
		border-right: $border solid $white;
		border-top: $border solid $white;
		opacity: 1;
	}
	&::after {
		left: $main-padding;
		bottom: $main-padding;
		border-left: $border solid $white;
		border-bottom: $border solid $white;
		opacity: 1;
	}
	@media screen and (max-width: $ipad) {
		&::before, 
		&::after {
			height: 30px;
			width: 30px;
		}
		&::before {
			right: 15px;
			top: 15px;
		}
		&::after {
			left: 15px;
			bottom: 15px;
		}
	}
	.label {
		color: $white;
		position: absolute;
		bottom: 0;
		right: $main-padding;
		max-width: 80%;
		opacity: 0;
		text-align: right;
		@include transition;
		@media screen and (max-width: $ipad) {
			opacity: 1; 
			bottom: 15px;
			right: 15px;
		}
	}
	&:hover {
		.label {
			opacity: 1;
			bottom: $main-padding;
		}
	}
}

.vignette-projet {
	position: relative;
	overflow: hidden;
	a {
		display: block;
	}
	img {
		@include transition;
		transform: scale(1.02);
	}
	.label {
		color: $white;
		position: absolute;
		bottom: 0;
		right: $main-padding;
		opacity: 0;
		@include transition;
	}
	&::before,
	&::after {
		@include square-element;
	}
	&::before {
		top: $main-padding;
		right: $main-padding;
		border-right: $border solid $white;
		border-top: $border solid $white;
	}
	&::after {
		left: $main-padding;
		bottom: $main-padding;
		border-left: $border solid $white;
		border-bottom: $border solid $white;
	}
	&:hover {
		img {
			transform: scale(1);
		}
		.label {
			opacity: 1;
			bottom: $main-padding;
		}
		&::before, 
		&::after {
			opacity: 1;
		}
	}
}