:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

html {
  scroll-behavior: smooth;
  scroll-margin: 120px; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    scroll-margin: 120px; } }

a {
  text-decoration: none; }
  a:hover {
    color: #FFF;
    text-decoration: none; }

.btn, .btn-primary, .btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn,
.btn-secondary, .btn-secondary--right, .primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn, .btn-secondary--down, .hero--generic-hero .cta .btn, .btn-white, .btn-link, .btn-arrow {
  border-radius: 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.9px; }

.btn-primary, .btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn,
.btn-secondary,
.btn-secondary--right,
.primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn,
.btn-secondary--down,
.hero--generic-hero .cta .btn {
  font-weight: 500;
  font-style: italic;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  display: inline-block;
  color: #FFF;
  background-color: #0C0130; }
  .btn-primary::before, .btn-primary--right::before, .white--bg .cta .btn::before, .white--bg .cta .btn-primary::before,
  .white--bg .cta .btn-secondary::before, .white--bg .cta .btn-secondary--right::before, .white--bg .cta .btn-secondary--down::before, .white--bg .cta .btn-white::before, .white--bg .cta .btn-link::before, .white--bg .cta .btn-arrow::before,
  .white--bg .cta--text-block .btn::before, .white--bg .cta--text-block .btn-primary::before,
  .white--bg .cta--text-block .btn-secondary::before, .white--bg .cta--text-block .btn-secondary--right::before, .white--bg .cta--text-block .btn-secondary--down::before, .white--bg .cta--text-block .btn-white::before, .white--bg .cta--text-block .btn-link::before, .white--bg .cta--text-block .btn-arrow::before,
  .btn-secondary::before,
  .btn-secondary--right::before,
  .primary-color--bg .cta .btn::before,
  .primary-color--bg .cta--text-block .btn::before,
  .btn-secondary--down::before,
  .hero--generic-hero .cta .btn::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .btn-primary:hover, .btn-primary--right:hover, .white--bg .cta .btn:hover, .white--bg .cta .btn-primary:hover,
  .white--bg .cta .btn-secondary:hover, .white--bg .cta .btn-secondary--right:hover, .white--bg .cta .btn-secondary--down:hover, .white--bg .cta .btn-white:hover, .white--bg .cta .btn-link:hover, .white--bg .cta .btn-arrow:hover,
  .white--bg .cta--text-block .btn:hover, .white--bg .cta--text-block .btn-primary:hover,
  .white--bg .cta--text-block .btn-secondary:hover, .white--bg .cta--text-block .btn-secondary--right:hover, .white--bg .cta--text-block .btn-secondary--down:hover, .white--bg .cta--text-block .btn-white:hover, .white--bg .cta--text-block .btn-link:hover, .white--bg .cta--text-block .btn-arrow:hover,
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .primary-color--bg .cta .btn:hover,
  .primary-color--bg .cta--text-block .btn:hover,
  .btn-secondary--down:hover,
  .hero--generic-hero .cta .btn:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; }
    .btn-primary:hover::before, .btn-primary--right:hover::before, .white--bg .cta .btn:hover::before, .white--bg .cta .btn-primary:hover::before,
    .white--bg .cta .btn-secondary:hover::before, .white--bg .cta .btn-secondary--right:hover::before, .white--bg .cta .btn-secondary--down:hover::before, .white--bg .cta .btn-white:hover::before, .white--bg .cta .btn-link:hover::before, .white--bg .cta .btn-arrow:hover::before,
    .white--bg .cta--text-block .btn:hover::before, .white--bg .cta--text-block .btn-primary:hover::before,
    .white--bg .cta--text-block .btn-secondary:hover::before, .white--bg .cta--text-block .btn-secondary--right:hover::before, .white--bg .cta--text-block .btn-secondary--down:hover::before, .white--bg .cta--text-block .btn-white:hover::before, .white--bg .cta--text-block .btn-link:hover::before, .white--bg .cta--text-block .btn-arrow:hover::before,
    .btn-secondary:hover::before,
    .btn-secondary--right:hover::before,
    .primary-color--bg .cta .btn:hover::before,
    .primary-color--bg .cta--text-block .btn:hover::before,
    .btn-secondary--down:hover::before,
    .hero--generic-hero .cta .btn:hover::before {
      opacity: 0; }

.btn-primary::before, .btn-primary--right::before, .white--bg .cta .btn::before, .white--bg .cta .btn-primary::before,
.white--bg .cta .btn-secondary::before, .white--bg .cta .btn-secondary--right::before, .white--bg .cta .btn-secondary--down::before, .white--bg .cta .btn-white::before, .white--bg .cta .btn-link::before, .white--bg .cta .btn-arrow::before,
.white--bg .cta--text-block .btn::before, .white--bg .cta--text-block .btn-primary::before,
.white--bg .cta--text-block .btn-secondary::before, .white--bg .cta--text-block .btn-secondary--right::before, .white--bg .cta--text-block .btn-secondary--down::before, .white--bg .cta--text-block .btn-white::before, .white--bg .cta--text-block .btn-link::before, .white--bg .cta--text-block .btn-arrow::before {
  border: 1.2px solid #0C0130;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  opacity: 1;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s; }

.btn-primary:hover, .btn-primary--right:hover, .white--bg .cta .btn:hover, .white--bg .cta .btn-primary:hover,
.white--bg .cta .btn-secondary:hover, .white--bg .cta .btn-secondary--right:hover, .white--bg .cta .btn-secondary--down:hover, .white--bg .cta .btn-white:hover, .white--bg .cta .btn-link:hover, .white--bg .cta .btn-arrow:hover,
.white--bg .cta--text-block .btn:hover, .white--bg .cta--text-block .btn-primary:hover,
.white--bg .cta--text-block .btn-secondary:hover, .white--bg .cta--text-block .btn-secondary--right:hover, .white--bg .cta--text-block .btn-secondary--down:hover, .white--bg .cta--text-block .btn-white:hover, .white--bg .cta--text-block .btn-link:hover, .white--bg .cta--text-block .btn-arrow:hover {
  background-color: #060017; }

.btn-primary--right, .white--bg .cta .btn,
.white--bg .cta--text-block .btn {
  position: relative;
  padding-right: 50px !important; }
  .btn-primary--right::after, .white--bg .cta .btn-primary::after, .white--bg .cta .btn-primary--right::after, .white--bg .cta .btn::after,
  .white--bg .cta .btn-secondary::after, .white--bg .cta .btn-secondary--right::after, .white--bg .cta .btn-secondary--down::after, .white--bg .cta .btn-white::after, .white--bg .cta .btn-link::after, .white--bg .cta .btn-arrow::after,
  .white--bg .cta--text-block .btn::after {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }


.btn-secondary,
.btn-secondary--right,
.primary-color--bg .cta .btn,
.primary-color--bg .cta--text-block .btn,
.btn-secondary--down,
.hero--generic-hero .cta .btn {
  background-color: #A8392E; }
  
  .btn-secondary::before,
  .btn-secondary--right::before,
  .primary-color--bg .cta .btn::before,
  .primary-color--bg .cta--text-block .btn::before,
  .btn-secondary--down::before,
  .hero--generic-hero .cta .btn::before {
    border-color: #A8392E; }
  
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  .primary-color--bg .cta .btn:hover,
  .primary-color--bg .cta--text-block .btn:hover,
  .btn-secondary--down:hover,
  .hero--generic-hero .cta .btn:hover {
    background-color: #943229; }
  .btn-secondary--right, .primary-color--bg .cta .btn,
  .primary-color--bg .cta--text-block .btn {
    position: relative;
    padding-right: 50px !important; }
    .btn-secondary--right::after, .primary-color--bg .cta .btn::after,
    .primary-color--bg .cta--text-block .btn::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }
  .btn-secondary--down, .hero--generic-hero .cta .btn {
    position: relative;
    padding-left: 45px !important;
    padding-right: 20px !important; }
    .btn-secondary--down::after, .hero--generic-hero .cta .btn::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      left: 10px;
      right: auto;
      background-size: auto 22px;
      background-image: url("../../../../images/arrows/arrow-down--white.png"); }

.btn-white {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-white--right {
    padding-right: 50px !important; }
    .btn-white--right::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }

.btn-link {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-link.primary-color {
    color: #0C0130; }

.btn-arrow {
  display: block;
  height: 60px;
  width: 60px; }
  .btn-arrow--right {
    background: #FFF url("../../../../images/arrows/arrow-right--red.png") no-repeat center/22px auto; }
  .btn-arrow--left {
    background: #FFF url("../../../../images/arrows/arrow-left--red.png") no-repeat center/22px auto; }

.max-width-sm {
  max-width: 320px; }

.max-width-md, .element-quote {
  max-width: 540px; }

.max-width-lg {
  max-width: 720px; }
  @media screen and (max-width: 1199px) {
    .max-width-lg {
      max-width: 660px; } }

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block; }

ul.list-inline {
  padding: 0;
  margin: 0;
  display: block; }
  ul.list-inline li {
    display: inline-block;
    margin-right: 15px; }
    ul.list-inline li a {
      display: block; }
    @media screen and (max-width: 575px) {
      ul.list-inline li {
        display: block; } }

ul.list-item {
  padding: 0;
  display: block;
  list-style-position: inside; }
  ul.list-item li {
    display: list-item;
    padding: 3.5px 0; }

.img-fluid {
  display: block;
  max-width: 100%; }

.cta--text-block .title, .cta--text-block .wide-title, .cta--text-block .big-title, .cta--text-block .medium-title, .cta--text-block .small-title {
  position: relative; }
  .cta--text-block .title + p, .cta--text-block .wide-title + p, .cta--text-block .big-title + p, .cta--text-block .medium-title + p, .cta--text-block .small-title + p {
    margin-top: 35px; }
  .cta--text-block .title::before, .cta--text-block .wide-title::before, .cta--text-block .big-title::before, .cta--text-block .medium-title::before, .cta--text-block .small-title::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg); }

.cta--text-block p + a {
  margin-top: 25px; }

.cta--banner__wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 60px; }
  .cta--banner__wrapper .image-wrapper {
    position: relative;
    margin-top: 35px;
    margin-bottom: -120px; }

.cta--banner + .generic-banner {
  padding-top: 180px; }

.primary-color {
  color: #0C0130; }
  .primary-color--bg {
    background-color: #0C0130; }
    .primary-color--bg p, .primary-color--bg span, .primary-color--bg a, .primary-color--bg i,
    .primary-color--bg h1, .primary-color--bg h2, .primary-color--bg h3, .primary-color--bg h4, .primary-color--bg h5, .primary-color--bg ul, .primary-color--bg li {
      color: #FFF; }
    .primary-color--bg .cta,
    .primary-color--bg .cta--text-block {
      color: #FFF; }
    .primary-color--bg .title-lines.wide-title::after {
      background-color: #FFF; }
    .primary-color--bg .title-lines::before {
      background-color: rgba(255, 255, 255, 0.14); }
    .primary-color--bg .element-quote .big-title::before, .primary-color--bg .element-quote .big-title::after,
    .primary-color--bg .element-quote .title::before,
    .primary-color--bg .element-quote .wide-title::before,
    .primary-color--bg .element-quote .big-title::before,
    .primary-color--bg .element-quote .medium-title::before,
    .primary-color--bg .element-quote .small-title::before,
    .primary-color--bg .element-quote .title::after,
    .primary-color--bg .element-quote .wide-title::after,
    .primary-color--bg .element-quote .big-title::after,
    .primary-color--bg .element-quote .medium-title::after,
    .primary-color--bg .element-quote .small-title::after {
      background-color: rgba(255, 255, 255, 0.14); }

.secondary-color {
  color: #A8392E; }

.white {
  color: #FFF; }
  .white--bg h1, .white--bg h2, .white--bg h3, .white--bg h4, .white--bg h5 {
    color: #0C0130; }
  .white--bg p {
    color: #636363; }
  .white--bg .title-lines::before {
    background-color: #0C0130; }
  .white--bg .title-lines.wide-title::after {
    background-color: #0C0130; }

.generic-banner {
  padding-top: 120px;
  padding-bottom: 120px; }
  .generic-banner .container {
    position: relative;
    z-index: 2; }
  @media screen and (max-width: 991px) {
    .generic-banner {
      padding-top: 90px;
      padding-bottom: 90px; } }
  @media screen and (max-width: 575px) {
    .generic-banner {
      padding-top: 60px;
      padding-bottom: 60px; } }

.element-quote {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative; }
  .element-quote .title + span, .element-quote .wide-title + span, .element-quote .big-title + span, .element-quote .medium-title + span, .element-quote .small-title + span {
    display: block;
    padding-top: 20px; }
  .element-quote .title::before, .element-quote .wide-title::before, .element-quote .big-title::before, .element-quote .medium-title::before, .element-quote .small-title::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    right: 10%;
    left: auto;
    top: -30px;
    bottom: auto; }
  .element-quote .title::after, .element-quote .wide-title::after, .element-quote .big-title::after, .element-quote .medium-title::after, .element-quote .small-title::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    height: 1.2px;
    width: 60px;
    left: -70px;
    bottom: -25px;
    transform: rotate(-45deg);
    left: -60px; }
  @media screen and (max-width: 575px) {
    .element-quote .title, .element-quote .wide-title, .element-quote .big-title, .element-quote .medium-title, .element-quote .small-title {
      padding-top: 20px; }
      .element-quote .title::after, .element-quote .wide-title::after, .element-quote .big-title::after, .element-quote .medium-title::after, .element-quote .small-title::after {
        left: -25px;
        bottom: -10px; }
      .element-quote .title::before, .element-quote .wide-title::before, .element-quote .big-title::before, .element-quote .medium-title::before, .element-quote .small-title::before {
        right: -15px;
        top: -5px; } }
  .element-quote.secondary-color .title::before, .element-quote.secondary-color .wide-title::before, .element-quote.secondary-color .big-title::before, .element-quote.secondary-color .medium-title::before, .element-quote.secondary-color .small-title::before, .element-quote.secondary-color .title::after, .element-quote.secondary-color .wide-title::after, .element-quote.secondary-color .big-title::after, .element-quote.secondary-color .medium-title::after, .element-quote.secondary-color .small-title::after {
    opacity: 0.14;
    background-color: #A8392E; }

/* Hero banner */
.hero, .hero--home {
  background-color: #0C0130;
  padding-top: 200px;
  min-height: 90vh; }
  .hero .text-wrapper, .hero--home .text-wrapper {
    text-align: left;
    color: #FFF;
    animation: fadeInText 1.5s 1 forwards; }
  .hero.page-404, .page-404.hero--home {
    padding-top: 240px; }
  .hero--generic-hero {
    position: relative; }
    .hero--generic-hero .container {
      position: relative;
      z-index: 2; }
    .hero--generic-hero .cta {
      max-width: 510px;
      margin-right: auto;
      margin-left: 0;
      padding: 0 15px 60px; }
      .hero--generic-hero .cta .title-lines::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        right: 5%;
        left: auto;
        top: -30px;
        bottom: auto; }
      .hero--generic-hero .cta .title-lines::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        background-color: #FFF;
        opacity: 0.14;
        left: -60px; }
    .hero--generic-hero .image-wrapper {
      position: relative;
      margin-top: -60px; }
      .hero--generic-hero .image-wrapper .generic-vignette {
        opacity: 0;
        animation: fadein 2s 0.5s 1 forwards; }
    .hero--generic-hero + .generic-banner {
      margin-top: 60px; }
    .hero--generic-hero::before {
      position: absolute;
      display: block;
      content: '';
      height: 500px;
      width: 500px;
      top: 0;
      left: 0;
      background: radial-gradient(at top left, #120249 0, #0C0130 50%); }
      @media screen and (min-width: 1199px) {
        .hero--generic-hero::before {
          height: 700px;
          width: 700px; } }
      @media screen and (max-width: 991px) {
        .hero--generic-hero::before {
          display: none; } }
    .hero--generic-hero::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      right: 0;
      height: 400px;
      width: 400px;
      background: radial-gradient(at bottom right, #080121 0, #0C0130 50%); }
      @media screen and (min-width: 1199px) {
        .hero--generic-hero::after {
          height: 700px;
          width: 700px; } }
  .hero--small-hero {
    min-height: 200px;
    padding-bottom: 20px;
    padding-bottom: 60px;
    height: auto; }
    .hero--small-hero .text-wrapper {
      position: relative;
      text-align: center;
      margin: 0 auto;
      max-width: 740px; }
      .hero--small-hero .text-wrapper .title, .hero--small-hero .text-wrapper .wide-title, .hero--small-hero .text-wrapper .big-title, .hero--small-hero .text-wrapper .medium-title, .hero--small-hero .text-wrapper .small-title {
        margin: 0 auto; }
      .hero--small-hero .text-wrapper .intro {
        line-height: 24px; }
      .hero--small-hero .text-wrapper::before, .hero--small-hero .text-wrapper::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        height: 1.2px;
        width: 60px;
        left: -70px;
        bottom: -25px;
        transform: rotate(-45deg);
        position: static;
        opacity: 0.14;
        background: #FFF; }
      .hero--small-hero .text-wrapper::before {
        margin: 0 auto 30px;
        transform: translateX(85px) rotate(-45deg); }
      .hero--small-hero .text-wrapper::after {
        margin: 30px auto 0;
        transform: translateX(-85px) rotate(-45deg); }
  .hero--home .text-wrapper {
    text-align: center; }

@media screen and (min-width: 991px) {
  .sticky-top {
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 150px; }
  section.two-column-banner .text-wrapper.left-col .cta {
    padding-right: 45px; }
  section.two-column-banner .text-wrapper.right-col .cta {
    padding-left: 45px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero, .hero--home {
    height: 90vh;
    min-height: 450px;
    max-height: 600px; } }

@media screen and (min-width: 1199px) {
  .hero, .hero--home {
    min-height: 750px;
    height: 80vh; }
    .hero .cta, .hero--home .cta {
      padding: 80px 15px 15px; }
    .hero.hero--small-hero, .hero--small-hero.hero--home {
      height: auto;
      min-height: 200px;
      padding-top: 150px; } }

@media screen and (min-width: 1499px) {
  .hero, .hero--home {
    min-height: 780px; }
    .hero .cta, .hero--home .cta {
      padding: 120px 15px 15px; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero--generic-hero .cta {
    padding-top: 60px; }
  .hero--generic-hero + .generic-banner {
    margin-top: 0; }
  .cta--banner + .generic-banner {
    padding-bottom: 60px; }
  .cta--banner__wrapper {
    padding: 60px 30px; } }

@media screen and (max-width: 991px) {
  section.hero--small-hero {
    padding-top: 120px; }
  section.hero--generic-hero {
    padding-top: 0; }
    section.hero--generic-hero .text-wrapper {
      margin-top: -60px;
      z-index: 2; }
      section.hero--generic-hero .text-wrapper .cta {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px 60px; }
    section.hero--generic-hero .container {
      width: 100%; }
    section.hero--generic-hero .image-wrapper {
      margin-top: 0;
      padding: 0;
      max-height: 60vh;
      overflow: hidden; }
      section.hero--generic-hero .image-wrapper::before {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        content: '';
        z-index: 2;
        background: linear-gradient(0deg, #07082F 0%, rgba(7, 8, 47, 0) 100%); }
      section.hero--generic-hero .image-wrapper .generic-vignette::before, section.hero--generic-hero .image-wrapper .generic-vignette::after {
        display: none; }
    section.hero--generic-hero + .generic-banner {
      margin-top: 0;
      padding-left: 20px;
      padding-right: 20px; }
  .cta--banner + .generic-banner {
    padding-top: 120px; }
  .cta--banner__wrapper {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px; }
    .cta--banner__wrapper .cta--text-block {
      padding-bottom: 30px; }
    .cta--banner__wrapper .col-left {
      padding: 0; } }

@media screen and (max-width: 575px) {
  section.hero--small-hero .text-wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  section.hero--generic-hero {
    padding-top: 0; }
    section.hero--generic-hero.page-404 {
      padding-top: 180px; }
    section.hero--generic-hero .text-wrapper {
      margin-top: -60px;
      z-index: 2; }
      section.hero--generic-hero .text-wrapper .cta {
        padding: 0 20px 60px; }
    section.hero--generic-hero .image-wrapper {
      max-height: 80vh; }
  section.two-column-banner .text-wrapper.left-col .cta {
    padding-right: 0; }
  .cta--banner {
    padding-bottom: 120px; }
    .cta--banner .container {
      padding-left: 0;
      padding-right: 0; }
    .cta--banner__wrapper {
      padding: 20px;
      max-width: 100%; }
      .cta--banner__wrapper .image-wrapper {
        margin-top: 10px; }
    .cta--banner + .generic-banner {
      padding-top: 60px; } }
