:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }
