:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

aside.references {
  padding-top: 60px;
  padding-bottom: 120px; }

aside.insta {
  padding-bottom: 60px;
  padding-top: 60px; }
  aside.insta .text-wrapper {
    position: relative;
    max-width: 410px;
    margin-right: 0;
    margin-left: auto; }
    aside.insta .text-wrapper .title::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      height: 1.2px;
      width: 60px;
      left: -70px;
      bottom: -25px;
      transform: rotate(-45deg);
      left: auto;
      bottom: auto;
      top: -25px;
      right: 60px;
      background-color: #A8392E;
      opacity: 0.14; }
    aside.insta .text-wrapper p {
      margin-top: 20px; }
    aside.insta .text-wrapper ul.btn-wrapper li i {
      font-size: 24px; }
  aside.insta .generic-vignette::before, aside.insta .generic-vignette::after {
    opacity: 0; }
  aside.insta .generic-vignette:first-child()::before, aside.insta .generic-vignette:first-child()::after {
    opacity: 1; }

.footer {
  padding-top: 120px;
  padding-bottom: 60px; }
  .footer__left {
    text-align: left; }
  .footer__right {
    text-align: right; }
  .footer--primary .title {
    padding-bottom: 20px; }
  .footer--primary span.footer-text {
    display: block; }
  .footer--primary .btn-wrapper {
    padding-top: 20px; }
  .footer--primary ul.btn-wrapper {
    margin: 0; }
  .footer--primary .btn-icon {
    font-size: 24px; }
  .footer--primary .logo-wrapper {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; }
    .footer--primary .logo-wrapper img.logo {
      display: block;
      margin: 0 auto;
      max-width: 260px; }
  .footer--mentions {
    padding-top: 60px; }
    .footer--mentions span {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px; }
    .footer--mentions a {
      color: rgba(255, 255, 255, 0.6);
      transition: all 0.65s;
      -moz-transition: all 0.65s;
      -webkit-transition: all 0.65s; }
      .footer--mentions a:hover {
        color: #FFF; }

.logo-mobile {
  display: none; }

@media screen and (max-width: 1199px) {
  aside.references {
    padding-top: 30px;
    padding-bottom: 60px; }
  aside.insta {
    padding-bottom: 60px; }
    aside.insta .text-wrapper {
      padding-left: 60px; } }

@media screen and (max-width: 991px) {
  .logo-desktop {
    display: none; }
  .logo-mobile {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 20px; }
    .logo-mobile .logo-wrapper img.logo {
      height: 80px; }
  .footer {
    padding: 60px 5px; }
    .footer--primary span.footer-text {
      margin-bottom: 5px; }
    .footer--primary .footer__left,
    .footer--primary .footer__right {
      padding: 20px; }
    .footer ul.list-inline li {
      display: inline-block;
      margin: 0 10px; }
    .footer--mentions {
      padding-top: 35px; }
  aside.insta .text-wrapper {
    padding-left: 0;
    margin: 60px auto 0;
    padding-bottom: 60px; }
    aside.insta .text-wrapper p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
    aside.insta .text-wrapper .big-title::before {
      right: auto;
      left: 250px; } }

@media screen and (max-width: 991px) {
  aside.references {
    text-align: center; }
    aside.references .title {
      padding: 0 20px 10px; }
  aside.insta {
    padding-bottom: 60px; }
    aside.insta .text-wrapper {
      max-width: 540px;
      text-align: center; }
      aside.insta .text-wrapper p {
        max-width: 400px; }
  .footer__left {
    text-align: center; }
  .footer__right {
    text-align: center; } }

@media screen and (max-width: 575px) {
  aside.references {
    padding-bottom: 30px;
    padding-top: 60px; }
  aside.insta {
    padding-bottom: 0; }
    aside.insta .text-wrapper {
      padding: 20px 20px 60px; }
    aside.insta .btn-wrapper li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
  .logo-mobile .logo-wrapper img.logo {
    height: 60px; } }
