/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }
