:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

:root {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  color: #0C0130; }

body {
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9px; }

main p {
  color: #636363;
  line-height: 24px;
  font-size: 16px; }

.title, .wide-title, .big-title, .medium-title, .small-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  .title + a, .wide-title + a, .big-title + a, .medium-title + a, .small-title + a,
  .title + ul,
  .wide-title + ul,
  .big-title + ul,
  .medium-title + ul,
  .small-title + ul,
  .title + ol,
  .wide-title + ol,
  .big-title + ol,
  .medium-title + ol,
  .small-title + ol,
  .title + .text-wrapper,
  .wide-title + .text-wrapper,
  .big-title + .text-wrapper,
  .medium-title + .text-wrapper,
  .small-title + .text-wrapper,
  .title + p,
  .wide-title + p,
  .big-title + p,
  .medium-title + p,
  .small-title + p {
    margin-top: 35px; }

/* typography */
.wide-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  opacity: 0.1; }
  .wide-title + .medium-title {
    margin-top: 5px; }

.big-title {
  font-weight: 700;
  font-style: italic;
  font-size: 48px; }

.medium-title {
  font-weight: 500;
  font-style: italic;
  font-size: 30px; }

.small-title {
  font-size: 21px;
  font-weight: 300; }

.title-lines::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg); }

.title-lines.wide-title::before {
  display: none; }

.title-lines.wide-title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  height: 1.2px;
  width: 60px;
  left: -70px;
  bottom: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  position: static;
  transform: translateY(-60px) rotate(-45deg); }

@media screen and (max-width: 1199px) {
  .wide-title {
    font-size: 44px; }
  .big-title {
    font-size: 44px; }
  .medium-title {
    font-size: 36px; }
  blockquote.medium-title {
    font-size: 30px; }
  .small-title {
    font-size: 26px; } }

@media screen and (max-width: 991px) {
  .medium-title {
    font-size: 32px; }
  .small-title {
    font-size: 24px; }
  blockquote.medium-title {
    font-size: 24px; } }

@media screen and (max-width: 575px) {
  .wide-title {
    font-size: 34px; }
  .big-title {
    font-size: 34px; }
  .medium-title {
    font-size: 26px; }
  .small-title {
    font-size: 21px; } }

html {
  scroll-behavior: smooth;
  scroll-margin: 120px; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    scroll-margin: 120px; } }

a {
  text-decoration: none; }
  a:hover {
    color: #FFF;
    text-decoration: none; }

.btn, .btn-primary, .btn-primary--right,
.btn-secondary, .btn-secondary--right, nav.main-navigation ul li.btn-primary-child a, .btn-secondary--down, .btn-white, .btn-link, .btn-arrow {
  border-radius: 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.9px; }

.btn-primary, .btn-primary--right,
.btn-secondary,
.btn-secondary--right,
nav.main-navigation ul li.btn-primary-child a,
.btn-secondary--down {
  font-weight: 500;
  font-style: italic;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  display: inline-block;
  color: #FFF;
  background-color: #0C0130; }
  .btn-primary::before, .btn-primary--right::before,
  .btn-secondary::before,
  .btn-secondary--right::before,
  nav.main-navigation ul li.btn-primary-child a::before,
  .btn-secondary--down::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .btn-primary:hover, .btn-primary--right:hover,
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  nav.main-navigation ul li.btn-primary-child a:hover,
  .btn-secondary--down:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; }
    .btn-primary:hover::before, .btn-primary--right:hover::before,
    .btn-secondary:hover::before,
    .btn-secondary--right:hover::before,
    nav.main-navigation ul li.btn-primary-child a:hover::before,
    .btn-secondary--down:hover::before {
      opacity: 0; }

.btn-primary::before, .btn-primary--right::before {
  border: 1.2px solid #0C0130;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  opacity: 1;
  transition: all 0.65s;
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s; }

.btn-primary:hover, .btn-primary--right:hover {
  background-color: #060017; }

.btn-primary--right {
  position: relative;
  padding-right: 50px !important; }
  .btn-primary--right::after {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }


.btn-secondary,
.btn-secondary--right,
nav.main-navigation ul li.btn-primary-child a,
.btn-secondary--down {
  background-color: #A8392E; }
  
  .btn-secondary::before,
  .btn-secondary--right::before,
  nav.main-navigation ul li.btn-primary-child a::before,
  .btn-secondary--down::before {
    border-color: #A8392E; }
  
  .btn-secondary:hover,
  .btn-secondary--right:hover,
  nav.main-navigation ul li.btn-primary-child a:hover,
  .btn-secondary--down:hover {
    background-color: #943229; }
  .btn-secondary--right, nav.main-navigation ul li.btn-primary-child a {
    position: relative;
    padding-right: 50px !important; }
    .btn-secondary--right::after, nav.main-navigation ul li.btn-primary-child a::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }
  .btn-secondary--down {
    position: relative;
    padding-left: 45px !important;
    padding-right: 20px !important; }
    .btn-secondary--down::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      left: 10px;
      right: auto;
      background-size: auto 22px;
      background-image: url("../../../../images/arrows/arrow-down--white.png"); }

.btn-white {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-white--right {
    padding-right: 50px !important; }
    .btn-white--right::after {
      content: '';
      display: block;
      position: absolute;
      background-size: 22px auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 30px;
      top: 0;
      right: 10px;
      background-image: url("../../../../images/arrows/arrow-right--white.png"); }

.btn-link {
  color: #FFF;
  font-weight: 500;
  font-style: italic;
  display: inline-block; }
  .btn-link.primary-color {
    color: #0C0130; }

.btn-arrow {
  display: block;
  height: 60px;
  width: 60px; }
  .btn-arrow--right {
    background: #FFF url("../../../../images/arrows/arrow-right--red.png") no-repeat center/22px auto; }
  .btn-arrow--left {
    background: #FFF url("../../../../images/arrows/arrow-left--red.png") no-repeat center/22px auto; }

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding: 40px 0 15px;
  opacity: 0;
  animation: fadeInText 2s 1.5s 1 forwards;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  header.site-header .logo-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center; }
    header.site-header .logo-wrapper a span {
      color: #FFF; }
  header.site-header .logo-wrapper img.logo {
    max-width: 80px;
    margin-right: 20px;
    float: left; }

header.is-active {
  background: #0C0130;
  padding: 15px 0; }

#navicon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1.2px solid #FFF; }
  #navicon::before {
    border: 1.2px solid #0C0130;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 1;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    border-color: #FFF; }
  #navicon .lines {
    display: block;
    width: 25px;
    height: 1.2px;
    background-color: #FFF;
    margin: 0 auto;
    top: 24px;
    position: relative;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
    #navicon .lines::before {
      content: '';
      top: -8px;
      position: absolute;
      display: block;
      width: 25px;
      height: 1.2px;
      background-color: #FFF; }
    #navicon .lines::after {
      content: '';
      bottom: -8px;
      position: absolute;
      display: block;
      width: 25px;
      height: 1.2px;
      background-color: #FFF; }
  #navicon.active .lines {
    transform: rotate(45deg); }
    #navicon.active .lines::after {
      transform: rotate(-90deg);
      bottom: 0; }
    #navicon.active .lines::before {
      display: none; }
  #navicon.active::before {
    opacity: 0; }
  #navicon.passive::before {
    opacity: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px; }

nav.main-navigation {
  display: flex; }
  nav.main-navigation ul {
    padding: 0;
    margin: 0; }
    nav.main-navigation ul li {
      margin-left: 20px; }
      nav.main-navigation ul li a {
        display: block;
        position: relative;
        padding: 10px 0;
        color: #FFF;
        text-transform: none;
        letter-spacing: 0.9px; }
      nav.main-navigation ul li.btn-primary-child a {
        font-weight: 500;
        font-style: italic;
        padding: 10px 15px;
        background-color: #A8392E;
        color: #FFF;
        text-transform: uppercase; }
      nav.main-navigation ul li.btn-icon {
        margin-left: 10px;
        display: inline-block; }
        nav.main-navigation ul li.btn-icon a {
          display: block;
          width: 30px;
          text-align: center;
          position: relative; }
          nav.main-navigation ul li.btn-icon a::before {
            content: "\f09a";
            /* facebook */
            color: #FFF;
            font-family: FontAwesome;
            display: block;
            font-size: 21px;
            position: relative;
            top: 1.5px; }
        nav.main-navigation ul li.btn-icon.pinterest a::before {
          content: "\f0d2"; }
        nav.main-navigation ul li.btn-icon.instagram a::before {
          content: "\f16d"; }
        nav.main-navigation ul li.btn-icon.youtube a::before {
          content: "\f16a"; }

/* nav on desktop */
@media screen and (min-width: 991px) {
  nav.main-navigation ul, nav.filters__nav ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    nav.main-navigation ul.sub-menu, nav.filters__nav ul.sub-menu {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 220px;
      flex-direction: column;
      left: 0;
      text-align: left;
      display: none;
      padding: 10px 15px;
      background-color: #0C0130; }
      nav.main-navigation ul.sub-menu li, nav.filters__nav ul.sub-menu li {
        margin-left: 0;
        width: 100%; }
    nav.main-navigation ul li, nav.filters__nav ul li {
      display: inline-block; }
      nav.main-navigation ul li.menu-item-has-children, nav.filters__nav ul li.menu-item-has-children {
        position: relative; }
        nav.main-navigation ul li.menu-item-has-children:hover ul.sub-menu, nav.filters__nav ul li.menu-item-has-children:hover ul.sub-menu {
          display: block;
          animation: fadeinMenu 0.7s 0s 1 forwards; }
      nav.main-navigation ul li:not(.btn-primary-child) a::after, nav.filters__nav ul li:not(.btn-primary-child) a::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3.6px;
        border-top: 1.2px solid #FFF;
        border-bottom: 1.2px solid #FFF;
        opacity: 0;
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s; }
      nav.main-navigation ul li:not(.btn-primary-child) a:hover::after, nav.filters__nav ul li:not(.btn-primary-child) a:hover::after {
        width: 100%;
        opacity: 1;
        transition: all 0.65s;
        -moz-transition: all 0.65s;
        -webkit-transition: all 0.65s; }
      nav.main-navigation ul li:not(.btn-primary-child) a.active::after, nav.filters__nav ul li:not(.btn-primary-child) a.active::after {
        opacity: 1;
        width: 100%; } }

/* Mobile menu activation */
@media screen and (max-width: 991px) {
  #navicon {
    display: block; }
  nav.main-navigation {
    display: none;
    opacity: 0; }
    nav.main-navigation li.menu-item-has-children ul {
      padding: 15px 0; }
      nav.main-navigation li.menu-item-has-children ul::after, nav.main-navigation li.menu-item-has-children ul::before {
        width: 100px;
        height: 2px;
        display: block;
        position: absolute;
        content: '';
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 auto 15px;
        position: static; }
      nav.main-navigation li.menu-item-has-children ul::after {
        margin: 15px auto 0; }
      nav.main-navigation li.menu-item-has-children ul li a {
        color: rgba(255, 255, 255, 0.7); }
    nav.main-navigation.open {
      height: 100%;
      display: block;
      opacity: 1;
      transition: opacity 1s;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s; } }

@media screen and (min-width: 1499px) {
  header.site-header .container {
    width: 1340px; } }

@media screen and (max-width: 1199px) {
  header.site-header {
    padding-top: 25px; }
  nav.main-navigation ul li {
    margin-left: 10px; } }

@media screen and (max-width: 991px) {
  body.menu-open {
    overflow: hidden; }
    body.menu-open header.site-header {
      height: 100vh;
      width: 100%;
      padding-top: 150px;
      overflow: scroll;
      background-color: #0C0130; }
      body.menu-open header.site-header .logo-wrapper a {
        opacity: 1 !important;
        display: block;
        transition: all 0;
        -moz-transition: all 0;
        -webkit-transition: all 0;
        text-align: center; }
        body.menu-open header.site-header .logo-wrapper a img.logo {
          display: block;
          float: none;
          margin: 0 auto 20px; }
        body.menu-open header.site-header .logo-wrapper a span {
          font-size: 20px; }
  header.site-header {
    padding: 12.5px 0; }
    header.site-header .logo-wrapper img.logo {
      max-width: 55px; }
  #navicon {
    top: 15px; }
  nav.main-navigation ul {
    padding: 35px 0;
    max-width: 360px;
    margin: 0 auto;
    text-align: center; }
    nav.main-navigation ul li {
      display: block;
      margin: 0 auto 10px; }
      nav.main-navigation ul li a {
        font-size: 22px; }
      nav.main-navigation ul li.btn-primary-child {
        margin-top: 20px; }
        nav.main-navigation ul li.btn-primary-child a {
          font-size: 19px; } }

@media screen and (max-width: 575px) {
  #navicon {
    top: 10px; }
  header.site-header .logo-wrapper {
    padding-left: 12px; }
    header.site-header .logo-wrapper a {
      max-width: 275px; }
      header.site-header .logo-wrapper a span {
        font-size: 14px !important; }
    header.site-header .logo-wrapper img.logo {
      width: 50px;
      margin-right: 10px; }
  nav.main-navigation ul li a {
    font-size: 20px; }
  nav.main-navigation ul li.btn-primary-child a {
    font-size: 16px; }
  body.menu-open header.site-header {
    padding-top: 60px; }
    body.menu-open header.site-header .logo-wrapper a {
      margin-left: auto;
      margin-right: auto; } }
