:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */ }
  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */ }

/* arrows */
.horizontal-slider-wrapper {
  position: relative; }
  .horizontal-slider-wrapper a.slider-next-btn, .horizontal-slider-wrapper a.slider-prev-btn, .horizontal-slider-wrapper span.slider-next-btn, .horizontal-slider-wrapper span.slider-prev-btn {
    content: '';
    display: block;
    position: absolute;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30px;
    top: 0;
    right: 10px;
    position: absolute;
    cursor: pointer;
    width: 50px;
    z-index: 2; }
  .horizontal-slider-wrapper a.slider-next-btn, .horizontal-slider-wrapper span.slider-next-btn {
    background-image: url("../../../../images/arrows/arrow-right--red.png"); }
  .horizontal-slider-wrapper a.slider-prev-btn, .horizontal-slider-wrapper span.slider-prev-btn {
    background-image: url("../../../../images/arrows/arrow-left--red.png"); }
  .horizontal-slider-wrapper a.passive, .horizontal-slider-wrapper span.passive {
    opacity: 0.5; }
  .horizontal-slider-wrapper span.slider-partenaire-btn.slider-next-btn {
    right: 15px;
    background-color: #FFF; }
  .horizontal-slider-wrapper span.slider-partenaire-btn.slider-prev-btn {
    left: 15px;
    right: auto;
    background-color: #FFF; }
  @media screen and (max-width: 991px) {
    .horizontal-slider-wrapper span.slider-partenaire-btn.slider-next-btn, .horizontal-slider-wrapper span.slider-partenaire-btn.slider-prev-btn {
      left: auto;
      right: auto;
      position: static;
      height: 35px;
      display: inline-block; } }

.insta .horizontal-slider-wrapper,
.home--projets .horizontal-slider-wrapper,
.atelier--team .horizontal-slider-wrapper,
.atelier--bureau .horizontal-slider-wrapper {
  padding-right: 0;
  padding-left: 0; }
  .insta .horizontal-slider-wrapper a.slider-next-btn, .insta .horizontal-slider-wrapper a.slider-prev-btn, .insta .horizontal-slider-wrapper span.slider-next-btn, .insta .horizontal-slider-wrapper span.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper a.slider-next-btn,
  .home--projets .horizontal-slider-wrapper a.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper span.slider-next-btn,
  .home--projets .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-next-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-next-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-next-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-next-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
    height: 50px;
    width: 50px;
    right: 0;
    top: auto;
    bottom: -12px;
    background-color: #FFF; }
  .insta .horizontal-slider-wrapper a.slider-prev-btn, .insta .horizontal-slider-wrapper span.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper a.slider-prev-btn,
  .home--projets .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper a.slider-prev-btn,
  .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
    right: 50px; }

.atelier--team .horizontal-slider-wrapper {
  padding-top: 0; }
  .atelier--team .horizontal-slider-wrapper span.slider-next-btn {
    right: 15px;
    top: -50px;
    bottom: auto; }
  .atelier--team .horizontal-slider-wrapper span.slider-prev-btn {
    right: 65px;
    top: -50px;
    bottom: auto; }

.atelier--bureau .horizontal-slider article.slider-item {
  max-height: 60vh; }

.atelier--bureau .horizontal-slider-wrapper span.slider-next-btn, .atelier--bureau .horizontal-slider-wrapper span.slider-prev-btn {
  bottom: 4px; }

.home--projets .horizontal-slider-wrapper a.slider-next-btn, .home--projets .horizontal-slider-wrapper a.slider-prev-btn, .home--projets .horizontal-slider-wrapper span.slider-next-btn, .home--projets .horizontal-slider-wrapper span.slider-prev-btn {
  bottom: 4px; }

/* slider items */
.horizontal-slider {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-right: 0;
  width: 100%;
  scroll-behavior: smooth; }
  .horizontal-slider article {
    margin: 0 10px 0 0;
    display: inline-block; }
    .horizontal-slider article a {
      width: auto;
      height: 100%; }
    .horizontal-slider article.slider-item {
      height: 80vh;
      min-height: 460px;
      max-height: 670px;
      min-width: 300px;
      width: auto; }
      .horizontal-slider article.slider-item:first-child::before, .horizontal-slider article.slider-item:first-child::after {
        opacity: 1; }
      .horizontal-slider article.slider-item:first-child .label {
        bottom: 20px;
        opacity: 1; }
    .horizontal-slider article img {
      height: 100%;
      width: auto; }
  .horizontal-slider.references__slider {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    width: auto; }
    .horizontal-slider.references__slider .references__slider--item {
      display: inline-block;
      margin: 0;
      padding: 0 20px; }
      .horizontal-slider.references__slider .references__slider--item img {
        max-width: 200px; }
  .horizontal-slider.insta__slider {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: auto; }
    .horizontal-slider.insta__slider .insta__slider--item {
      display: inline-block;
      padding: 0 5px;
      height: 300px;
      width: 300px; }
      .horizontal-slider.insta__slider .insta__slider--item i {
        position: absolute;
        padding: 10px;
        color: #FFF;
        opacity: 0.6;
        bottom: 10px;
        left: 10px; }
      .horizontal-slider.insta__slider .insta__slider--item img {
        max-width: 300px;
        width: 100%; }
  .horizontal-slider.team-slider {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 0; }
    .horizontal-slider.team-slider .team-slider--item {
      display: inline-block;
      padding: 0 5px;
      height: auto;
      width: 350px; }
      .horizontal-slider.team-slider .team-slider--item img {
        width: 100%;
        max-width: 350px; }
      .horizontal-slider.team-slider .team-slider--item .image-wrapper {
        margin-bottom: 20px; }
      .horizontal-slider.team-slider .team-slider--item span {
        display: block; }
        .horizontal-slider.team-slider .team-slider--item span.title {
          font-weight: bold; }
      .horizontal-slider.team-slider .team-slider--item span.desc {
        color: #A8392E;
        padding-bottom: 10px;
        font-size: 18px;
        white-space: initial;
        height: 50px; }
      .horizontal-slider.team-slider .team-slider--item span.locate, .horizontal-slider.team-slider .team-slider--item span.mail {
        padding-bottom: 5px;
        color: #636363;
        font-size: 14px;
        overflow: hidden;
        line-height: 1.5em;
        text-overflow: ellipsis; }

@media screen and (max-width: 1199px) {
  .horizontal-slider.references__slider .references__slider--item img {
    max-width: 170px; } }

@media screen and (max-width: 991px) {
  .horizontal-slider article.slider-item {
    min-height: 380px;
    max-height: 550px; }
  .horizontal-slider.references__slider {
    margin: 0; }
    .horizontal-slider.references__slider .references__slider--item {
      width: 200px;
      text-align: center; }
      .horizontal-slider.references__slider .references__slider--item img {
        max-width: 150px; }
  .horizontal-slider.team-slider .team-slider--item {
    width: 300px; }
    .horizontal-slider.team-slider .team-slider--item span.desc {
      font-size: 16px; }
  .atelier--team .horizontal-slider-wrapper {
    padding-top: 0; }
    .atelier--team .horizontal-slider-wrapper span.slider-next-btn, .atelier--team .horizontal-slider-wrapper span.slider-prev-btn {
      top: -35px; }
  .atelier--bureau .horizontal-slider-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .atelier--bureau .horizontal-slider article.slider-item {
    max-height: 300px;
    min-width: 220px; } }

@media screen and (max-width: 575px) {
  .atelier--bureau .horizontal-slider-wrapper {
    padding-left: 0;
    padding-right: 0; }
  .atelier--bureau .horizontal-slider article.slider-item {
    max-height: 400px;
    min-height: 360px;
    min-width: 250px;
    width: auto;
    margin-right: 0; } }
