:root {
  --wp-admin-theme-color: $primary-color; }

body {
  margin: 0; }

/* elements */
/* Breakpoints */
/* Container */
/* animation fade in */
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-moz-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    top: 0;
    transform: translateY(0px); } }

@keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeinMenu {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10px); }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInText {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-5px) skew(-5deg); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0); } }

@keyframes fadeInImage {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1.05) translateY(20px); }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0); } }

.generic-vignette {
  position: relative;
  overflow: hidden;
  /*@include shadowed(60px); */ }
  .generic-vignette img {
    width: 100%;
    max-width: 100%;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s; }
  .generic-vignette a {
    display: block; }
    .generic-vignette a:hover img {
      transform: scale(1.05); }
  .generic-vignette::before, .generic-vignette::after {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .generic-vignette::before {
    top: 20px;
    right: 20px;
    border-right: 1.2px solid #FFF;
    border-top: 1.2px solid #FFF;
    opacity: 1; }
  .generic-vignette::after {
    left: 20px;
    bottom: 20px;
    border-left: 1.2px solid #FFF;
    border-bottom: 1.2px solid #FFF;
    opacity: 1; }
  @media screen and (max-width: 991px) {
    .generic-vignette::before, .generic-vignette::after {
      height: 30px;
      width: 30px; }
    .generic-vignette::before {
      right: 15px;
      top: 15px; }
    .generic-vignette::after {
      left: 15px;
      bottom: 15px; } }
  .generic-vignette .label {
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 20px;
    max-width: 80%;
    opacity: 0;
    text-align: right;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
    @media screen and (max-width: 991px) {
      .generic-vignette .label {
        opacity: 1;
        bottom: 15px;
        right: 15px; } }
  .generic-vignette:hover .label {
    opacity: 1;
    bottom: 20px; }

.vignette-projet {
  position: relative;
  overflow: hidden; }
  .vignette-projet a {
    display: block; }
  .vignette-projet img {
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s;
    transform: scale(1.02); }
  .vignette-projet .label {
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 20px;
    opacity: 0;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .vignette-projet::before, .vignette-projet::after {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.65s;
    -moz-transition: all 0.65s;
    -webkit-transition: all 0.65s; }
  .vignette-projet::before {
    top: 20px;
    right: 20px;
    border-right: 1.2px solid #FFF;
    border-top: 1.2px solid #FFF; }
  .vignette-projet::after {
    left: 20px;
    bottom: 20px;
    border-left: 1.2px solid #FFF;
    border-bottom: 1.2px solid #FFF; }
  .vignette-projet:hover img {
    transform: scale(1); }
  .vignette-projet:hover .label {
    opacity: 1;
    bottom: 20px; }
  .vignette-projet:hover::before, .vignette-projet:hover::after {
    opacity: 1; }
